@{
    ViewBag.Title = "Kontrollü Sayım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
    tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
    .portlet.box .dataTables_wrapper .dt-buttons { margin-top: -35px !important; }
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><a href="/WMS/Tasks">Görev Listesi</a><i class="fa fa-circle"></i></li><li><span>Kontrollü Sayım</span></li></ul></div>
<h1 class="page-title">Kontrollü Sayım</h1>
<div class="row">
    <div class="col-md-12">
        <div id="CreateEdit"></div>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Kontrollü Sayım
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/WMS/Tasks/New')"> Yeni Ekle </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Görev Durumu</div>
                            <div class="col-sm-4">
                                @Html.DropDownList("DurumID", null, htmlAttributes: new { @class = "form-control input-circle", @onchange = "FuncSearchBtn();" })
                            </div>
                            <div class="col-sm-1"><button type="button" class="btn btn-circle green" onclick="FuncSearchBtn();"><i class="icon-refresh"></i></button></div>
                        </div>
                    </div>
                </div>
                <div id="GorevGrid" class="p-30"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">
    $(document).ready(function () {
        FuncSearchBtn();
    });
    function FuncSearchBtn() {
        $('#GorevGrid').html("");
        PartialView('/WMS/Tasks/CountList', 'GorevGrid', JSON.stringify({ Id: $('#DurumID').val() }));
    }
    function getresult(e) {
        if (e.Status == true) {
            if (e.Message != "")
                Modaldialog(e.Message, 'Tamamlandı', 'Tamam', 'btn-success');
            $('#DurumID').val(11);
            FuncSearchBtn();
        }
        else
            Modaldialog(e.Message, 'Hata', 'Tamam', 'btn-danger');
    };
    function frmSubmit() {
        var dialog = bootbox.dialog({
            title: 'Liste Onayı',
            message: "<p>Eksik listesindeki ürünler 'Depo Sayım Fişi'ne atılsın mı?</p>",
            buttons: {
                yes: {
                    label: "Evet",
                    className: 'btn-info',
                    callback: function () {
                        $('#txtCountCreateTip').val("true");
                        $('#frmCreate').submit();
                    }
                },
                no: {
                    label: "Hayır",
                    className: 'btn-warning',
                    callback: function () {
                        $('#txtCountCreateTip').val("false");
                        $('#frmCreate').submit();
                    }
                },
                cancel: {
                    label: "İptal",
                    className: 'btn-danger',
                    callback: function () {
                    }
                }
            }
        });
    }
</script>
}