<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="modal-body">
                    <h4>Görev Ekle</h4>
                    <p>Buradan seçeceğiniz depoya bir kontrollü sayım görevi eklenecektir. Eğer seçili depoda böyle bir görev aktif olarak varsa yeniden eklenmeyecektir.</p>
                    @using (Ajax.BeginForm("SaveNew", "Tasks", new { area = "WMS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getresultnew", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "form-horizontal", id = "frmNew" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">Depo</label>
                            <div class="col-md-10">
                                @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control input-circle", required = "required" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                                <button type="button" class="btn btn-primary pull-right" id="submitter">Ekle</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $("#DepoID")[0].selectedIndex = 0; $("#DepoID").focus();
    $("#submitter").click(function () {
        if ($("#DepoID").val() != "")
            $("#frmNew").submit();
    });
    function getresultnew(e) {
        if (e.Status == true)
        {
            $('#DurumID').val(9);
            FuncSearchBtn();
            $('#modalEditPage').modal('toggle');
        }
        else
            Modaldialog(e.Message, 'Hata', 'Tamam', 'btn-danger');
    };
</script>