@{
    ViewBag.Title = "Gorev Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
        td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center!important;cursor: pointer;}
        tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center!important;}
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Görev Listesi</span></li></ul></div>
<h1 class="page-title">Görev Listesi</h1>
<div class="row">
    <div class="col-md-12">
        <div id="CreateEdit"></div>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Görev Listesi
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Görev Durumu</div>
                            <div class="col-sm-4">
                                @Html.DropDownList("DurumID", null, htmlAttributes: new { @class = "form-control input-circle", @onchange = "FuncSearchBtn();" })
                            </div>
                            <div class="col-sm-1"><button type="button" class="btn btn-circle green" onclick="FuncSearchBtn();"><i class="icon-refresh"></i></button></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Başlangıç Tarihi</div>
                            <div class="col-sm-4">
                                <input class="form-control input-circle dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.AddDays(-7).ToString("dd.MM.yyyy")" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="GorevGrid" class="p-30"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">
    FuncSearchBtn();
    var tarih = @DateTime.Today.AddDays(-3).ToOADateInt();
    $.datepicker.setDefaults($.datepicker.regional["tr"]);
    $("#txtBaslangic").datepicker().on("change", function (e) { tarih = toOADateFromString(e.target.value); FuncSearchBtn(); });
    function FuncSearchBtn() {
        //reset
        $('#GorevGrid').html("");
        DuzenleIptal();
        PartialView('/WMS/Tasks/List', 'GorevGrid', JSON.stringify({ Id: $('#DurumID').val(), Tarih: tarih }));
    }
    function newrow(id) { return "<div id='new" + id +"'></div>"; }
    function format(d) {
        $.ajax({
            type: 'POST',
            url: '/WMS/Tasks/Details',
            data: { "ID": d },
            dataType: "html",
            success: function (data) {
               $('#new' + d).html(data);
            }
        });
    }
    function CreateEdit(Id) {
        PartialView('/WMS/Tasks/GorevDetailPartial', 'CreateEdit', JSON.stringify({ Id: Id == null ? '' : Id }));
        $("#CreateEdit").show();
    }
    function DuzenleIptal() {
        $('#CreateEdit').html('');
        $("#CreateEdit").hide();
    }
</script>}