@{
    ViewBag.Title = "Gorev Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Görev Listesi</span></li></ul></div>
<h1 class="page-title">Görev Listesi</h1>
<div class="row">
    <div class="col-md-12">
        <div id="CreateEdit"></div>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Görev Listesi
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal m-b-30">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Görev Durumu</div>
                            <div class="col-sm-4">
                                @Html.DropDownList("DurumID", null, htmlAttributes: new { @class = "form-control input-circle", @onchange = "FuncSearchBtn();" })
                            </div>
                            <div class="col-sm-1"><button type="button" class="btn btn-circle green" onclick="FuncSearchBtn();"><i class="icon-refresh"></i></button></div>
                        </div>
                        <div class="form-group" id="tarihsecim">
                            <div class="col-sm-3 control-label">Başlangıç Tarihi</div>
                            <div class="col-sm-4">
                                <input class="form-control input-circle dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.AddDays(-7).ToString("dd.MM.yyyy")" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app">
                    <table class="table table-striped table-responsive table-bordered">
                        <thead><tr><th></th><th>Görev No</th><th>Depo</th><th>Evrak No</th><th>Görev Tipi</th><th>Görevli</th><th>Sipariş<br />Tarihi</th><th>Oluşturma<br />Tarihi</th><th>Bitirme<br />Tarihi</th><th>Bilgi</th><th></th></tr></thead>
                        <tr v-for="item in items">
                            <td>{{item.ID}}</td>
                            <td>{{item.GorevNo}}</td>
                            <td>{{item.DepoAd}}</td>
                            <td>{{item.EvrakNo}}</td>
                            <td>{{item.GorevTipi}}</td>
                            <td>{{item.Gorevli}}</td>
                            <td>{{item.SiparisTarihi}}</td>
                            <td>{{item.OlusturmaTarihi}}</td>
                            <td>{{item.BitisTarihi}}</td>
                            <td>{{item.Bilgi}}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script src="https://cdn.jsdelivr.net/npm/vue"></script><script type="text/javascript">
    //FuncSearchBtn();
    var tarih = @DateTime.Today.AddDays(-7).ToOADateInt();
    $('#tarihsecim').hide();
    $.datepicker.setDefaults($.datepicker.regional["tr"]);
    $("#txtBaslangic").datepicker().on("change", function (e) { tarih = toOADateFromString(e.target.value); FuncSearchBtn(); });
    var app = new Vue({
        el: '#app',
        data: {
            items: []
        },
        mounted: function ()
        {
            var self = this;
            var tmp = 0;
            if ($('#DurumID').val() != 9)
            {
                tmp = tarih;
                $('#tarihsecim').show();
            }
            else
                $('#tarihsecim').hide();
            $.ajax({
                url: '/WMS/Tasks/List3',
                data: { Id: $('#DurumID').val(), Tarih: tmp },
                method: 'GET',
                success: function (data)
                {
                    self.items = data;
                },
                error: function (error)
                {
                    console.log(error);
                }
            });
        }
    })
    function FuncSearchBtn()
    {
        app.$forceUpdate();
    }
</script>
}