@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<div class="col-md-12" style="width:100%;">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Müşteri Sözleşme Satış Kontrol
            </div>
        

        </div>

        <div class="portlet-body">
        
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered table-condensed" id="sample_1">
                        <thead>
                            <tr>
                                <th>Müşteri Ünvan</th>
                                <th>Grup</th>
                                <th>Tip Kod</th>
                                <th>Fatura No</th>
                                <th>Satış Tutarı</th>
                                <th>Nakit</th>
                                <th>Kredi Kartı</th>
                                <th>Vadeli Liste</th>
                                <th>Vadeli Özel</th>
                                
                            </tr>
                        </thead>
                        <tfoot class="tf-search">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr>
                        </tfoot>
                      
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        @*var model =  @Html.Raw(serializer.Serialize(Model));*@
        $('#sample_1 .tf-search th').each(function () {
            var title = $('#sample_1 thead th').eq($(this).index()).text();
            if (title != "") {
                $(this).html('<input type="text" class="form-control input-circle" placeholder="Ara" />');
            }
        });


        var simple_checkbox = function (data) {
            return data == true ? "Evet" : "Hayır";
        }
        var tableberk = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "ajax": {
                "url": '/Reports/Satis/MSSKList',
                "data": { bastarih: basTarih, bittarih: bitTarih },
                "dataSrc": function (json) {
                    return json;
                },
            },
            "dom": 'lBfrtip',
            "scrollX": true,
            "buttons": [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs' }
            ],
            "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [4] }, { "className": "dt-center", "targets": "_all" }],
            "columns": [
                { "data": "Unvan" },
                { "data": "Grup" },
                { "data": "Aciklama" },
                { "data": "EvrakNo" },
                { "data": "SatisTutari", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Nakit", "render": simple_checkbox, "className": "dt-center" },
                { "data": "KrediKarti", "render": simple_checkbox, "className": "dt-center" },
                { "data": "VadeliListe", "render": simple_checkbox, "className": "dt-center" },
                { "data": "VadeliOzel", "render": simple_checkbox, "className": "dt-center" }
                
                
            ],
            "ordering": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $('td', nRow).attr('nowrap', 'nowrap');
                return nRow;
            }
            
        });
        $("#sample_1 tfoot input").on('keyup change', function () {
            tableberk
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });
        $('#sample_1 .tf-search tr').insertAfter($('#sample_1 thead tr'))
         //var buttons = new $.fn.dataTable.Buttons(tableberk, {
         //    buttons: [
         //        { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
         //        { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
         //    ]
         //}).container().appendTo($('#buttons'));
    });
</script>