@{
    ViewBag.Title = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="@Url.Content("~/Content/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Stok</span></li></ul></div>
<h1 class="page-title">Stok</h1>
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Stok
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Depo</div>
                                <div class="col-sm-4">
                                    @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control StoreListi input-circle", @onchange = "getCorridor(this.value);" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Koridor</div>
                                <div class="col-sm-4">
                                    <select id="KoridorID" class="form-control input-circle" onchange="getShelf(this.value);"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Raf</div>
                                <div class="col-sm-4">
                                    <select id="RafID" class="form-control input-circle" onchange="FuncSearchBtn();"></select>
                                </div>
                            </div>
                            <div id="Grid" class="p-30"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $("#DepoID")[0].selectedIndex = 0;
    function getCorridor(id) {
        $("#KoridorID option").remove();
        $("#RafID option").remove();
        $('#Grid').html("");
        $.ajax({
            url: "/Corridor/CorridorList/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#KoridorID').append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#KoridorID").prepend("<option value='0'>Seçiniz !!!</option>"); $("#KoridorID")[0].selectedIndex = 0;
                    FuncSearchBtn()
                }
            }
        });
    }
    function getShelf(id) {
        $("#RafID option").remove();
        $('#Grid').html("");
        $.ajax({
            url: "/Shelf/ShelfList/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#RafID').append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#RafID").prepend("<option value='0'>Seçiniz !!!</option>"); $("#RafID")[0].selectedIndex = 0;
                    FuncSearchBtn()
                }
            }
        });
    }
    function FuncSearchBtn() {
        var Type = $("input[type='radio'][name='Locked']:checked").val();
        var StoreId = $("#DepoID option:selected").val(); if (StoreId == null) StoreId = 0;
        var CorridorId = $("#KoridorID option:selected").val(); if (CorridorId == null) CorridorId = 0;
        var ShelfId = $("#RafID option:selected").val(); if (ShelfId == null) ShelfId = 0;
        $('#Grid').html("");
        PartialView('/Stock/List', 'Grid', JSON.stringify({ Id: (StoreId + "#" + CorridorId + "#" + ShelfId) }));
    }
</script>
}