@model Yer
@{
    ViewBag.Title = "Stok Yer Değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><a href="/Stock">Stok</a><i class="fa fa-circle"></i></li><li><span>Yer Değiştir</span></li></ul></div>
<h1 class="page-title">Stok Yer Değiştir</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Yer Değiştir
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Depo</div>
                            <div class="col-sm-4">
                                @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control input-circle", required = "required", @onchange = "getShelf(this.value);" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Raf</label>
                            <div class="col-md-4">
                                @Html.DropDownList("RafID", null, htmlAttributes: new { @class = "form-control input-circle", required = "required", @onchange = "getSection(this.value);" })
                                <span class="field-validation-valid" data-valmsg-for="RafID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Bölüm</label>
                            <div class="col-md-4">
                                @Html.DropDownList("BolumID", null, htmlAttributes: new { @class = "form-control input-circle", required = "required", @onchange = "getFloor(this.value);" })
                                <span class="field-validation-valid" data-valmsg-for="BolumID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Kat</label>
                            <div class="col-md-4">
                                @Html.DropDownList("KatID", null, htmlAttributes: new { @class = "form-control input-circle", required = "required", @onchange = "FuncSearchBtn();" })
                                <span class="field-validation-valid" data-valmsg-for="KatID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Liste
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div id="FloorGrid" class="form-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    $("#DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $("#DepoID")[0].selectedIndex = 0;
    function getShelf(id) {
        $('#FloorGrid').html("");
        $("#RafID option").remove();
        $("#BolumID option").remove();
        $("#KatID option").remove();
        $.ajax({
            url: "/Shelf/ShelfList2/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#RafID').append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#RafID").prepend("<option value=''>Seçiniz !!!</option>"); $("#RafID")[0].selectedIndex = 0;
                }
            }
        });
    }
    function getSection(id) {
        $('#FloorGrid').html("");
        $("#BolumID option").remove();
        $("#KatID option").remove();
        $.ajax({
            url: "/Section/SectionList/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#BolumID').append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#BolumID").prepend("<option value=''>Seçiniz !!!</option>"); $("#BolumID")[0].selectedIndex = 0;
                }
            }
        });
    }
    function getFloor(id) {
        $('#FloorGrid').html("");
        $("#KatID option").remove();
        $.ajax({
            url: "/Floor/FloorList/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#KatID').append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#KatID").prepend("<option value=''>Seçiniz !!!</option>"); $("#KatID")[0].selectedIndex = 0;
                }
            }
        });
    }
    function FuncSearchBtn() {
        $('#FloorGrid').html("");
        PartialView("/Stock/List", 'FloorGrid', JSON.stringify({ Id: ($("#DepoID").val() + "#" + $("#RafID").val() + "#" + $("#KatID").val() + "#true") }));
    }
</script>
}