@model List<RaporStokKodCase>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
@*<div class="exp-excel">
        <span>Excel</span>
    </div>*@
<div class="stk-rapor-grid">

</div>

<script type="text/javascript">

    $(document).ready(function () {

        var model = @Html.Raw(serializer.Serialize(Model));
        GRID_DOLDUR(model);

    });
    //$(document).on("click", ".exp-excel", function () {

    //    $(".stk-rapor-grid").dxDataGrid('instance').selectAll();

    //    setTimeout(function(){
    //        var gridItems = $(".stk-rapor-grid").dxDataGrid('instance').getSelectedRowsData();

    //        var _dfd = $.Deferred();
    //        $.ajax({
    //            url: window.location.origin + "/Rapor/ExportExcel",
    //            data: "",
    //            type: "post",
    //            success: function (data)
    //            {


    //            },
    //            error: function (jqxhr) { console.log(jqxhr); }
    //        });
    //        return _dfd.promise();
    //    }, 3000);

    //});
    function GRID_DOLDUR(model) {
        var _dfd = $.Deferred();
        //var result = data;
        //for (var i = 0; i < result.length; i++) {
        //    var arr = result[i].Tarih.split(".");
        //    arr[1] = (parseInt(arr[1]) - 1).toString();
        //    result[i].Tarih = new Date(arr[2],arr[1],arr[0]);
        //}
        var columns = [
                    {caption: 'Mal Kodu', dataField: 'MalKodu', width: '130px'},
                    { caption: 'Mal Adı', dataField: 'MalAdi', width: '180px' },
                    { caption: 'Grup Kodu', dataField: 'GrupKod', width: '200px' },
                    { caption: 'Tip Kodu', dataField: 'TipKod', width: '200px' },
                    { caption: 'Özel Kod', dataField: 'OzelKod', width: '200px' },
                    { caption: 'Kod1', dataField: 'Kod1', width: '200px' },
                    { caption: 'Kod2', dataField: 'Kod2', width: '200px' },
                    { caption: 'Kod3', dataField: 'Kod3', width: '200px' },
                    { caption: 'Giriş Miktar', dataField: 'GirMiktar', width: '200px',format: { type: 'fixedPoint', precision: 4 },
                        customizeText: function (cellInfo) {
                            return  cellInfo.valueText.replace(".", "x").replace(",",".").replace("x",",");
                        }
                    },
                    { caption: 'Cıkış Miktar', dataField: 'CikMiktar', width: '200px',format: { type: 'fixedPoint', precision: 4 },
                        customizeText: function (cellInfo) {
                            return  cellInfo.valueText.replace(".", "x").replace(",",".").replace("x",",");
                        }
                    },
                      { caption: 'Stok Miktar', dataField: 'StokMiktar', width: '200px',format: { type: 'fixedPoint', precision: 4 },
                          customizeText: function (cellInfo) {
                              return  cellInfo.valueText.replace(".", "x").replace(",",".").replace("x",",");
                          }
                      },
                    { caption: 'Birim1', dataField: 'Birim1', width: '200px' },
                    { caption: 'Birim2 Stok Miktar', dataField: 'StokMiktarBirim2', width: '200px',format: { type: 'fixedPoint', precision: 4 },
                        customizeText: function (cellInfo) {
                            return  cellInfo.valueText.replace(".", "x").replace(",",".").replace("x",",");
                        }
                    },

                    { caption: 'Birim2', dataField: 'Birim2', width: '200px' },
                    { caption: 'Birim3 Stok Miktar', dataField: 'StokMiktarBirim2', width: '200px',format: { type: 'fixedPoint', precision: 4 },
                        customizeText: function (cellInfo) {
                            return  cellInfo.valueText.replace(".", "x").replace(",",".").replace("x",",");
                        }
                    },
                    { caption: 'Birim3', dataField: 'Birim3', width: '200px' },
                    //{ caption: 'Tedarikçi MalKodu', dataField: 'SatMalKodu', width: '180px' },
                    //{ caption: 'StokAdresi', dataField: 'StokAdresi', width: '200px' },
                    //{ caption: 'Onaylı Tedarikçi', dataField: 'OnayliTedarikci', width: '200px' },
                    //{ caption: 'Onaylı Tedarikçi Unvan', dataField: 'OnayliTedarikciUnvan', width: '200px' }
        ];

        _grid_quotations_detail = $('.stk-rapor-grid').dxDataGrid({
            dataSource: model,
            //selection: {
            //    mode: "multiple",
            //    showCheckBoxesMode:"none"
            //},
            "export": {
                enabled: true,
                fileName: "Stok Raporu",
                allowExportSelectedData: true
            },
            height: function () {
                if(model!=null){
                    if (model.length < 15) {
                        return 130 + (model.length * 34)
                    }
                    else {
                        return 620;
                    }
                }
            },
            onRowPrepared: function (e) {
                e.rowElement.css({ height: 20 });
            },
            paging: { pageSize: 16 },
            columns: columns,
            columnChooser: {
                enabled: true,
                title: 'Kolon Seç',
                height: 180,
                width: 400,
                emptyPanelText: 'Gizlemek İstediğiniz Kolonu Buraya Sürükleyiniz.'
            },
            headerFilter: {
                visible: true
            },
            popupDetailedWindow: true,
            pagingCounter: true,
            filterRow: {
                visible: true,
                applyFilter: 'auto',
                applyFilterText: 'Apply filter',
                resetOperationText: 'Reset'
            },
            scrolling: {
                scrollByContent: true,
                scrollByThumb: true
            },
            allowColumnReordering: true,
            allowColumnResizing: true,
            remoteOperations: true,
            showRowLines: true,
            hoverStateEnabled: true,
            rowAlternationEnabled: false,
            width: '100%',
            groupPanel: {
                visible: true
            },
            sorting: {
                mode: "multiple",
            },
            //onRowClick: function (opt) {

            //    var rdbValue = $(".rdgrpOnayRed").dxRadioGroup("instance").option("value");
            //    if(rdbValue=="OnayBekleyenler"){
            //        if (opt.rowType == "data") {
            //            var component = opt.component;
            //            var prevClickTime = component.lastClickTime;//take last clicked time
            //            component.lastClickTime = new Date();
            //            if (prevClickTime && (component.lastClickTime - prevClickTime < 300)) {//check their difference, if less than 300  it is a double click
            //                window.location.href = '/Home/FaturaDetay?EvrakNo=' + opt.data.EvrakNo;
            //            }
            //        }
            //    }
            //},
        }).dxDataGrid("instance");
    }
</script>

