@{
    ViewBag.Title = "CekPortfoyListesi";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/devextreme/css/dx.common.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/devextreme/css/dx.light.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<style>
    .dx-datagrid-headers .dx-row {
        color: white;
        border-bottom: 1px solid #D2D2D2;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    }

    .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter:after, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter:before {
        color: white;
    }
</style>
}<div class="row control-content">
    <div style="float:left;padding-left:15px;">
        <table>

            <tr style="padding:8px;">
                <td style="width:120px;"><span></span></td>
                <td style="width:200px;"><div style="width:200px;text-align:center;color:#1e5799;font-weight:bold;">Başlangıç</div></td>
                <td style="width:200px;"><div style="width:200px;text-align:center;color:#1e5799;font-weight:bold;">Bitiş</div></td>
            </tr>
            <tr style="height:10px"><td colspan="6"></td></tr>
            <tr style="padding:8px;">
                <td style="width:120px;"><div style="width:90%;float:left;color:#1e5799;font-weight:bold;">Tarih</div><div style="width:10%;float:left;right:0;color:#1e5799;font-weight:bold;">:</div></td>
                <td style="width:200px;"><div class="tarih-bas-date" style="float:left;width:90%;"></div></td>
                <td style="width:200px;"><div class="tarih-bit-date" style="float:left;width:90%;"></div></td>
            </tr>
            <tr style="height:5px"><td colspan="6"></td></tr>
            <tr style="padding:8px;">
                <td style="width:120px;"><div style="width:90%;float:left;color:#1e5799;font-weight:bold;">Vade Tarihi</div><div style="width:10%;float:left;right:0;color:#1e5799;font-weight:bold;">:</div></td>
                <td style="width:200px;"><div class="vade-bas-date" style="float:left;width:90%;"></div></td>
                <td style="width:200px;"><div class="vade-bit-date" style="float:left;width:90%;"></div></td>
            </tr>
        </table>
    </div>
    <div class="btn-listele" style="float:left;right:20px;margin-left:15px; color:white; text-align:center; font-weight:bold; background-color:#1e5799; width:100px;height:40px;">Listele</div>
</div>
<div id="cek-portfoy-grid" style="margin-top:20px;left:10px;"></div>
@section Scripts{<script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/assets/global/plugins/devextreme/js/dx.web.js"></script>
<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/scripts/datatable.js"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        var dateVal = new Date();
        dateVal.setHours(0, 0, 0);
        var basTarih = 36526;
        var basVadeTarih = 36526;
        var bitTarih = Math.ceil((dateVal - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));
        var bitVadeTarih = 44196;
        $(".btn-listele").dxButton({
            onClick: function() {

                var CekPortfoyRaporuUrl = "/Reports/PartialCekPortfoyListesi";
                PartialView(CekPortfoyRaporuUrl, 'cek-portfoy-grid', JSON.stringify({ bastarih: basTarih, bittarih: bitTarih, basvadetarih: basVadeTarih, bitvadetarih: bitVadeTarih}));
            }
        });
        $(".tarih-bas-date").dxDateBox({
            dataType: 'date',
            formatString: 'dd/MM/yyyy',
            value: '01/01/2000',
            onValueChanged: function (e) {
                basTarih = Math.ceil((new Date(e.value) - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000))-1;
            }
        });
        $(".tarih-bit-date").dxDateBox({
            dataType: 'date',
            formatString: 'dd/MM/yyyy',
            value: dateVal,
            onValueChanged: function (e) {
                bitTarih = Math.ceil((new Date(e.value) - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000))-1;
            }
        });
        $(".vade-bas-date").dxDateBox({
            dataType: 'date',
            formatString: 'dd/MM/yyyy',
            value: '01/01/2000',
            onValueChanged: function (e) {
                basVadeTarih = Math.ceil((new Date(e.value) - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000))-1;
            }
        });
        $(".vade-bit-date").dxDateBox({
            dataType: 'date',
            formatString: 'dd/MM/yyyy',
            value: '12/31/2020',
            onValueChanged: function (e) {
                bitVadeTarih = Math.ceil((new Date(e.value) - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000))-1;
            }
        });
    });
</script>
}