@{
    ViewBag.Title = "SatilmayanUrunler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/devextreme/css/dx.common.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/devextreme/css/dx.light.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<style>
    .dx-datagrid-headers .dx-row {
        color: white;
        border-bottom: 1px solid #D2D2D2;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    }

    .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter:after, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter:before {
        color: white;
    }
</style>
}<div class="row control-content">
    <div class="row col-md-10 col-lg-8">
        <div class="col-xs-12 col-sm-12 col-md-2" style="margin-top:10px;">
            <span style="height: 36px;width:90%;line-height:36px;color:#1e5799;font-weight:bold;">Gün Sayısı</span><span style="height: 36px;width:10%;line-height:36px;right:0;color:#2fc1d8;font-weight:bold;">:</span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4" style="margin-top:10px;">
            <div class="gun-sayisi" style="width:90%;"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3" style="margin-top:10px;">
            <div class="btn-listele" style="background-color: #1e5799;height: 36px;width: 70%;line-height:36px;text-align:center;color: white;font-weight: bold;">Listele</div>
        </div>
    </div>
</div>
<div id="satilmayan-urunler-grid" style="margin-top:20px;"></div>
@section Scripts{<script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/assets/global/plugins/devextreme/js/dx.web.js"></script>
<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/scripts/datatable.js"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $(".gun-sayisi").dxNumberBox({
            value: 1,
            min: 1,
            placeholder: 'Gün sayısı girin'
        });



        $(".btn-listele").dxButton({
            onClick: function() {
                var gun = $(".gun-sayisi").dxNumberBox("instance").option("value");
                var SatilmayanUrunRaporuUrl = "/Reports/PartialSatilmayanUrunler";
                PartialView(SatilmayanUrunRaporuUrl, 'satilmayan-urunler-grid', JSON.stringify({ gunsayisi: gun }));
            }
        });

    });
</script>
}