
@{
    ViewBag.Title = "SatisBaglantiRaporu";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <style>
        td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        td.hareket-control {
            background: url('/Content/assets/global/plugins/datatables/images/back_enabled.png') no-repeat center center;
            cursor: pointer;
        }

        .btn {
            width: 120px;
            text-align: center;
        }

        .detay:hover {
            background-color: rgb(176, 190, 217) !important;
        }
    </style>
}
<div class="row control-content">
    <div class="col-sm-6 col-xs-12" style="margin-top:10px;">
        <div class="col-sm-4 col-xs-6" style="color:#32c5d2;font-weight:bold;">Sözleşme Durumu</div>
        <div class="col-sm-8 col-xs-6"><div class="sozDurum" style="width:100%;"></div></div>
    </div>
    <div class="col-sm-3 col-xs-12" style="margin-top:10px;">
        <div class="col-sm-10 col-xs-4">
            <div class="btn btn-lg green listele-buton" style="width:100%; margin-bottom:10px;">Listele<i class="fa fa-check"></i></div>
        </div>
    </div>
</div>
<div class="row" id="satis-baglanti-raporu-grid" style="margin-top:10px;"></div>
@section Scripts{
    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
    <script>
        var tip = @ViewBag.Tip;
        var tempTip = @ViewBag.Tip;
        var radioGroupItems = [
            { text: "Açık", value: 0 },
            { text: "Kapalı", value: 1 },
            { text: "Tümü", value: 2 }
        ];
        $(document).ready(function () {
            $(".sozDurum").dxRadioGroup({
                dataSource: radioGroupItems,
                displayExpr: "text",
                valueExpr: "value",
                value: 0,
                layout: "horizontal",
                onValueChanged: function (e) {
                    tempTip = e.value;
                }
            });
            var PartialSatisBaglantiRaporuUrl = "/Reports/PartialSatisBaglantiRaporu";
            PartialView(PartialSatisBaglantiRaporuUrl, 'satis-baglanti-raporu-grid', JSON.stringify({ tip: tip }));
        });
        $(document).on("click", ".listele-buton", function () {
            tip = tempTip;
            var PartialSatisBaglantiRaporuUrl = "/Reports/PartialSatisBaglantiRaporu";
            PartialView(PartialSatisBaglantiRaporuUrl, 'satis-baglanti-raporu-grid', JSON.stringify({ tip: tip }));
        });
      

    </script>
}








