@model List<RaporGetKod>
@{
    ViewBag.Title = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dx-datagrid-headers .dx-row {
        color: white;
        border-bottom: 1px solid #D2D2D2;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    }

    .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter:after, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter:before {
        color: white;
    }
</style>
<div class="row">
    <div class="control-content col-lg-11 col-md-12 col-sm-8">
        <div class="col-xs-12 col-sm-12 col-lg-5">
            <table>
                <tr style="padding:8px;">
                    <td style="width:120px;"><div style="width:90%;float:left;color:#1e5799;font-weight:bold;">Tarih</div><div style="width:10%;float:left;right:0;color:#1e5799;font-weight:bold;">:</div></td>
                    <td style="width:160px;"><div class="tarih" style="float:left;width:90%;"></div></td>
                    <td style="width:160px;"></td>
                </tr>
                <tr style="height:10px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"><span></span></td>
                    <td style="width:160px;"><div style="width:200px;text-align:center;color:#1e5799;font-weight:bold;">Başlangıç</div></td>
                    <td style="width:160px;"><div style="width:200px;text-align:center;color:#1e5799;font-weight:bold;">Bitiş</div></td>
                </tr>
                <tr style="height:10px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"><div style="width:90%;float:left;color:#1e5799;font-weight:bold;">Grup Kodu</div><div style="width:10%;float:left;right:0;color:#1e5799;font-weight:bold;">:</div></td>
                    <td style="width:160px;"><div class="grup-bas-select" style="float:left;width:90%;"></div></td>
                    <td style="width:160px;"><div class="grup-bit-select" style="float:left;width:90%;"></div></td>
                </tr>
                <tr style="height:5px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"><div style="width:90%;float:left;color:#1e5799;font-weight:bold;">Tip Kodu</div><div style="width:10%;float:left;right:0;color:#1e5799;font-weight:bold;">:</div></td>
                    <td style="width:160px;"><div class="tip-bas-select" style="float:left;width:90%;"></div></td>
                    <td style="width:160px;"><div class="tip-bit-select" style="float:left;width:90%;"></div></td>
                </tr>
                <tr style="height:5px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"><div style="width:90%;float:left;color:#1e5799;font-weight:bold;">Özel Kod</div><div style="width:10%;float:left;right:0;color:#1e5799;font-weight:bold;">:</div></td>
                    <td style="width:160px;"><div class="ozel-bas-select" style="float:left;width:90%;"></div></td>
                    <td style="width:160px;"><div class="ozel-bit-select" style="float:left;width:90%;"></div></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-1 col-sm-12  col-xs-12">

        </div>
        <div class="col-xs-12 col-sm-12 col-lg-5">
            <table>
                <tr style="padding:8px; height:36px;">
                    <td style="width:120px;"></td>
                    <td style="width:160px;"></td>
                    <td style="width:160px;text-align:center;"></td>
                </tr>
                <tr style="height:10px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"></td>
                    <td style="width:160px;"><div style="width:200px;text-align:center;color:#1e5799;font-weight:bold;">Başlangıç</div></td>
                    <td style="width:160px;"><div style="width:200px;text-align:center;color:#1e5799;font-weight:bold;">Bitiş</div></td>
                </tr>
                <tr style="height:10px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"><div style="width:90%;float:left;color:#1e5799;font-weight:bold;">Kod1</div><div style="width:10%;float:left;right:0;color:#1e5799;font-weight:bold;">:</div></td>
                    <td style="width:160px;"><div class="kod1-bas-select" style="float:left;width:90%;"></div></td>
                    <td style="width:160px;"><div class="kod1-bit-select" style="float:left;width:90%;"></div></td>
                </tr>
                <tr style="height:5px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"><div style="width:90%;float:left;color:#1e5799;font-weight:bold;">Kod2</div><div style="width:10%;float:left;right:0;color:#1e5799;font-weight:bold;">:</div></td>
                    <td style="width:160px;"><div class="kod2-bas-select" style="float:left;width:90%;"></div></td>
                    <td style="width:160px;"><div class="kod2-bit-select" style="float:left;width:90%;"></div></td>
                </tr>
                <tr style="height:5px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"><div style="width:90%;float:left;color:#1e5799;font-weight:bold;">Kod3</div><div style="width:10%;float:left;right:0;color:#1e5799;font-weight:bold;">:</div></td>
                    <td style="width:160px;"><div class="kod3-bas-select" style="float:left;width:90%;"></div></td>
                    <td style="width:160px;"><div class="kod3-bit-select" style="float:left;width:90%;"></div></td>
                </tr>
            </table>
        </div>
        @*<div class="col-md-1 col-sm-4 col-xs-12" style="margin-top:10px;color:#1e5799;height:36px;line-height:36px;">
            <div><span>Depo</span><span>:</span></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top:10px;">
            <span class="selectDepo"></span>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-12" style="margin-top:10px;color:#1e5799;height:36px;line-height:36px;">
            <div><span>KartTipi</span><span>:</span></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top:10px;">
            <span class="selectKartTipi"></span>
        </div>*@
        
        <div class="col-lg-1 col-sm-12 col-xs-12">
            <div class="btnListele" style="margin-top:15px;height:36px;text-align:center;background-color:#1e5799;color:white;line-height:36px;">Listele</div>
        </div>
    </div>
    
</div>
<div class="row" style="margin-top:20px;">
    <div id="stok-raporu-grid"></div>
</div>
@section Scripts{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <link href="~/Content/dx.light.css" rel="stylesheet" />
    <link href="~/Content/dx.common.css" rel="stylesheet" />
    <script src="~/Scripts/dx.web.debug.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
<script src="~/Content/assets/global/scripts/datatable.js"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {

            var model = @Html.Raw(Json.Encode(Model));
            // var states = [
            //      { id: 0, state: "Tümü"},
            //{ id: 1, state: "Satınalınan"},
            //{ id: 2, state: "Üretilen" },
            //{ id: 3, state: "Fason"},
            // { id: 4, state: "Konsinye"},
            // ];
            //var Depo = new Array();
            var grupKod1="",grupKod2="ZZZZZZZZ",tipKod1="",tipKod2="ZZZZZZZZ",ozelKod1="",ozelKod2="ZZZZZZZZ",kod11="",kod12="ZZZZZZZZ",kod21="",kod22="ZZZZZZZZ",kod31="",kod32="ZZZZZZZZ",tarih;
            var grupKod = new Array();
            var tipKod = new Array();
            var ozelKod = new Array();
            var kod1 = new Array();
            var kod2 = new Array();
            var kod3 = new Array();
            //Depo.push({"Depo":"00","DepoAdi":"Tümü"});
            //jQuery.each( model, function( i, val ) {
            //    Depo.push((model[i]));
            //});
            //var caseDepo = "";
            //var caseKartTipi = "";
            jQuery.each( model, function( i, val ) {
                if(val.Tip==1){
                    grupKod.push((model[i]));
                }
                else if(val.Tip==2){
                    tipKod.push((model[i]));
                }
                else if(val.Tip==3){
                    ozelKod.push((model[i]));
                }
                else if(val.Tip==4){
                    kod1.push((model[i]));
                }
                else if(val.Tip==5){
                    kod2.push((model[i]));
                }
                else if(val.Tip==6){
                    kod3.push((model[i]));
                }
            });
            var dateVal = new Date();
            dateVal.setHours(0, 0, 0);
            var oaDate = Math.ceil((dateVal - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));
            $(".btnListele").dxButton({
                onClick: function() {
                    var Tarih = oaDate!="" ? oaDate: Math.ceil((dateVal - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));

                    //if(caseDepo.length>0 && caseDepo.length<4 && caseDepo!="00"){
                    //    caseDepo=" AND DST.Depo = " + caseDepo;

                    //        if(caseKartTipi == "1")
                    //            caseKartTipi= " AND STK.OzelKod='SIR' AND STK.KartTip=0";
                    //        if (caseKartTipi == "2")
                    //            caseKartTipi= " AND STK.OzelKod='SIR' AND STK.KartTip=1";
                    //        if (caseKartTipi == "3")
                    //            caseKartTipi= " AND STK.OzelKod='SIR' AND STK.KartTip=8";
                    //        if (caseKartTipi == "4")
                    //            caseKartTipi= "AND STK.OzelKod='KON' AND STK.KartTip IN (0,1,8)";
                    //        //caseKartTipi="AND STK.KartTip = " + caseKartTipi;
                    //}
                    //else {
                    //        if(caseKartTipi == "1")
                    //            caseKartTipi= " WHERE STK.OzelKod='SIR' AND STK.KartTip=0";
                    //        if (caseKartTipi == "2")
                    //            caseKartTipi= " WHERE STK.OzelKod='SIR' AND STK.KartTip=1";
                    //        if (caseKartTipi == "3")
                    //            caseKartTipi= " WHERE STK.OzelKod='SIR' AND STK.KartTip=8";
                    //        if (caseKartTipi == "4")
                    //            caseKartTipi= "WHERE STK.OzelKod='KON' AND STK.KartTip IN (0,1,8)";
                    //    //caseKartTipi="AND DST.Depo = " + caseKartTipi;
                    //}

                    var StokRaporuUrl = "/Reports/PartialStokRaporu";
                    PartialView(StokRaporuUrl, 'stok-raporu-grid', JSON.stringify({ Tarih:Tarih, BasGrupKod:grupKod1, BitGrupKod:grupKod2, BasTipKod:tipKod1, BitTipKod:tipKod2, BasOzelKod:ozelKod1, BitOzelKod:ozelKod2, BasKod1:kod11, BitKod1:kod12, BasKod2:kod21, BitKod2:kod22, BasKod3:kod31, BitKod3:kod32 }));
                }
            });
            $(".tarih").dxDateBox({
                dataType: 'date',
                formatString: 'dd/MM/yyyy',
                value: dateVal,
                onValueChanged: function (e) {
                    oaDate = Math.ceil((e.value - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));
                }
            });
            //$(".selectDepo").dxSelectBox({
            //    dataSource: Depo,
            //    valueExpr: 'Depo',
            //    displayExpr: 'DepoAdi',
            //    searchEnabled: true,
            //    value: f_tarih,
            //    onValueChanged: function (e) {
            //        if(e.value!="00")
            //            caseDepo= e.value;
            //        else{
            //            caseDepo= "";
            //        }
            //    }
            //});
            //$(".selectKartTipi").dxSelectBox({
            //    dataSource: states,
            //    valueExpr: 'id',
            //    displayExpr: 'state',
            //    searchEnabled: true,
            //    value: f_tarih,
            //    onValueChanged: function (e) {
            //        if(e.value!="0")
            //            caseKartTipi= e.value;
            //        else{
            //            caseKartTipi= "";
            //        }
            //    }
            //});
            $(".grup-bas-select").dxSelectBox({
                dataSource: tipKod,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    grupKod1=e.value;
                }
            });
            $(".grup-bit-select").dxSelectBox({
                dataSource: tipKod,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    grupKod2=e.value;
                }
            });
            $(".tip-bas-select").dxSelectBox({
                dataSource: tipKod,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    tipKod1=e.value;
                }
            });
            $(".tip-bit-select").dxSelectBox({
                dataSource: tipKod,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    tipKod2=e.value;
                }
            });
            $(".ozel-bas-select").dxSelectBox({
                dataSource: ozelKod,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    ozelKod1=e.value;
                }
            });
            $(".ozel-bit-select").dxSelectBox({
                dataSource: ozelKod,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    ozelKod2=e.value;
                }
            });
            $(".kod1-bas-select").dxSelectBox({
                dataSource: kod1,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    kod11=e.value;
                }
            });
            $(".kod1-bit-select").dxSelectBox({
                dataSource: kod1,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    kod12=e.value;
                }
            });
            $(".kod2-bas-select").dxSelectBox({
                dataSource: kod2,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    kod21=e.value;
                }
            });
            $(".kod2-bit-select").dxSelectBox({
                dataSource: kod2,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    kod22=e.value;
                }
            });
            $(".kod3-bas-select").dxSelectBox({
                dataSource: kod3,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    kod31=e.value;
                }
            });
            $(".kod3-bit-select").dxSelectBox({
                dataSource: kod3,
                valueExpr: 'Kod',
                displayExpr: 'Kod',
                //value: f_tarih,
                onValueChanged: function (e) {
                    kod32=e.value;
                }
            });
        });
    </script>
}



