@model List<Etkinlik>
@{
    ViewBag.Title = "Takvim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
<style>.fc-left > div > .btn, .fc-left > .btn, .fc-right > div > .btn { padding: 8px 14px 25px 14px !important; margin-bottom: 15px!important; }</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Takvim</span></li></ul></div>
<h1 class="page-title">Takvim</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered calendar">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Takvim</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="calendar" class="has-toolbar"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Content/assets/global/plugins/fullcalendar/locale/tr.js"></script>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            locale: 'tr',
            themeSystem: 'bootstrap3',
            weekends: true,
            showNonCurrentDates: true,
            showNonCurrentDates: false,
            height: 500,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'listWeek,listMonth,month'
            },
            views: {
                listWeek: { buttonText: 'Haftalık' },
                listMonth: { buttonText: 'Aylık' },
                month: { buttonText: 'Takvim' }
            },
            navLinks: false,
            events: [
                @foreach (var item in Model) { <text>{ id: '@item.Aciklama', title: '@if (item.Username != null) { @item.Username @(" - ")}@Html.Raw(item.ComboItem_Name.Name)', start: '@item.Tarih.ToString("yyyy-MM-dd")', backgroundColor: App.getBrandColor('white') },</text> }
            ],
            eventClick: function (calEvent, jsEvent, view) {
                if (calEvent.tip == 1)
                    Modaldialog(calEvent.id, "Açıklama", "Tamam", "btn-primary");
            }
        });
    });
</script>
}