@{
    ViewBag.Title = "Risk Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Risk</span></li></ul></div>
<h1 class="page-title">Risk Onay MIGMY</h1>
<div class="form-horizontal">
    <div class="form-body">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Risk Onay MIGMY
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
                <div class="col-md-1 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh" href="#modalEditPage" data-toggle="modal"> Yenile </a>
                </div>
                <div class="col-md-1 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle onay-buton glyphicon glyphicon-ok" href="#modalEditPage" data-toggle="modal" style="background-color:#40bf40"> Onayla </a>
                </div>
                <div class="col-md-1 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle reddet-buton glyphicon glyphicon-remove" href="#modalEditPage" data-toggle="modal" style="background-color:#ff4d4d"> Reddet </a>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="liste">
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
@section Scripts{
<script>
    PartialView("/Approvals/Risk/MIGMY_List", 'liste');
    function FuncSearchBtn() {
        var Type = $("input[type='checkbox'][name='Locked']:checked").val();
        PartialView("/Approvals/Risk/MIGMY_List", 'liste', JSON.stringify({ Durum: Type }));
    }
    $('.onay-buton').click(function () {

        var x = table.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/Risk/RiskOnay",
            data: { Data: JSON.stringify(secili_table), Tip: 2 },
            type: "post",

            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-success");
                    setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    if (data.Message == "") data.Message = "Hata oluştu";
                    Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                }

            }
        });

        return _dfd.promise();

    });

    $('.reddet-buton').click(function () {

        var x = table.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/Risk/Red_MIGMY",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",
            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-success");
                    setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    if (data.Message == "") data.Message = "Hata oluştu";
                    Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                }

            }
        });
        return _dfd.promise();



    });

    $('.yenile-buton').click(function () {

        window.location.reload();
    });
</script>
}