@{
    ViewBag.Title = "Risk Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal">
    <div class="form-body">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Risk Onay MIGMY
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle yenile-buton" href="#modalEditPage" data-toggle="modal"> Yenile </a>
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle onay-buton" href="#modalEditPage" data-toggle="modal"> Onayla </a>
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle reddet-buton" href="#modalEditPage" data-toggle="modal"> Reddet </a>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="liste">
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
@section Scripts{
    <link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    <script>
        PartialView("/Approvals/Risk/MIGMY_List", 'liste');
        function FuncSearchBtn() {
            var Type = $("input[type='checkbox'][name='Locked']:checked").val();
            PartialView("/Approvals/Risk/MIGMY_List", 'liste', JSON.stringify({ Durum: Type }));
        }
        $('.onay-buton').click(function () {

            var x = table.rows('.selected').data();
            for (var i = 0; i < x.length; i++) {
                secili_table.push(x[i]);
            }
            var _dfd = $.Deferred();
            $.ajax({
                url: window.location.origin + "/Approvals/Risk/RiskOnay",
                data: { Data: JSON.stringify(secili_table), Tip: 2 },
                type: "post",

                success: function (data) {
                    if (data.Status == true) {
                        Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                    else {
                        if (data.Message == "") data.Message = "Hata oluştu";
                        Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }

                }
            });

            return _dfd.promise();

        });

        $('.reddet-buton').click(function () {

            var x = table.rows('.selected').data();
            for (var i = 0; i < x.length; i++) {
                secili_table.push(x[i]);
            }
            var _dfd = $.Deferred();
            $.ajax({
                url: window.location.origin + "/Approvals/Risk/Red_MIGMY",
                data: { Data: JSON.stringify(secili_table) },
                type: "post",
                success: function (data) {
                    if (data.Status == true) {
                        Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                    else {
                        if (data.Message == "") data.Message = "Hata oluştu";
                        Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }

                }
            });
            return _dfd.promise();



        });

        $('.yenile-buton').click(function () {

            window.location.reload();
        });
    </script>
}