<div class="col-md-12" style="width:100%;">
    <div id="buttons"></div>
    @*<div class="portlet box green">


        <div class="portlet-body">*@
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">

                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                @*</div>
            </div>*@

            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th> Hesap Kodu</th>
                        <th> Ünvan </th>
                        <th> Şahsi Çek Limiti</th>
                        <th> Müşteri Çek Limiti </th>





                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>
<script>

    var secili_satir = new Array();
    var secili_table = new Array();
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Risk/OnayCekMIGMY',
            "dataSrc": function (json) {
                return json;
            },
        },
        //"responsive": true,
        "fixedHeader": true,
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [4, 5] }, { "visible": false, "targets": 0 }],
        //"scrollX": true,
        "columns": [
            { "data": "ID" },
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "HesapKodu"},
            { "data": "Unvan"},
            { "data": "SahsiCekLimiti", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "MusteriCekLimiti", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            //{
            //    "render": function ( data, type, full, meta ) {
            //        return table.saveContact(full);
            //    }
            //},
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });


    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });
    var table12 = $('#sample_1').DataTable();
    var buttons = new $.fn.dataTable.Buttons(table12, {
        buttons: [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
        ]
    }).container().appendTo($('#buttons'));



</script>
@*






        @*<td>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="checkboxes" value="1" />
                <span></span>
            </label>
        </td>
        <td>@item.HesapKodu</td>
        <td>@item.Unvan</td>
        <td>@item.SahsiCekLimiti</td>
        <td>@item.MusteriCekLimiti</td>

    </tr>*@

