@using Newtonsoft.Json;
@model List<RiskTanimToplu>
<div class="fatura-data" style="margin-top: 20px; width: 100%; box-shadow: 2px 4px 2px #5d5959;">
    <div class="col-md-12" style="width:100%;margin-top: 20px;">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Risk Tanım
                </div>                
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-success pull-right input-circle save-buton glyphicon glyphicon-ok"> Onayla </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle refresh-buton glyphicon glyphicon-refresh"> Yenile </button></div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered table-condensed"  id="sample_1" style="margin:0;">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" data-set="sample_1 .checkboxes" />
                                            <span></span>
                                        </label>
                                    </th>
                                    <th>Hesap Kodu</th>
                                    <th>Ünvan</th>
                                    <th>Şahsi Çek Limiti</th>
                                    <th>Müşteri Çek Limiti</th>
                                    <th>Yeni Şahsi Çek Limiti</th>
                                    <th>Yeni Müşteri Çek Limiti</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model));
    var secili_satir = new Array();
    var secili_table = new Array();
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Risk/CHKSelect',
            "dataSrc": function(json) {
                return json;
            },
        },
       // "fixedHeader": true,
        //"scrollX": true,
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [3,4,5,6] }],
        "columns": [  
            {"data": null,"defaultContent": '',"className": 'select-checkbox',"orderable": false},
            { "data": "HesapKodu"},
            { "data": "Unvan" },
            { "data": "SahsiCekLimiti", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "MusteriCekLimiti", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "YeniSahsiCekLimiti", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "YeniMusteriCekLimiti", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
        ],
        "ordering":false,
        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
            $('td', nRow).attr('nowrap','nowrap');
            return nRow;
        }

    });
    $.contextMenu({
        selector: '#sample_1 tbody td',
        callback: function (key, options) {
            var cellIndex = parseInt(options.$trigger[0].cellIndex),
                row = table.row(options.$trigger[0].parentNode),
                rowIndex = row.index();

            switch (key) {
                case 'edit':
                        var sahsiCekLimiti = ondalikBinlik(table.cell(rowIndex, 3).data().toString().replace(".", ","), 2);
                        var musteriCekLimiti = ondalikBinlik(table.cell(rowIndex, 4).data().toString().replace(".", ","), 2);
                        cekLimitClear();
                        $('#x-modal-riskduzenle').modal("show");

                        $(".numb_onc_sahsiceklimiti").dxTextBox("instance").option("value", sahsiCekLimiti);
                        $(".txt_onc_mustericeklimiti").dxTextBox("instance").option("value", musteriCekLimiti);
                        $(".numb_onc_sahsiceklimiti").data("index", rowIndex);
                        table
                            .rows('.selected')
                            .nodes()
                            .to$()      // Convert to a jQuery object
                            .removeClass('selected');
                        $(this).parent().toggleClass('selected');
                        //$('tr', table).eq((rowIndex % table.page.len()) + 2).addClass('selected');
                    break;
                default:
                    break;
            }
        },
        items: {
            "edit": { name: "Edit", icon: "edit" },
        }
    });

    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });


    $('.refresh-buton').click(function () {
        PartialView("/Approvals/Risk/TanimPartial", 'risk_tanim_data');
    });
    function cekLimitClear() {
        $(".numb_onc_sahsiceklimiti").dxTextBox("instance").option("value", 0);
        $(".numb_yeni_sahsiceklimiti").dxTextBox("instance").option("value", 0);
        $(".txt_onc_mustericeklimiti").dxTextBox("instance").option("value", 0);
        $(".txt_yeni_mustericeklimiti").dxTextBox("instance").option("value", 0);
    }
    $(document).ready(function () {
       
        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));

    });

</script>


