@model List<ChartBekleyenSiparisUrunGrubu>
<style>
.bas_tarih .dx-dropdowneditor-icon {color: #44b6ae;}
.bas_tarih .dx-dropdowneditor-icon:before {color: #44b6ae;}
.bit_tarih .dx-dropdowneditor-icon {color: #44b6ae;}
.bit_tarih .dx-dropdowneditor-icon:before {color: #44b6ae;}
.cbox_MiktarTutar .dx-switch-off {color: #d21b1b;font-weight: bold;font-size: 11px;}
.cbox_MiktarTutar .dx-switch-on {color: #d21b1b;font-weight: bold;font-size: 11px;}
</style>
<div class="col-md-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze"> Bekleyen Sipariş Ürün Grubu Kriter <span style="color:#8888a7;">3D CHART</span></span>
            </div>
            <div class="tools" style="float:right;margin-left:20px;">
                <a href="javascript:;" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="javascript:;" class="reload"> </a>
                <a href="javascript:;" class="fullscreen"> </a>
                <a href="javascript:;" class="remove"> </a>
            </div>
            <div style="float:left;width:80px;margin-left:20px;">
                <input type="checkbox" id="toggle-four" checked data-toggle="toggle" name="Miktar" data-on-text="Miktar" data-off-text="Tutar" data-on="Miktar" data-off="Tutar">
            </div>
            <div class="kriter_durum" style="float:left;margin-left: 80px;"><div style="float:left;line-height:36px;"> <span style="color:#0c09de;">Kriter </span></div> <div class="slct_bekleyen_siparis_kriter" style="float:left;width:130px; margin-left:10px;"></div></div>
        </div>
        <div class="portlet-body">
            <div id="chart_7_mik_kriter" class="chart" style="height: 400px;"> </div>
            <div class="well margin-top-20">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (e) {
         $('#toggle-three').bootstrapToggle({
            on: 'Miktar',
            off: 'Tutar'
        });
        if ('@ViewBag.MiktarTutar' == "Miktar")
        {
            $('#toggle-three').bootstrapToggle('on')
            $(".kriter_durum").hide();
        }
        else
        {
            $('#toggle-three').bootstrapToggle('off')
            $(".kriter_durum").show();
        }
        $('#toggle-three').change(function () {
            var state = $(this).prop('checked');
            if (state == false) {
                $(".kriter_durum").show();
                PartialView("/Home/PartialBekleyenSiparisUrunGrubuMiktarKriter", 'bekleyen_siparis_urun_grubu_miktar_kriter', JSON.stringify({ miktarTutar: state, kriter: kriter_value }));
            }
            else {
                $(".kriter_durum").hide();
                PartialView("/Home/PartialBekleyenSiparisUrunGrubuMiktarKriter", 'bekleyen_siparis_urun_grubu_miktar_kriter', JSON.stringify({ miktarTutar: state, kriter: "" }));
            }
        })
        var model = @Html.Raw(Json.Encode(Model));
        var color = ["#FF0F00","#FF6600","#FF9E01","#FCD202","#F8FF01","#B0DE09","#04D215","#0D8ECF","#0D52D1","#2A0CD0","#8A0CCF","#CD0D74","#754DEB","#DDDDDD","#999999","#333333","#000000"];
        for (var i = 0; i < model.length; i++) {
            $.extend(model[i],{
                color: color[i%color.length]
            });
        }

        var kriter_value=@Html.Raw(Json.Encode(ViewBag.Kriter))==""? "TL":@Html.Raw(Json.Encode(ViewBag.Kriter));
        var doviz = [ { state: "TL"}, { state: "Döviz"}, { state: "Birim" } ];
        $(".slct_bekleyen_siparis_kriter").dxSelectBox({
            dataSource: doviz,
            valueExpr: 'state',
            displayExpr: 'state',
            value: kriter_value,
            onValueChanged: function (e) {
                kriter_value=e.value;
                PartialView("/Home/PartialBekleyenSiparisUrunGrubuMiktarKriter", 'bekleyen_siparis_urun_grubu_miktar_kriter', JSON.stringify({ miktarTutar: false , kriter:kriter_value}));
            }
        });
        var ChartsAmchartsMik = function () {
            var initChartSample7Mik = function () {
                var chart = AmCharts.makeChart("chart_7_mik_kriter", {
                    "theme": "light",
                    "type": "serial",
                    "startDuration": 2,
                    "fontFamily": 'Open Sans',
                    "color": '#888',
                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0

                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "colorField": "color",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "KalanMiktar",
                        "fixedColumnWidth": 40,
                        "labelText": "[[value]]",
                        "labelRotation":315,
                        "color":"grey",
                        "labelOffset":30
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "GrupKod",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "labelRotation": 45

                    },
                    "exportConfig": {
                        "menuTop": "20px",
                        "menuRight": "20px",
                        "menuItems": [{
                            "icon": '/lib/3/images/export.png',
                            "format": 'png'

                        }]
                    }
                }, 0);
                chart.dataProvider = model;
                chart.validateData();
                chart.animateAgain();
                jQuery('.chart_7_chart_input').off().on('input change', function () {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    chart.startDuration = 0;

                    if (property == 'topRadius') {
                        target = chart.graphs[0];
                    }

                    target[property] = this.value;
                    chart.validateNow();
                });

                $('#chart_7_mik').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }
            return {
                init: function () {
                    initChartSample7Mik();
                }
            };
        }();
        jQuery(document).ready(function () {
            ChartsAmchartsMik.init();
        });
    });
</script>