
<div class="row" id="sortable-content">
    <div class="col-md-4 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption" style="font-size:16px; color: white; font-weight:bold;">
                    <i class="fa fa-gift"></i>Bekleyen Sipariş Onayları
                </div>
                @*<div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" style="background-color: #f9edf2; padding:0; padding-top: 15px;">
                <div class="dash-box" style="height:180px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-comments" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>5</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SM </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>6</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SPGMY </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-shopping-cart" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>12</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> GM  </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption" style="font-size:16px; color: white; font-weight:bold;">
                    <i class="fa fa-gift"></i>Bekleyen Stok Onayları
                </div>
                @*<div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" style="background-color: #f9edf2; padding:0; padding-top: 15px;">
                <div class="dash-box" style="height:180px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>11</span>)</span>
                                </div>
                                <div class="desc" style="float:right">@*Onayda Bekleyenler*@ </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption" style="font-size:16px; color:white; font-weight:bold;">
                    <i class="fa fa-gift"></i>Bekleyen Teminat Onayları
                </div>
                @*<div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" style="background-color: #f9edf2; padding:0;padding-top:15px;">
                <div class="dash-box" style="height:180px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-shopping-cart" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>12</span>)</span>
                                </div>
                                <div class="desc" style="float:right">@*Onayda Bekleyenler*@  </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>
<div class="row">
    <div class="col-md-4 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption" style="font-size:16px; color: white; font-weight:bold;">
                    <i class="fa fa-gift"></i>Bekleyen Sözleşme Onayları
                </div>
                @*<div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" style="background-color: #f9edf2; padding:0; padding-top: 15px;">
                <div class="dash-box" style="height:180px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>11</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SM </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>6</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SPGMY </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-shopping-cart" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>12</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> GM </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption" style="font-size:16px; color: white; font-weight:bold;">
                    <i class="fa fa-gift"></i>Bekleyen Risk Limit Onayları
                </div>
                @*<div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" style="background-color: #f9edf2; padding:0; padding-top: 15px;">
                <div class="dash-box" style="height:180px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 " style="background-color:#83af71" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>6</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SM </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#83af71" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-comments" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>5</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SPGMY </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#83af71" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>11</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> MIGMY </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#83af71" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-shopping-cart" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>12</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> GM  </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption" style="font-size:16px; color: white; font-weight:bold;">
                    <i class="fa fa-gift"></i>Bekleyen Fiyat Listesi Onayları
                </div>
                @*<div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" style="background-color: #f9edf2; padding:0; padding-top: 15px;">
                <div class="dash-box" style="height:180px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 red-pink " #ad845a href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-comments" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>5</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SM </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 red-pink " href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>11</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SPGMY </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 red-pink " href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-shopping-cart" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>12</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> GM </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>
<div class="row">
    <div class="col-md-4 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption" style="font-size:16px; color: white; font-weight:bold;">
                    <i class="fa fa-gift"></i>Bekleyen Çek Onayları
                </div>
                @*<div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" style="background-color: #f9edf2; padding:0; padding-top: 15px;">
                <div class="dash-box" style="height:180px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-comments" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>5</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SPGMY </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>11</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> MIGMY </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-shopping-cart" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8"></i>
                            </div>
                            <div class="details" style="line-height:40px;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>12</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> GM </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption" style="font-size:16px; color: white; font-weight:bold;">
                    <i class="fa fa-gift"></i>İhale / Tahsis /Satınalma
                </div>
                @*<div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" style="background-color: #f9edf2; color: white;  padding:0; padding-top: 15px;">
                <div class="dash-box" style="height:180px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#ad845a;" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-comments" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>5</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> İhaleli Alım </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#ad845a;" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>11</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> Tahsisli Alım </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#ad845a;" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>6</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> Nakliye Fiyat </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#ad845a;" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-shopping-cart" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>12</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> Satınalma Sip. Talebi  </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption" style="font-size:16px; color: white; font-weight:bold;">
                    <i class="fa fa-gift"></i>CRM Özet
                </div>
                @*<div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>*@
            </div>
            <div class="portlet-body" style="background-color: #f9edf2; padding:0; padding-top: 15px;">
                <div class="dash-box" style="height:180px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#8e6784;" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-comments" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>5</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SM </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#8e6784;" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>11</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SPGMY</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#8e6784;" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-bar-chart-o" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2"></i>
                            </div>
                            <div class="details" style="line-height:40px;color:#f9edf2">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>6</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> SPGMY</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:40px;margin-bottom:5px;">
                        <a class="dashboard-stat dashboard-stat-v2" style="background-color:#8e6784;" href="#">
                            <div class="visual" style="padding-top:0; margin-bottom:0;width:40px;height:40px;">
                                <i class="fa fa-shopping-cart" style="margin-left:0; line-height:40px; font-size:24px;opacity:.8;color:#f9edf2;"></i>
                            </div>
                            <div class="details" style="line-height:40px; color:#f9edf2;">
                                <div class="number" style="padding-top:5px;font-size: 16px;line-height: 31px; float:right; margin-left:5px;width:30px;">
                                    <span data-counter="counterup" data-value="1349">(<span>12</span>)</span>
                                </div>
                                <div class="desc" style="float:right"> GM </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>
<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>

