@model List<ChartBekleyenSiparisUrunGrubu>
<div class="row">
    <div class="col-md-12 m-t-40">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Satış Temsilcisi Aylık Satış Analizi <span style="color:#8888a7;">3D CHART</span></span>
                    @*<span class="caption-helper">3d cylinder chart</span>*@
                </div>
                <div class="tools" style="float:right;margin-left:20px;">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
                <div style="float:right;margin-left: 10px;"><div style="float:left;line-height:36px;"> <span style="color:#0c09de;">Ay </span></div> <div class="slct_satis_temsilcisi_aylar" style="float:left;width:130px; margin-left:10px;"></div></div>
                <div style="float:right;margin-left: 10px;"><div style="float:left;line-height:36px;"> <span style="color:#0c09de;">Kriter </span></div> <div class="slct_satis_temsilcisi_kod" style="float:left;width:130px; margin-left:10px;"></div></div>
            </div>
            <div class="portlet-body">
                <div id="chart_7_satis_temsilcisi" class="chart" style="height: 400px;"> </div>
                <div class="well margin-top-20">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (e) {
        var f_tarih = @ViewBag.Tarih;
        var model = @Html.Raw(Json.Encode(Model));
        var color = ["#FF0F00","#FF6600","#FF9E01","#FCD202","#F8FF01","#B0DE09","#04D215","#0D8ECF","#0D52D1","#2A0CD0","#8A0CCF","#CD0D74","#754DEB","#DDDDDD","#999999","#333333","#000000"];
        for (var i = 0; i < model.length; i++) {
            $.extend(model[i],{
                color: color[i%color.length]
            });
        }
        var kriter_value=@Html.Raw(Json.Encode(ViewBag.Kriter));
        var states = [
{ id: 1, state: "Ocak 2016-2017"},
{ id: 2, state: "Şubat 2016-2017" },
{ id: 3, state: "Mart 2016-2017"},
{ id: 4, state: "Nisan 2016-2017"},
{ id: 5, state: "Mayıs 2016-2017" },
{ id: 6, state: "Haziran 2016-2017"},
{ id: 7, state: "Temmuz 2016-2017"},
{ id: 8, state: "Ağustos 2016-2017" },
{ id: 9, state: "Eylül 2016-2017"},
{ id: 10, state: "Ekim 2016-2017"},
{ id: 11, state: "Kasım 2016-2017" },
{ id: 12, state: "Aralik 2016-2017"},
// ...
        ];

        $.ajax({
            url: window.location.origin + "/Home/AylikSatisAnaliziKodTipDovizKriter",
            data: {},
            type: "post",
            success: function (data)
            {
                $(".slct_satis_temsilcisi_kod").dxSelectBox({
                    dataSource: $.parseJSON(data),
                    valueExpr: 'Kriter',
                    displayExpr: 'Kriter',
                    value: kriter_value,
                    onValueChanged: function (e) {
                        if(e.value!=kriter_value){
                            kriter_value=e.value;
                            var SatisTemsilcisiAylikSatisAnalizi = "/Home/PartialSatisTemsilcisiAylikSatisAnalizi";
                            PartialView(SatisTemsilcisiAylikSatisAnalizi, 'satis_temsilcisi_aylik_satis_analizi', JSON.stringify({ kod: kriter_value, ay: f_tarih }));
                        }
                    }
                });


            }
        });

        $(".slct_satis_temsilcisi_aylar").dxSelectBox({
            dataSource: states,
            valueExpr: 'id',
            displayExpr: 'state',
            value: f_tarih,
            onValueChanged: function (e) {
                var SatisTemsilcisiAylikSatisAnalizi = "/Home/PartialSatisTemsilcisiAylikSatisAnalizi";
                PartialView(SatisTemsilcisiAylikSatisAnalizi, 'satis_temsilcisi_aylik_satis_analizi', JSON.stringify({ kod: e.value, ay: f_tarih }));
            }
        });

        var ChartsAmchartsMik = function () {

            var initChartSample7Mik = function () {
                var chart = AmCharts.makeChart("chart_7_satis_temsilcisi", {
                    "theme": "light",
                    "type": "serial",
                    "startDuration": 2,

                    "fontFamily": 'Open Sans',

                    "color": '#888',

                    //"dataProvider": list,
                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0

                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "colorField": "color",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "GenelTutar",
                        "fixedColumnWidth": 40,
                        "labelText": "[[value]]",
                        "labelRotation":315,
                        "color":"grey",
                        "labelOffset":30
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "Aciklama",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "labelRotation": 45

                    },
                    "exportConfig": {
                        "menuTop": "20px",
                        "menuRight": "20px",
                        "menuItems": [{
                            "icon": '/lib/3/images/export.png',
                            "format": 'png'

                        }]
                    }
                }, 0);
                chart.dataProvider = model;
                chart.validateData();
                chart.animateAgain();
                jQuery('.chart_7_chart_input').off().on('input change', function () {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    chart.startDuration = 0;

                    if (property == 'topRadius') {
                        target = chart.graphs[0];
                    }

                    target[property] = this.value;
                    chart.validateNow();
                });

                $('#chart_7_satis_temsilcisi').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }

            return {
                init: function () {
                    initChartSample7Mik();
                }
            };
        }();

        jQuery(document).ready(function () {
            ChartsAmchartsMik.init();
        });
    });
</script>