<style>

    .dashboard-stat.dashboard-stat-v2 .visual.baslik {
        margin-top: 15px !important;
    }
</style>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" style="height:100px;">
            <div class="visual baslik" style="margin-top:15px;"><i class="fa fa-bar-chart-o" style="margin-left:-20px;"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Sipariş Onayları</div>
                <div class="desc sip_SM" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc sip_SPGMY" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc sip_GM" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 stok_Onay">
        <a class="dashboard-stat dashboard-stat-v2 green"   style="height:100px;">
            <div class="visual" style="margin-top:15px;"><i class="fa fa-shopping-cart" style="margin-left:-20px;"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Stok Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;"> </span><span class="number" style="font-size:16px;">10</span> </div>

            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 teminat_Onay">
        <a class="dashboard-stat dashboard-stat-v2 blue" style="height:100px;">
            <div class="visual" style="margin-top:15px;"><i class="fa fa-comments" style="margin-left:-20px;"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Teminat Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;"> </span><span class="number" style="font-size:16px;">10</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple"  style="height:100px;">
            <div class="visual" style="margin-top:15px;"><i class="fa fa-globe" style="margin-left:-20px;"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Sözleşme Onayları</div>
                <div class="desc soz_SM" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc soz_SPGMY" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc soz_GM" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" style="height:100px;">
            <div class="visual" style="margin-top:15px;"><i class="fa fa-bar-chart-o" style="margin-left:-20px;"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Risk Limit Onayları</div>
                <div class="desc risk_SM" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc risk_SPGMY" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc risk_MIGMY" style="height:16px;"><span style="font-size:12px;margin-right:10px;">MIGMY </span><span class="number" style="font-size:12px;">30</span> </div>
                <div class="desc risk_GM" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green"  style="height:100px;">
            <div class="visual" style="margin-top:15px;"><i class="fa fa-shopping-cart" style="margin-left:-20px;"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Fiyat Listesi Onayları</div>
                <div class="desc fyt_SM" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc fyt_SPGMY" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc fyt_GM" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" style="height:100px;">
            <div class="visual" style="margin-top:15px;"><i class="fa fa-comments" style="margin-left:-20px;"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Çek Onayları</div>
                <div class="desc cek_SPGMY" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc cek_MIGMY" style="height:16px;"><span style="font-size:12px;margin-right:10px;">MIGMY </span><span class="number" style="font-size:12px;">30</span> </div>
                <div class="desc cek_GM" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple"  style="height:100px;">
            <div class="visual" style="margin-top:15px;"><i class="fa fa-globe" style="margin-left:-20px;"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">İhale/Tahsis/Satınalma</div>
                <div class="desc ihale_Alim" style="height:16px;"><span style="font-size:12px;margin-right:10px;">İhaleli Alım  </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc tahsisli_Alim" style="height:16px;"><span style="font-size:12px;margin-right:10px;">Tahsisli Alım  </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc nakliye_Fiyat" style="height:16px;"><span style="font-size:12px;margin-right:10px;">Nakliye Fiyat  </span><span class="number" style="font-size:12px;">30</span> </div>
                <div class="desc sat_SipTalebi" style="height:16px;"><span style="font-size:12px;margin-right:10px;">Satınalma Sip. Talebi  </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">CRM ÖZET</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>*@

</div>


<script>
    // Sipariş
    $(document).on("click", ".sip_SM", function () {
        window.location.href = '/Approvals/Order/SM';
    });

    $(document).on("click", ".sip_SPGMY", function () {
        window.location.href = '/Approvals/Order/SPGMY';
    });

    $(document).on("click", ".sip_GM", function () {
        window.location.href = '/Approvals/Order/GM';
    });

    //Stok Onay
    $(document).on("click", ".stok_Onay", function () {
        window.location.href = '/Approvals/Stock';
    });

    //Teminat Onay
    $(document).on("click", ".teminat_Onay", function () {
        window.location.href = '/Approvals/Stock';
    });

    //Sözleşme
    $(document).on("click", ".soz_SM", function () {
        window.location.href = '/Approvals/Contract/SM';
    });

    $(document).on("click", ".soz_SPGMY", function () {
        window.location.href = '/Approvals/Contract/SPGMY';
    });

    $(document).on("click", ".soz_GM", function () {
        window.location.href = '/Approvals/Contract/GM';
    });

    //Risk
    $(document).on("click", ".risk_SM", function () {
        window.location.href = '/Approvals/Risk/SM';
    });

    $(document).on("click", ".risk_SPGMY", function () {
        window.location.href = '/Approvals/Risk/SPGMY';
    });

    $(document).on("click", ".risk_GM", function () {
        window.location.href = '/Approvals/Risk/GM';
    });

    $(document).on("click", ".risk_MIGMY", function () {
        window.location.href = '/Approvals/Risk/MIGMY';
    });

    //Fiyat
    $(document).on("click", ".fyt_SM", function () {
        window.location.href = '/Approvals/Price/SM';
    });

    $(document).on("click", ".fyt_SPGMY", function () {
        window.location.href = '/Approvals/Price/SPGMY';
    });

    $(document).on("click", ".fyt_GM", function () {
        window.location.href = '/Approvals/Price/GM';
    });

    //Çek
    $(document).on("click", ".cek_SPGMY", function () {
        window.location.href = '/Approvals/Check/SPGMY';
    });

    $(document).on("click", ".cek_GM", function () {
        window.location.href = '/Approvals/Check/GM';
    });

    $(document).on("click", ".cek_MIGMY", function () {
        window.location.href = '/Approvals/Check/MIGMY';
    });

    //İhale/Tahsis/Satınalma
    $(document).on("click", ".ihale_Alim", function () {
        window.location.href = '/Approvals/Risk/SM';
    });

    $(document).on("click", ".tahsisli_Alim", function () {
        window.location.href = '/Approvals/Risk/SPGMY';
    });

    $(document).on("click", ".nakliye_Fiyat", function () {
        window.location.href = '/Approvals/Risk/GM';
    });

    $(document).on("click", ".sat_SipTalebi", function () {
        window.location.href = '/Approvals/Risk/MIGMY';
    });
</script>
