@model List<ChartBakiyeRiskAnalizi>
<div class="row">
    <div class="col-md-12 m-t-40">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Bakiye Risk Analizi</span>
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control SirketIDf", @onchange = "Reloadf(this.value)" })
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="reload" onclick="Reloadf('@ViewBag.SirketKodu');"> </a>
                </div>
            </div>
            <div id="portlet-config"></div>
            <div class="portlet-body">
                <div id="chart_6" class="chart" style="height: 400px;"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    if ($('.SirketIDf option').size() == 1) $(".SirketIDf").hide();
    else $(".SirketIDf").val('@ViewBag.SirketKodu');
    function Reloadf(v)
    {
        PartialView("/Home/PartialBakiyeRiskAnalizi", 'bakiye_risk', JSON.stringify({ SirketKodu: v }));
    }
    $(document).ready(function (e) {
        var model = @Html.Raw(Json.Encode(Model));
        var color = ["#FF0F00", "#FF6600", "#FF9E01", "#FCD202", "#F8FF01", "#B0DE09", "#04D215", "#0D8ECF", "#0D52D1", "#2A0CD0", "#8A0CCF", "#CD0D74", "#754DEB", "#DDDDDD", "#999999", "#333333", "#000000"];
        for (var i = 0; i < model.length; i++) {
            $.extend(model[i], {
                color: color[i % color.length]
            });
        }
        var ChartsAmcharts4 = function () {

            var initChartSample6 = function () {
                var chart = AmCharts.makeChart("chart_6", {
                    "theme": "light",
                    "type": "serial",
                    "startDuration": 2,

                    "fontFamily": 'Open Sans',

                    "color": '#888',

                    //"dataProvider": list,
                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0

                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "colorField": "color",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "Bakiye",
                        "fixedColumnWidth": 40,
                        "labelText": "[[value]]",
                        "labelRotation": 315,
                        "color": "grey",
                        "labelOffset": 30
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "Unvan",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "labelRotation": 45

                    },
                    "exportConfig": {
                        "menuTop": "20px",
                        "menuRight": "20px",
                        "menuItems": [{
                            "icon": '/lib/3/images/export.png',
                            "format": 'png'

                        }]
                    }
                }, 0);
                chart.dataProvider = model;
                chart.validateData();
                chart.animateAgain();
                jQuery('#bakiye_risk').off().on('input change', function () {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    chart.startDuration = 0;

                    if (property == 'topRadius') {
                        target = chart.graphs[0];
                    }

                    target[property] = this.value;
                    chart.validateNow();
                });

                $('#bakiye_risk').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }

            return {
                init: function () {
                    initChartSample6();
                }
            };
        }();

        jQuery(document).ready(function () {
            ChartsAmcharts4.init();
        });
    });
</script>