<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Sipariş Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Stok Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;"> </span><span class="number" style="font-size:16px;">10</span> </div>
               
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Teminat Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;"> </span><span class="number" style="font-size:16px;">10</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Sipariş Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Sipariş Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Sipariş Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Sipariş Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Sipariş Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/Storage" style="height:100px;">
            <div class="visual"><i class="fa fa-bar-chart-o"></i></div>
            <div class="details">
                <div style="width:100%;text-align:center;font-size:16px;font-weight:bold;color:white;">Bekleyen Sipariş Onayları</div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SM </span><span class="number" style="font-size:12px;">10</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">SPGMY </span><span class="number" style="font-size:12px;">20</span> </div>
                <div class="desc" style="height:16px;"><span style="font-size:12px;margin-right:10px;">GM </span><span class="number" style="font-size:12px;">30</span> </div>
            </div>
        </a>
    </div>

</div>
