@model List<ChartAylikSatisAnalizi>
<div class="row">
    <div class="col-md-12 m-t-40">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Aylık Satış Analizi</span>
                </div>

                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="morris_chart_3" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var model = @Html.Raw(Json.Encode(Model));
    new Morris.Bar({
        element: 'morris_chart_3',
        data: model,
        xkey: 'Ay',
        ykeys: ['Yil2015', 'Yil2016', 'Yil2017'],
        labels: ['2015', '2016', '2017'],
        resize: true,
        barColors:["#0D8ECF","#CD0D74","#FCD202"]
    });
</script>
