
@model List<ChartUrunGrubuSatisAnalizi>
<style>
    .as_tarih_kriter .dx-dropdowneditor-icon {
        color: #44b6ae;
    }

        .as_tarih_kriter .dx-dropdowneditor-icon:before {
            color: #44b6ae;
        }

    .dx-dateviewroller-day {
        visibility: hidden;
    }

    .morris-hover {
        position: absolute;
        z-index: 1000;
    }

        .morris-hover.morris-default-style {
            border-radius: 10px;
            padding: 6px;
            color: #666;
            background: rgba(255, 255, 255, 0.8);
            border: solid 2px rgba(230, 230, 230, 0.8);
            font-family: sans-serif;
            font-size: 12px;
            text-align: center;
        }

            .morris-hover.morris-default-style .morris-hover-row-label {
                font-weight: bold;
                margin: 0.25em 0;
            }

            .morris-hover.morris-default-style .morris-hover-point {
                white-space: nowrap;
                margin: 0.1em 0;
            }

    svg {
        width: 100%;
    }
</style>
<div class="col-md-12">
    <div class="portlet light portlet-fit bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-layers font-green"></i>
                <span class="caption-subject font-green bold uppercase">Ürün Grubu Satış Analizi Kriter</span>
            </div>
            <div style="float:left;margin-left: 10px;"><div style="float:left;line-height:36px;"> <span style="color:#0c09de;">Tarih </span></div> <div class="as_tarih_kriter" style="float:right; width:130px; margin-left:10px;"></div></div>
            <div style="float:left;margin-left: 10px;"><div style="float:left;line-height:36px;"> <span style="color:#0c09de;">Kriter </span></div> <div class="slct_aylik_kod-kriter" style="float:left;width:130px; margin-left:10px;"></div></div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-cloud-upload"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-wrench"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-trash"></i>
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="echarts_bar_urungrubu_kriter" style="height:500px;"></div>
        </div>
    </div>
</div>
@*<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <link href="~/Content/dx.light.css" rel="stylesheet" />
    <link href="~/Content/dx.common.css" rel="stylesheet" />
    <script src="~/Content/global/plugins/morris/morris.min.js"></script>
    <script src="~/Content/global/plugins/morris/raphael-min.js"></script>
    <script src="~/Scripts/dx.web.debug.js"></script>
    <script src="~/Scripts/moment.min.js"></script>*@
<script>
    $(document).ready(function (e) {
        var f_tarih = @ViewBag.Tarih;
        var states = [
      { id: 1, state: "Ocak 2016-2017"},
      { id: 2, state: "Şubat 2016-2017" },
      { id: 3, state: "Mart 2016-2017"},
       { id: 4, state: "Nisan 2016-2017"},
      { id: 5, state: "Mayıs 2016-2017" },
      { id: 6, state: "Haziran 2016-2017"},
       { id: 7, state: "Temmuz 2016-2017"},
      { id: 8, state: "Ağustos 2016-2017" },
      { id: 9, state: "Eylül 2016-2017"},
       { id: 10, state: "Ekim 2016-2017"},
      { id: 11, state: "Kasım 2016-2017" },
      { id: 12, state: "Aralik 2016-2017"},
      // ...
        ];
        $(".as_tarih_kriter").dxSelectBox({
            dataSource: states,
            valueExpr: 'id',
            displayExpr: 'state',
            value:f_tarih,
            onValueChanged: function (e) {
                var UrunGrubuSatisKriterUrl = "/Home/PartialUrunGrubuSatisKriter";
                PartialView(UrunGrubuSatisKriterUrl, 'urun_grubu_satis_kriter', JSON.stringify({ tarih: e.value, kriter:kriter_value}));
            }
        });
        var model = @Html.Raw(Json.Encode(Model));
        var grupKod = new Array();
        var Yil2016 = new Array();
        var Yil2017 = new Array();
        jQuery.each( model, function( i, val ) {
            grupKod.push(val.GrupKod);
            Yil2016.push(val.Yil2016);
            Yil2017.push(val.Yil2017);
        });

        var color = ["#FF0F00","#FF6600","#FF9E01","#FCD202","#F8FF01","#B0DE09","#04D215","#0D8ECF","#0D52D1","#2A0CD0","#8A0CCF","#CD0D74","#754DEB","#DDDDDD","#999999","#333333","#000000"];
        for (var i = 0; i < model.length; i++) {
            $.extend(model[i],{
                color: color[i]
            });
        }
        var kriter_value= @Html.Raw(Json.Encode(ViewBag.Kriter));
        var doviz = [
{ state: "TL"},
{ state: "Döviz"},
{ state: "Birim" },
        ];

        $(".slct_aylik_kod-kriter").dxSelectBox({
            dataSource: doviz,
            valueExpr: 'state',
            displayExpr: 'state',
            value: kriter_value,
            onValueChanged: function (e) {
                kriter_value=e.value;
                var UrunGrubuSatisKriterUrl = "/Home/PartialUrunGrubuSatisKriter";
                PartialView(UrunGrubuSatisKriterUrl, 'urun_grubu_satis_kriter', JSON.stringify({ tarih: f_tarih, kriter:kriter_value}));
            }
        });

        require.config({
            paths: {
                echarts: '/content/assets/global/plugins/echarts'
            }
        });

        // DEMOS
        require(
            [
                'echarts',
                'echarts/chart/bar',
                'echarts/chart/chord',
                'echarts/chart/eventRiver',
                'echarts/chart/force',
                'echarts/chart/funnel',
                'echarts/chart/gauge',
                'echarts/chart/heatmap',
                'echarts/chart/k',
                'echarts/chart/line',
                'echarts/chart/map',
                'echarts/chart/pie',
                'echarts/chart/radar',
                'echarts/chart/scatter',
                'echarts/chart/tree',
                'echarts/chart/treemap',
                'echarts/chart/venn',
                'echarts/chart/wordCloud'
            ],
            function(ec) {
                //--- BAR ---
                var myChart = ec.init(document.getElementById('echarts_bar_urungrubu_kriter'));
                myChart.setOption({
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['Yil2016', 'Yil2017']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {
                                show: true
                            },
                            dataView: {
                                show: true,
                                readOnly: false
                            },
                            magicType: {
                                show: true,
                                type: ['line', 'bar']
                            },
                            restore: {
                                show: true
                            },
                            saveAsImage: {
                                show: true
                            }
                        }
                    },
                    calculable: true,
                    xAxis: [{
                        type: 'category',
                        data: grupKod,
                        axisLabel:{
                        rotate:-45
                        }
                    }],
                    yAxis: [{
                        type: 'value',
                        splitArea: {
                            show: true
                        }
                    }],
                    series: [{
                        name: '2016',
                        type: 'bar',
                        data: Yil2016,
                        markPoint : {
                            data : [
                                {type : 'max', name: '2016'},
                                {type : 'min', name: '2016'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name: '2016'}
                            ]
                        }
                    }, {
                        name: '2017',
                        type: 'bar',
                        data: Yil2017,
                        markPoint : {
                            data : [
                                {type : 'max', name: '2017'},
                                {type : 'min', name: '2017'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name: '2017'}
                            ]
                        }
                    }]
                });

            }
        );
        //$(".as_tarih").dxSelectBox("instance").option({value:f_tarih});
    });
</script>




