@model List<ChartGunlukSatisAnalizi>
<div class="row">
    <div class="col-md-12 m-t-40">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Satış Analizi YearToDay <span style="color:#8888a7;">3D PİE CHART</span></span>
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control", @onchange = "Reload3(this.value)" })
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="reload" onclick="Reload3('@ViewBag.SirketKodu');"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_7_year" class="chart" style="height: 400px;"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    if ($('#SirketID option').size() == 1) $("#SirketID").hide();
    else $("#SirketID").val('@ViewBag.SirketKodu');
    function Reload3(v)
    {
        PartialView("/Home/PartialGunlukSatisYearToDayPie", 'gunluk_satis_yeartoday_pie', JSON.stringify({ SirketKodu: v }));
    }
    $(document).ready(function (e) {
        var model = @Html.Raw(Json.Encode(Model));
        var color = ["#FF0F00", "#FF6600", "#FF9E01", "#FCD202", "#F8FF01", "#B0DE09", "#04D215", "#0D8ECF", "#0D52D1", "#2A0CD0", "#8A0CCF", "#CD0D74", "#754DEB", "#DDDDDD", "#999999", "#333333", "#000000"];
        for (var i = 0; i < model.length; i++) {
            $.extend(model[i], {
                color: color[i % color.length]
            });
        }
        var ChartsAmchartsYear = function () {
            var initChartSample7Year = function () {
                var chart = AmCharts.makeChart("chart_7_year", {
                    "type": "pie",
                    "theme": "light",
                    "fontFamily": 'Open Sans',
                    "color": '#888',
                    "valueField": "GenelTutar",
                    "titleField": "Unvan",
                    "outlineAlpha": 0.4,
                    "depth3D": 30,
                    "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                    "colorField": "color",
                    "angle": 30,
                    "exportConfig": {
                        menuItems: [{
                            icon: '/lib/3/images/export.png',
                            format: 'png'
                        }]
                    }
                });
                chart.dataProvider = model;
                chart.validateData();
                chart.animateAgain();
                jQuery('.chart_7_chart_input').off().on('input change', function () {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    var value = Number(this.value);
                    chart.startDuration = 0;

                    if (property == 'innerRadius') {
                        value += "%";
                    }

                    target[property] = value;
                    chart.validateNow();
                });

                $('#chart_7_year').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }
            return {
                init: function () {
                    initChartSample7Year();
                }
            };
        }();
        jQuery(document).ready(function () {
            ChartsAmchartsYear.init();
        });
    });
</script>