@{
    ViewBag.Title = "Günlük Satış";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Günlük Satış Raporu</span></li></ul></div>
<h1 class="page-title">Günlük Satış Raporu</h1>
<div class="row m-t-20">
    <div class="col-md-1 text-right p-0 m-t-5 color-blue-light bold">Başlangıç: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.ToShortDateString()" /></div>
    <div class="col-md-1 text-right p-0 m-t-5 color-blue-light bold">Bitiş: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBitis" value="@DateTime.Today.ToShortDateString()" /></div>
    <div class="col-md-2"><button id="btnListele" class="btn btn-block green">Listele<i class="fa fa-check"></i></button></div>
</div>
<div class="row" id="gunluk-satis-grid" style="margin-top:20px;"></div>
@section Scripts{<script>
    $(document).ready(function () {
        var basTarih = @DateTime.Today.ToOADateInt();
        var bitTarih = basTarih;
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#txtBaslangic").datepicker().on("change", function (e) { basTarih = toOADateFromString(e.target.value); });
        $("#txtBitis").datepicker().on("change", function (e) { bitTarih = toOADateFromString(e.target.value); });
        $("#btnListele").click(function () { PartialView("/Reports/Stock/GunlukSatisList", 'gunluk-satis-grid', JSON.stringify({ bastarih: basTarih, bittarih: bitTarih })); });
    });
</script>
}