@{
    ViewBag.Title = "Günlük Satış";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    .dx-datagrid-headers .dx-row {
        color: white;
        border-bottom: 1px solid #D2D2D2;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    }
    .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter:after, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter:before {color: white;}
    .btn {width: 120px;text-align: center;}
</style>
}<div class="row">
    <div class="control-content col-md-11 col-lg-9">
        <div class="col-md-1 col-sm-2 col-xs-12">
            <table>
                <tr style="padding:8px;">
                    <td style="width:120px;"><span></span></td>
                </tr>
                <tr style="height:10px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"><span style="width:90%;color:#1e5799;font-weight:bold;">Tarih</span><span style="width:10%;right:0;color:#1e5799;font-weight:bold;">:</span></td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <table>
                <tr style="padding:8px;">
                    <td style="width:200px;"><div style="width:200px;text-align:center;color:#1e5799;font-weight:bold;">Başlangıç</div></td>
                </tr>
                <tr style="height:10px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:200px;padding:4px;"><div class="tarih-bas-date" style="float:left;width:80%;"></div></td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <table>
                <tr style="padding:8px;">
                    <td style="width:200px;"><div style="width:200px;text-align:center;color:#1e5799;font-weight:bold;">Bitiş</div></td>
                </tr>
                <tr style="height:10px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:200px;padding:4px;"><div class="tarih-bit-date" style="float:left;width:80%;"></div></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12">
            <table>
                <tr style="padding:8px;">
                    <td style="width:120px;"><span></span></td>
                </tr>
                <tr style="height:10px"><td colspan="6"></td></tr>
                <tr style="padding:8px;">
                    <td style="width:120px;"><div class="btn-listele" style="right:20px; color:white; text-align:center; font-weight:bold; background-color:#1e5799; width:100px;height:40px;"><span>Listele</span></div></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row" id="gunluk-satis-grid" style="margin-top:20px;"></div>
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script>
    var dateVal = new Date();
    dateVal.setHours(0, 0, 0);
    var basTarih = Math.ceil((dateVal - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));
    var bitTarih = basTarih;
    $(document).ready(function () {
    
        $(".btn-listele").dxButton({
            onClick: function() {
                PartialView("/Reports/Stock/GunlukSatisList", 'gunluk-satis-grid', JSON.stringify({ bastarih: basTarih, bittarih: bitTarih }));
            }
        });
        $(".tarih-bas-date").dxDateBox({
            dataType: 'date',
            formatString: 'dd/MM/yyyy',
            value:new Date(),
            onValueChanged: function (e) {
                 basTarih = Math.ceil((new Date(e.value) - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000))-1;
            }
        });
        $(".tarih-bit-date").dxDateBox({
            dataType: 'date',
            formatString: 'dd/MM/yyyy',
            value: new Date(),
            onValueChanged: function (e) {
                bitTarih = Math.ceil((new Date(e.value) - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000))-1;
            }
        });
    });
</script>
}