@{
    ViewBag.Title = "Kampanyalı Satış Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
    tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Kampanyalı Satış</span></li></ul></div>
<h1 class="page-title">Kampanyalı Satış</h1>
<div class="row m-t-20">
    <div class="col-md-1 text-right p-0 m-t-5 color-blue-light bold">Başlangıç: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.ToString("dd.MM.yyyy")" /></div>
    <div class="col-md-1 text-right p-0 m-t-5 color-blue-light bold">Bitiş: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBitis" value="@DateTime.Today.ToString("dd.MM.yyyy")" /></div>
    <div class="col-md-2"><button id="btnListele" class="btn btn-block green">Listele<i class="fa fa-check"></i></button></div>
</div>
<div class="row m-t-10 p-0" id="kampanyali-siparis-grid"></div>
<div class="modal fade" id="x-modal-evrakno-detay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#12ccee">Sipariş Bazında Kampanya Detayı</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="grid_evrakno-detay">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlSilKapat">Kapat</button>
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    var basTarih = @DateTime.Today.ToOADateInt();
    var bitTarih = basTarih;
    $(document).ready(function () {
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#txtBaslangic").datepicker().on("change", function (e) { basTarih = toOADateFromString(e.target.value); });
        $("#txtBitis").datepicker().on("change", function (e) { bitTarih = toOADateFromString(e.target.value); });
        $("#btnListele").click(function () { PartialView("/Reports/Stock/KampanyaliSatisList", 'kampanyali-siparis-grid', JSON.stringify({ bastarih: basTarih, bittarih: bitTarih })); });
        PartialView("/Reports/Stock/KampanyaliSatisList", 'kampanyali-siparis-grid', JSON.stringify({ bastarih: basTarih, bittarih: bitTarih }));
    });
    function newrow(chk) { return "<table style='background:transparent;' id='new" + chk + "'></table>"; }
    function format(d) {
        $.ajax({
            type: 'POST',
            url: '/Reports/Stock/KampanyaChkDetay',
            data: { "CHK": d, "bastarih": basTarih, "bittarih": bitTarih},
            dataType: "html",
            success: function (data) {
                $('#new' + d.toString().replace(/\s/g, '')).html(data);
            }
        });
    }
</script>
}