@model IEnumerable<SevkiyatKalanRapor>
@{
    ViewBag.Title = "Sevkiyattan Kalan Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Sevkiyattan Kalan Stok</span></li></ul></div>
<h1 class="page-title">Sevkiyattan Kalan Stok</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title"><div class="caption"><i class="fa fa-gift"></i>Sevkiyattan Kalan Stok</div></div>
            <div class="portlet-body form p-30 p-t-15">
                <table class="table table-striped table-bordered table-condensed" id="sample_1">
                    <thead>
                        <tr>
                            <th>EvrakNo</th>
                            <th>Tarih</th>
                            <th>TahTeslimTarih</th>
                            <th>Chk</th>
                            <th>Unvan</th>
                            <th>SiraNo</th>
                            <th>TeslimChk</th>
                            <th>TeslimYeriAdi</th>
                            <th>MalKodu</th>
                            <th>MalAdi</th>
                            <th>Miktar</th>
                            <th>Birim</th>
                            <th>BirimMiktar</th>
                            <th>TeslimMiktar</th>
                            <th>KapatilanMiktar</th>
                            <th>SevkEvrakMiktar</th>
                            <th>Birim1</th>
                            <th>Birim2</th>
                            <th>Birim3</th>
                            <th>Operator2</th>
                            <th>Operator3</th>
                            <th>KatSayi2</th>
                            <th>KatSayi3</th>
                            <th>GrupKod</th>
                            <th>Kod16</th>
                            <th>Birim1StokMiktar</th>
                            <th>BTBKatSayi</th>
                            <th>KayitTarih</th>
                            <th>KayitSaat</th>
                            <th>SevkEdilecekIlIlce</th>
</tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                           
                        </tr>
                    </tfoot>
                    <tfoot class="tf-search">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('#sample_1').DataTable({
                "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
                "ordering": true,
                "pagingType": "full_numbers",
                "scrollX": true,
                "scrollY": true,
                "dom": 'lBfrtip',
                "buttons": [
                    { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs' },
                    { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs' }
                ],
                "ajax": {
                    "url": '/Reports/Stock/SevkiyatKalanStokList',
                    "dataSrc": function (json) {
                        return json;
                    }
                },
                "columns": [

                    { "data": "EvrakNo" },
                    { "data": "Tarih" },
                    { "data": "TahTeslimTarih" },
                    { "data": "Chk" },
                    { "data": "Unvan" },
                    { "data": "SiraNo" },
                    { "data": "TeslimChk" },
                    { "data": "TeslimYeriAdi" },
                    { "data": "MalKodu" },
                    { "data": "MalAdi" },
                    { "data": "Miktar" },
                    { "data": "Birim" },
                    { "data": "BirimMiktar" },
                    { "data": "TeslimMiktar" },
                    { "data": "KapatilanMiktar" },
                    { "data": "SevkEvrakMiktar" },
                    { "data": "Birim1" },
                    { "data": "Birim2" },
                    { "data": "Birim3" },
                    { "data": "Operator2" },
                    { "data": "Operator3" },
                    { "data": "KatSayi2" },
                    { "data": "KatSayi3" },
                    { "data": "GrupKod" },
                    { "data": "Kod16" },
                    { "data": "Birim1StokMiktar" },
                    { "data": "BTBKatSayi" },
                    { "data": "KayitTarih" },
                    { "data": "KayitSaat" },
                    { "data": "SevkEdilecekIlIlce" }
                      
                ]

            });
            $('#sample_1 .tf-search th').each(function () {
                var title = $('#sample_1 thead th').eq($(this).index()).text();
                if (title != "" && title.length < 100) {
                    $(this).html('<input type="text" placeholder="Ara" />');
                }
            });
            $("#sample_1 tfoot input").on('keyup change', function () {
                table
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
            });
            $('#sample_1 .tf-search tr').insertAfter($('#sample_1 thead tr'))
        });
    </script>}
