<table class="table table-striped table-bordered" id="sample_1">
    <thead><tr><th></th><th>Hesap Kodu</th><th>Ünvan</th><th>Tip Kodu</th><th>Kredi Limiti</th><th>Bakiye</th><th>PRT Bakiyesi</th><th>Risk%</th><th>Risk Bakiyesi</th><th>Ş.Çek</th><th>T.Çek</th><th>Kod2</th><th>Ortalama Gun</th><th>Kod3 Ort. Gun</th><th>Kod3 Ort. Bakiye</th><th>Sipariş Türü</th><th>Sıcak Sipariş</th><th>Soğuk Sipariş</th><th>Gün İçindeki Sipariş</th><th>Evrak No</th><th>Onay Durumu</th><th>Firma</th><th>Kaydeden</th><th>KayıtTarih</th></tr></thead>
    <tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
    <tfoot class="tf-search"><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
</table>
<script type="text/javascript">
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Reports/Stock/SiparisOnayRaporData',
            "data": { tip: "@ViewBag.Tip", bastarih: "@ViewBag.bastarih", bittarih: "@ViewBag.bittarih"},
            "dataSrc": function (json) {
                return json;
            },
        },
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right" }],
        "columns": [
            {"data": null,"defaultContent": '',"className": 'select-checkbox',"orderable": false},
            { "data": "HesapKodu" },
            { "data": "Unvan" },
            { "data": "TipKodu" },
            { "data": "KrediLimiti", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Bakiye", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "PRTBakiye", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Risk", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "RiskBakiyesi", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SCek", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TCek", "render": $.fn.dataTable.render.number('.', ',', 2, '')},
            { "data": "Kod2" },
            { "data": "OrtGun", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Kod3OrtGun", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Kod3OrtBakiye", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SiparisTuru" },
            { "data": "SicakSiparis", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SogukSiparis", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "GunIciSiparis", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "EvrakNo"},
            { "data": "OnayDurumu" },
            { "data": "Firma" },
            { "data": "Degistiren" },
            { "data": "DegisTarih", "render": function (data) { if (data != null) return fromOADate(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } }
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });
       $('#sample_1 tbody').on('click', 'tr', function () {
           $(this).toggleClass('selected');
       });
       $('#sample_1 .tf-search th').each(function ()
       {
           var title = $('#sample_1 thead th').eq($(this).index()).text();
           if (title != "" && title.indexOf("Tarih") !== -1)
               $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
           else if (title != "" && title != "Detay" && title != "Hareket")
               $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
       });
       $("#sample_1 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });
       //tarih
       $.datepicker.setDefaults($.datepicker.regional["tr"]);
       $(".tarih").datepicker();
       $("#buttons").html("");
       var buttons = new $.fn.dataTable.Buttons(table, {
           buttons: [
               { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
               { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
           ]
       }).container().appendTo($('#buttons'));
</script>
