@model List<RaporGetKod>
@{
    ViewBag.Title = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Stok Raporu</span></li></ul></div>
<h1 class="page-title">Stok Raporu</h1>
<div class="row m-t-20">
    <div class="col-md-1 text-right p-0 m-t-5 color-blue-light bold">Tarih: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtTarih" value="@DateTime.Today.ToString("dd.MM.yyyy")" /></div>
    <div class="col-md-2"><button id="btnListele" class="btn btn-block green">Listele<i class="fa fa-check"></i></button></div>
</div>
<div class="row m-t-20">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-offset-2 col-md-4 color-blue-light bold">Başlangıç</div>
            <div class="col-md-4 color-blue-light bold">Bitiş</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right color-blue-light bold">Grup Kodu</div>
            <div class="col-md-4"><div class="grup-bas-select"></div></div>
            <div class="col-md-4"><div class="grup-bit-select"></div></div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right color-blue-light bold">Tip Kodu</div>
            <div class="col-md-4"><div class="tip-bas-select"></div></div>
            <div class="col-md-4"><div class="tip-bit-select"></div></div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right color-blue-light bold">Özel Kod</div>
            <div class="col-md-4"><div class="ozel-bas-select"></div></div>
            <div class="col-md-4"><div class="ozel-bit-select"></div></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-offset-2 col-md-4 color-blue-light bold">Başlangıç</div>
            <div class="col-md-4 color-blue-light bold">Bitiş</div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right color-blue-light bold">Kod1</div>
            <div class="col-md-4"><div class="kod1-bas-select"></div></div>
            <div class="col-md-4"><div class="kod1-bit-select"></div></div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right color-blue-light bold">Kod2</div>
            <div class="col-md-4"><div class="kod2-bas-select"></div></div>
            <div class="col-md-4"><div class="kod2-bit-select"></div></div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right color-blue-light bold">Kod3</div>
            <div class="col-md-4"><div class="kod3-bas-select"></div></div>
            <div class="col-md-4"><div class="kod3-bit-select"></div></div>
        </div>
    </div>
</div>
<div class="row m-t-20" id="stok-raporu-grid"></div>
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script>
    $(document).ready(function () {
        var model = @Html.Raw(Json.Encode(Model));
        var grupKod1="",grupKod2="ZZZZZZZZ",tipKod1="",tipKod2="ZZZZZZZZ",ozelKod1="",ozelKod2="ZZZZZZZZ",kod11="",kod12="ZZZZZZZZ",kod21="",kod22="ZZZZZZZZ",kod31="",kod32="ZZZZZZZZ",tarih;
        var grupKod = new Array(), tipKod = new Array(), ozelKod = new Array(), kod1 = new Array(), kod2 = new Array(), kod3 = new Array();
        jQuery.each( model, function( i, val ) {
            if(val.Tip==1) grupKod.push((model[i]));
            else if(val.Tip==2) tipKod.push((model[i]));
            else if(val.Tip==3) ozelKod.push((model[i]));
            else if(val.Tip==4) kod1.push((model[i]));
            else if(val.Tip==5) kod2.push((model[i]));
            else if(val.Tip==6) kod3.push((model[i]));
        });
        var Tarih = @DateTime.Today.ToOADateInt();
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#txtTarih").datepicker().on("change", function (e) { Tarih = toOADateFromString(e.target.value); });
        $("#btnListele").click(function () { PartialView("/Reports/Stock/StokList", 'stok-raporu-grid', JSON.stringify({ Tarih: Tarih, BasGrupKod: grupKod1, BitGrupKod: grupKod2, BasTipKod: tipKod1, BitTipKod: tipKod2, BasOzelKod: ozelKod1, BitOzelKod: ozelKod2, BasKod1: kod11, BitKod1: kod12, BasKod2: kod21, BitKod2: kod22, BasKod3: kod31, BitKod3: kod32 })); });

        $(".grup-bas-select").dxSelectBox({
            dataSource: grupKod,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                grupKod1=e.value;
            }
        });
        $(".grup-bit-select").dxSelectBox({
            dataSource: grupKod,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                grupKod2=e.value;
            }
        });
        $(".tip-bas-select").dxSelectBox({
            dataSource: tipKod,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                tipKod1=e.value;
            }
        });
        $(".tip-bit-select").dxSelectBox({
            dataSource: tipKod,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                tipKod2=e.value;
            }
        });
        $(".ozel-bas-select").dxSelectBox({
            dataSource: ozelKod,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                ozelKod1=e.value;
            }
        });
        $(".ozel-bit-select").dxSelectBox({
            dataSource: ozelKod,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                ozelKod2=e.value;
            }
        });
        $(".kod1-bas-select").dxSelectBox({
            dataSource: kod1,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                kod11=e.value;
            }
        });
        $(".kod1-bit-select").dxSelectBox({
            dataSource: kod1,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                kod12=e.value;
            }
        });
        $(".kod2-bas-select").dxSelectBox({
            dataSource: kod2,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                kod21=e.value;
            }
        });
        $(".kod2-bit-select").dxSelectBox({
            dataSource: kod2,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                kod22=e.value;
            }
        });
        $(".kod3-bas-select").dxSelectBox({
            dataSource: kod3,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                kod31=e.value;
            }
        });
        $(".kod3-bit-select").dxSelectBox({
            dataSource: kod3,
            valueExpr: 'Kod',
            displayExpr: 'Kod',
            onValueChanged: function (e) {
                kod32=e.value;
            }
        });
    });
</script>
}