@{
    ViewBag.Title = "Teminat Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Teminat</span></li></ul></div>
<h1 class="page-title">Teminat Onaylama</h1>
<div class="form-horizontal">
    <div class="form-body">

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Teminat Onay
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-success pull-right input-circle onay-buton glyphicon glyphicon-ok"> Onayla </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-danger pull-right input-circle reddet-buton glyphicon glyphicon-remove"> Reddet </button></div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="row" style="margin-bottom:5px;margin-left:5px;">
                        <div class="col-md-6">

                            <div id="buttons"></div>

                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-md-12" style="width:100%;">
                            <div class="table-toolbar">
                                <table class="table table-striped table-bordered" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th> Hesap Kodu</th>
                                            <th> Ünvan </th>
                                            <th> Cins </th>
                                            <th> Tutar </th>
                                            <th> Teminat Tutar </th>
                                            <th> Süreli Süresiz</th>
                                            <th> Tarih</th>
                                            <th> Vade Tarih</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{ <script>
    var simple_checkbox = function (data, type, full, meta) {
        var is_checked = data == 1 ? "checked" : "";
        return '<div style="width:100%;padding: 0 40%;"><input type="checkbox" class="checkbox" style="width: 20px;height:20px;" disabled  ' +
            is_checked + ' /></div>';
    }
    var secili_satir = new Array();
    var secili_table = new Array();
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Guarantee/List',
            "dataSrc": function (json) {
                return json;
            },
        },
        "fixedHeader": true,
        "pagingType": "full_numbers",
        "columnDefs": [{ "visible": false, "targets": 0 }, { "type": "num-fmt", "className": "dt-right", "targets": [5,6] }],
        "columns": [
            { "data": "ID" },
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "HesapKodu"},
            { "data": "Unvan" },
            { "data": "Cins" },
            { "data": "Tutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TeminatTutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SureliSuresiz", "render": function (data) { if (data == true) return "Süreli"; else return "Süresiz" } },
            { "data": "Tarih", "render": function (data) { if (data != null) return formatDateFromJson(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; }, "sClass": "nowrap" },
            { "data": "VadeTarih", "render": function (data) { if (data != null) return formatDateFromJson(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; }, "sClass": "nowrap" },
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });
    var table12 = $('#sample_1').DataTable();
    var buttons = new $.fn.dataTable.Buttons(table12, {
        buttons: [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
        ]
    }).container().appendTo($('#buttons'));

    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });
        
    $('.onay-buton').click(function () {

        var x = table.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/Guarantee/Onay",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",

            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                    setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    if (data.Message == "") data.Message = "Hata oluştu";
                    Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                    setTimeout(function () { window.location.reload(); }, 500);
                }

            }
        });

        return _dfd.promise();

    });

    $('.reddet-buton').click(function () {

        var x = table.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/Guarantee/Red",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",
            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                    setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    if (data.Message == "") data.Message = "Hata oluştu";
                    Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                    setTimeout(function () { window.location.reload(); }, 500);
                }

            }
        });
        return _dfd.promise();
    });

    $('.yenile-buton').click(function () {

        window.location.reload();
    });
</script>
}