@{
    ViewBag.Title = "Hata oldu";
    Layout = "~/Views/Shared/_Layout.Null.cshtml";
}<style>
    body{background-color:#66caff;margin:0;padding:0;}
    #outside{width:650px;margin:100px auto;}
    #inside{height:400px;padding:40px 70px;background-image:url('/Content/assets/global/img/Maintenance_Back.png');background-repeat:no-repeat;}
    img{float:right;margin-top:320px;margin-right:-200px;}
    a{font-weight:bold;color:black;}
</style>
<div id="outside">
    <img src="~/Content/assets/global/img/Maintenance_Clipart.png" alt="" />
    <div id="inside">
        <h2>Bir hataya denk geldiniz!</h2>
        <p>Endişe edilecek bir durum yok.</p>
        <p><a href="/">Buraya tıklayarak hemen anasayfaya dönebilirsiniz.</a></p>
        <p><br />Verdiğimiz geçici rahatsızlıktan dolayı özür dileriz.</p>
    </div>
</div>