@{
    ViewBag.Title = "Onay Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
        td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;max-width:20px;}
        tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
        .last-work {line-height: 32px !important;color: #86d8ea;font-size: 24px;margin-left:5px;}
        .delete-icn {line-height: 32px !important;color: #ec4646;font-size: 24px;}
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><a href="/ToDo/Duties">Görevler</a><i class="fa fa-circle"></i></li><li><span>Onay Listesi</span></li></ul></div>
<h1 class="page-title">Onay Listesi</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Onay Listesi
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/ToDo/DutyWork/NewAll')"> Müşteri İle Çalışma </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Onay Tipi</div>
                            <div class="col-sm-4">
                                <select class="form-control input-circle" id="DurumID" name="DurumID" onchange="FuncSearchBtn()">
                                    <option value="false">Bana Ait</option>
                                    <option value="true">Hepsi</option>
                                </select>                                
                            </div>
                            <div class="col-sm-1"><button type="button" class="btn btn-circle green" onclick="FuncSearchBtn();"><i class="icon-refresh"></i></button></div>
                        </div>
                    </div>
                </div>
                <div id="liste" class="p-30"></div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.Yetki == true){
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Görev Listesi
                </div>
            </div>
            <div class="portlet-body form">
                <div id="listeOnay" class="p-30"></div>
            </div>
        </div>
    </div>
</div>
}@section Scripts{<script type="text/javascript">
    FuncSearchBtn();
    function FuncSearchBtn() {
        $('#liste').html("");
        PartialView("/ToDo/DutyWork/ToDosList", 'liste', JSON.stringify({ Tip: $('#DurumID').val() }));
        @if (ViewBag.Yetki == true){<text>PartialView("/ToDo/Duties/ListOnay", 'listeOnay', '');</text>}
    }
    function getresult(data) {
        if (data.Status == false) {
            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
            $("#btnSubmit").prop('disabled', false);
        }
        else {
            Modaldialog("Kaydedildi", "Başarı", "Tamam", "btn-success");
            $('#modalEditPage').modal('toggle');
            FuncSearchBtn();
            $('#send-realtime-notifications').click();
        }
    };
    function newrow(id) { return "<div id='new" + id + "'></div>"; }
    function format(d) {
        $.ajax({
            type: 'POST',
            url: '/ToDo/DutyWork/ToDosDetails',
            data: { "ID": d },
            dataType: "html",
            success: function (data) {
                $('#new' + d).html(data);
            }
        });
    }
   @if (ViewBag.Yetki == true){<text>
    function showEdit(ID) {
        $('#modalEditPage').modal('toggle');
        editInModal('/ToDo/Duties/Edit/' + ID);
    }
    function GorevOnay(tip, id) {
        $.ajax({
            url: window.location.origin + "/ToDo/Duties/GorevOnay",
            data: { Id: id, Tip: tip },
            type: "post",
            success: function (data) {
                if (data.Status == true) {
                    Modaldialog("İşlem Başarılı", "Güncelleme İşlemi", "Tamam", "btn-success");
                    FuncSearchBtn();
                }
                else if (data.Message != "" && data.Message != null)
                    Modaldialog(data.Message, 'Hata', 'Tamam', 'btn-danger');
                else
                    Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
            },
            error: function (data) {
                Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
            }
        });
    }
    </text>}
</script>
}