@{
    ViewBag.Title = "Aksiyon Satış Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{
    <style>
        .dx-datagrid-headers .dx-row {
            color: white;
            border-bottom: 1px solid #D2D2D2;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#32c5d2), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
            background: linear-gradient(to bottom, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
        }

        .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter:after, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter:before {
            olor: white;
        }

        .btn {
            width: 120px;
            text-align: center;
        }
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Aksiyon Satış Raporu</span></li></ul></div>
<h1 class="page-title">Aksiyon Satış Raporu</h1>
<div class="row control-content">
    <div class="row col-md-10 col-lg-8">
        <div class="col-xs-12 col-sm-12 col-md-2" style="margin-top:10px;">
            <select onchange="kodcu()" id="aksiyon" class="form-control">
                <option value="1">Web Aksiyon Satış</option>
                <option value="5">Tüm Aksiyon Satış</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3" style="margin-top:10px;">
            <div class="btn btn-lg green btn-listele" style="width:222px;height:33px;">Listele<i class="fa fa-check"></i></div>
        </div>

    </div>
</div>
<div class="row">
    <div id="odeme-yapmayanlar-grid" style="margin-top:20px;"></div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var Kod13 = 0;
            function kodcu() {
                Kod13 = $("#aksiyon").val();
            }

        $(".btn-listele").dxButton({
            onClick: function () {
                Kod13 = $("#aksiyon").val();
                PartialView("/Reports/Financial/AksiyonSatisList", 'odeme-yapmayanlar-grid', JSON.stringify({ Kod13: Kod13 }));
            }
        });
        $(".btn-listele").removeClass("dx-button");
    });
    </script>
}