@model List<RaporCHKSelect>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cari Ekstre";
}@section Styles{<style>
    td.details-control {
        background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;
    }
    .dx-lookup {
        margin: 0;
        height: 29px;
    }

    .dx-datagrid-headers .dx-row {
        color: white;
        border-bottom: 1px solid #D2D2D2;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#32c5d2), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to bottom, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    }

    .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter:after, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter:before {
        color: white;
    }
    .btn {
        width: 120px;
        text-align: center;
    }
</style>
}<div class="row control-content">
    <div class="row col-md-10">
        <div class="col-xs-12 col-sm-12 col-md-2" style="margin-top:10px;">
            <span style="line-height:36px;height:36px;width:90%;color:#32c5d2;font-weight:bold;">Hesap Kodu</span><span style="line-height:36px;height:36px;width:10%;right:0;color:#2fc1d8;font-weight:bold;">:</span>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-4" style="margin-top:10px;line-height:36px;height:36px;padding:4px;margin-left:10px;">
            <div class="chk-select" style="width:90%;height:29px;"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2" style="margin-top:10px;">
            <div class="btn-listele" style="background-color: #32c5d2;height: 36px;width: 70%;color: white;font-weight: bold;">Listele</div>
        </div>
    </div>

</div>
<div class="row" id="cari-extre-grid" style="margin-top:20px;"></div>
<div class="modal fade" id="x-modal-cari-detay-cek" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#32c5d2">CARİ DETAY</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="grid_cari-detay-cek">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlCekKapat">Kapat</button>
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="x-modal-cari-detay-fatura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#32c5d2">CARİ DETAY</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="grid_cari-detay-fatura">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlFaturaKapat">Kapat</button>
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="x-modal-cari-detay-diger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#32c5d2">CARİ DETAY</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="grid_cari-detay-diger">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlDigerKapat">Kapat</button>
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script>
    var chk = "";
    $(document).ready(function () {
        var model = @Html.Raw(Json.Encode(Model));

        $(".chk-select").dxLookup({
            dataSource: model,
            searchEnabled: true,
            pageLoadMode:"nextButton",
            searchExpr: ["HesapKodu", "Unvan"],
            valueExpr: 'HesapKodu',
            displayExpr: 'Unvan',

            onValueChanged: function (e) {
                chk = e.value;
            },

            itemTemplate: function (itemData, itemIndex, itemElement) {
                itemElement.css({"text-align":"left", "border-bottom":"1px solid #2fc1d8"});
                if(itemIndex>0)
                {
                    itemElement.css({ "margin-top":"-40px" });
                }
                var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;'><b>" + itemData.Unvan + "</b></p>");
                rightBlock.append("<p style='line-height: 0%;font-size:11px;'>HesapKodu: <i>" + itemData.HesapKodu + "</i></p></div>");
                itemElement.append(rightBlock);
            }
        });

        $(".btn-listele").dxButton({
            onClick: function() {
                if(chk!="")
                {
                    PartialView("/Reports/Financial/CariEkstreList", 'cari-extre-grid', JSON.stringify({ chk: chk }));
                }
                else{
                    Modaldialog("HesapKodu seçin!", "CariExtre", "Tamam", "Guncel");
                }
            }
        });

    });
</script>
}


