@model List<RaporPozisyonCekSenet>
@{
    ViewBag.Title = "Çek Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    .dx-datagrid-headers .dx-row {
        color: white;
        border-bottom: 1px solid #D2D2D2;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#32c5d2), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to bottom, #32c5d2 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    }
    .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter:after, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter:before {color: white;}
    .btn {width: 120px;text-align: center;}    
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Çek Listesi</span></li></ul></div>
    <h1 class="page-title">Çek Listesi</h1>
    <div class="control-content row">
        <div style="float:left;">
            <div class="col-xs-12 col-sm-3" style="margin-top:10px;">
                <table>
                    <tr style="padding:8px;">
                        <td style="width:120px;"><div style="width:90%;float:left;color:#32c5d2;font-weight:bold;">Pozisyon</div><div style="width:10%;float:left;right:0;color:#32c5d2;font-weight:bold;">:</div></td>
                        <td style="width:200px;"><div class="pozisyon-select" style="float:left;width:90%;"></div></td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-3" style="margin-top:10px;">
                <table>
                    <tr style="padding:8px;">
                        <td style="width:120px;"><div style="width:90%;float:left;color:#32c5d2;font-weight:bold;">Vade Ay</div><div style="width:10%;float:left;right:0;color:#32c5d2;font-weight:bold;">:</div></td>
                        <td style="width:200px;"><div class="ay-select" style="float:left;width:90%;"></div></td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-3" style="margin-top:10px;">
                <table>
                    <tr style="padding:8px;">
                        <td style="width:120px;"><div style="width:90%;float:left;color:#32c5d2;font-weight:bold;">Vade Yıl</div><div style="width:10%;float:left;right:0;color:#32c5d2;font-weight:bold;">:</div></td>
                        <td style="width:200px;"><div class="yil-select" style="float:left;width:90%;"></div></td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-3" style="margin-top:10px;">
                <table>
                    <tr style="padding:8px;">
                        <td style="width:120px;"></td>
                        <td style="width:200px;"><div class="btn btn-lg green btn-listele" style="width:222px;height:33px;">Listele<i class="fa fa-check"></i></div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div id="cek-listesi-grid"></div>
    </div>
@section Scripts{<script>
    $(document).ready(function () {
        var model = @Html.Raw(Json.Encode(Model));
        var ay, yil, pozisyon;
        var aylar = [
            { id: 1, ay: "Ocak" },
            { id: 2, ay: "Şubat" },
            { id: 3, ay: "Mart" },
            { id: 4, ay: "Nisan" },
            { id: 5, ay: "Mayıs" },
            { id: 6, ay: "Haziran" },
            { id: 7, ay: "Temmuz" },
            { id: 8, ay: "Ağustos" },
            { id: 9, ay: "Eylül" },
            { id: 10, ay: "Ekim" },
            { id: 11, ay: "Kasım" },
            { id: 12, ay: "Aralik" }
        ];
        var yillar = [
            { yil: 2016 },
            { yil: 2017 },
            { yil: 2018 },
        ];
        $(".btn-listele").dxButton({
            onClick: function() {
                PartialView("/Reports/Financial/CekList", 'cek-listesi-grid', JSON.stringify({ pozisyon: pozisyon, ay: ay, yil:yil }));
            }
        });
        $(".btn-listele").removeClass("dx-button");
        $(".pozisyon-select").dxSelectBox({
            dataSource: model,
            valueExpr: 'ID',
            displayExpr: 'ITEMNAME',
            searchEnabled: true,
            onValueChanged: function (e) {
                pozisyon = e.value;
            }
        });
        $(".ay-select").dxSelectBox({
            dataSource: aylar,
            valueExpr: 'id',
            displayExpr: 'ay',
            searchEnabled: true,
            onValueChanged: function (e) {
                ay = e.value;
            }
        });
        $(".yil-select").dxSelectBox({
            dataSource: yillar,
            valueExpr: 'yil',
            displayExpr: 'yil',
            searchEnabled: true,
            onValueChanged: function (e) {
                yil = e.value;
            }
        });

    });
</script>
}
