@{
    ViewBag.Title = "Rapor Ürün Satış Analizi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><a href="javascript:;">Ürün Satış Analizi</a><i class="fa fa-circle"></i></li><li><span>Ürün Satış Analizi</span></li></ul></div>
<h1 class="page-title">Ürün Satış Analizi</h1>
<div class="row">
    <div class="col-md-12">
        <div class="row" id="CreateEdit">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Ürün Satış Analizi Listesi
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Yıl</label>
                                    <div class="col-md-4">
                                        <select id="yil-select" required="required" name="yil-select" style="float:left;width:90%"
                                                class="form-control input-circle satirekle">
                                            @foreach (string item in (List<string>)ViewBag.Yillar)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Bölge</label>
                                    <div class="col-md-4">
                                        <select id="bolge-select" onchange="TemsilciGetir(this.value,'0');" required="required" name="bolge-select" style="float:left;width:90%"
                                                class="form-control input-circle satirekle">
                                            @foreach (var item in (List<RaporGrupKod>)ViewBag.BOLGE)
                                            {
                                                <option value="@item.GrupKod">@item.GrupKod</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Temsilci</label>
                                    <div class="col-md-4">
                                        <select id="temsilci-select" required="required" name="temsilci-select" style="float:left;width:90%" class="form-control input-circle satirekle"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btnListele" name="btnListele" type="button" class="btn btn-circle green" style="width:222px;height:33px;">Listele</button>
                                        <button id="btnTemizle" name="btnTemizle" type="button" class="btn btn-circle grey-salsa" style="width:222px;height:33px;">Temizle</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="liste"></div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#yil-select")[0].selectedIndex = 0;
        $("#bolge-select").prepend("<option value='0'>Tümü</option>");
        $("#bolge-select")[0].selectedIndex = 0;
        function TemsilciGetir(GrupKod, TipKod) {
            if (GrupKod != "") {
                $("#temsilci-select option").remove();
                $.ajax({
                    url: window.location.origin + "/Reports/Financial/TemsilciGetir",
                    data: { GrupKod: GrupKod, TipKod: TipKod },
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data != "") {
                            $.each(data, function (i, item) {
                                $('#temsilci-select').append($('<option>', { value: item.Value, text: item.Text }));
                            });
                            $("#temsilci-select").prepend("<option value='0'>Tümü</option>");
                            $("#temsilci-select")[0].selectedIndex = 0;
                        }
                    }
                });
            }
        }
        $('#btnListele').on('click', function myfunction() {
            var yil = $('#yil-select :selected').val();
            var grupKod = $('#bolge-select :selected').val();
            var tipKod = $('#temsilci-select :selected').val();
            PartialView("/Reports/Financial/RaporUrunSatisAnaliziList", 'liste', JSON.stringify({ Yil: yil, GrupKod: grupKod, TipKod: tipKod }));
        });
        $('#btnTemizle').on('click', function myfunction() {
            $("#temsilci-select option").remove();
            $(".satirekle")[0].selectedIndex = 0;
            $(".satirekle")[1].selectedIndex = 0;
            $(".satirekle")[2].selectedIndex = 0;
            $("#liste").html("");
        });
    </script>
}