@section Styles{
    <style>
        td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;
        }
    </style>
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Günlük Sipariş Raporu</span></li></ul></div>
<h1 class="page-title">Günlük Sipariş Raporu</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title"><div class="caption"><i class="fa fa-gift"></i>Günlük Sipariş Raporu</div></div>
            <div class="portlet-body form p-30 p-t-15">
                <table class="table table-striped table-bordered table-condensed" id="sample_1">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Evrak No</th>
                            <th>Tutar</th>
                            <th>Tarih</th>
                            <th>CHK</th>
                            <th>Ünvan</th>
                            <th>Tip Kod</th>
                            <th>Grup Kod</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tfoot class="tf-search">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var BasTarih = JSON.parse('@Html.Raw(ViewBag.BasTarih)');
    var BitTarih = JSON.parse('@Html.Raw(ViewBag.BitTarih)');

    $(document).ready(function () {
        table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "order": [[1, "asc"]],
            "ordering": true,
            "pagingType": "full_numbers",
            "scrollX": true,
            "scrollY": true,
            "pageLength": 50,
            "dom": 'lBfrtip',
            "buttons": [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs' }
            ],
            "ajax": {
                "url": '/Reports/Financial/RaporGunlukSiparisSelect',
                "data": { BasTarih: BasTarih, BitTarih: BitTarih },
                "dataSrc": function (json) {
                    return json;
                },
            },

            "columnDefs": [{ "className": "dt-center", "targets": "_all" }],
            "columns": [
                { "data": null, "defaultContent": '', "className": 'details-control', "orderable": false },
                { "data": "EVRAKNO" },
                { "data": "Tutar" , "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Tarih" },
                { "data": "CHK" },
                { "data": "Unvan" },
                { "data": "TipKod" },
                { "data": "GrupKod" }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $('td', nRow).attr('nowrap', 'nowrap');
                return nRow;
            },
            "footerCallback": function (row, data, start, end, display) {
                var Tutar = 0;
                table.rows({ search: 'applied' }).data().each(function (val, index) {
                    Tutar += val.Tutar;

                });
                var api = this.api(), data;
                $(api.column(2).footer()).html(numeral(Tutar).format());
            },
        });


        $('#sample_1 tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            table
                .rows('.aa')
                .nodes()
                .to$()      // Convert to a jQuery object
                .removeClass('aa');
            tr.addClass("aa");
            var x = table.rows('.aa').data();
            var row = table.row(tr);
            if (row.child.isShown()) { row.child.hide(); tr.removeClass('shown'); }
            else { row.child(newrow(x[0].EVRAKNO)).show(); format(x[0].EVRAKNO); tr.addClass('shown'); }
        });
        function newrow(id) { return "<table style='background:transparent;' id='new" + id.replaceAll(" ","") + "'></table>"; }
        function format(d) {
            $.ajax({
                type: 'POST',
                url: '/Reports/Financial/RaporGunlukSiparisDetay',
                data: { "EVRAKNO": d ,"TIP" : 0},
                dataType: "html",
                success: function (data) {
                    $('#new' + d.replaceAll(" ", "")).html(data);
                }
            });
        }


        $('#sample_1 .tf-search th').each(function () {
            var title = $('#sample_1 thead th').eq($(this).index()).text();
            if (title != "" && title.indexOf("Tarih") !== -1)
                $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
            else if (title != "" && title != "Detay" && title != "Hareket")
                $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
        });
        $("#sample_1 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });

        $('#sample_1 .tf-search tr').insertAfter($('#sample_1 thead tr'))


        $('#sample_1 tbody').on('click', 'tr', function () {
            table
                .rows('.selected')
                .nodes()
                .to$()      // Convert to a jQuery object
                .removeClass('selected');
            $("tr").find('td').not(".degisim").css('background-color', 'transparent');
            $(".degisim").css('background-color', '#f9df63');
            $(this).find('td').css('background-color', '#B0BED9');
            $(this).toggleClass('selected');
        });



    });
</script>
