
@{
    ViewBag.Title = "Toplam Risk Analiz Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";

}@section Styles{<style>
td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
.detay:hover {background-color: rgb(176, 190, 217) !important;}
.dx-item-content .dx-popup-cancel {background-color: #ff4d4d !important;color: white !important;}
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Toplam Risk Analizi Raporu</span></li></ul></div>
<h1 class="page-title">Toplam Risk Analizi Raporu</h1>
<div class="row m-t-20">
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Başlangıç Hesap Kodu: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control" type="text" id="txtHesapBas" /></div>
    <div class="col-md-2 text-right p-0 m-t-5 color-blue-light bold">Bitiş Hesap Kodu: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control" type="text" id="txtHesapBit" /></div>
    <div class="col-md-2"><button id="btnListele" class="btn btn-block green">Listele<i class="fa fa-check"></i></button></div>
</div>
<div class="row" id="toplam-riskbakiye-analizi-grid" style="margin-top:10px;"></div>
@section Scripts{<script>
    var chk_bas = "", chk_bit = "";
    $("#txtHesapBas").autocomplete({
        source: "/Reports/Financial/GetChKCode/17",
        minLength: 2,
        select: function (event, ui) {
            chk_bas = ui.item.id;
        }
    });
    $("#txtHesapBit").autocomplete({
        source: "/Reports/Financial/GetChKCode/17",
        minLength: 2,
        select: function (event, ui) {
            chk_bit = ui.item.id;
        }
    });
    $("#btnListele").click(function () {
        if (chk_bas == "" || chk_bit == "")
            Modaldialog("Başlangıç ve bitiş hesap kodlarını seçin ", "Hata", "Tamam", "btn-danger");
        PartialView("/Reports/Financial/RiskAnalizList", 'toplam-riskbakiye-analizi-grid', JSON.stringify({ baschk: chk_bas, bitchk: chk_bit }));
    });
</script>
}