@using Newtonsoft.Json;
<div class="fiyat-list-data" style="width: 100%; box-shadow: 2px 4px 2px #5d5959;">
    <div class="col-md-12" style="width:100%;">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sözleşme Detay
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons2">asasdf</div>
                
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered table-condensed" id="sample_1">
                            <thead class="aaaaa">
                                <tr>
                                    <th></th>
                                    <th>Fiyat Listesi</th>
                                    <th>Ürün Grubu</th>
                                    <th>Ürün Kodu</th>
                                    <th>Ürün Adı</th>
                                    <th>Kalite</th>
                                    <th>Iskonto1</th>
                                    <th>Iskonto2</th>
                                    <th>Iskonto3</th>
                                    <th>Iskonto4</th>
                                    <th>Iskonto5</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var  table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Reports/Financial/SatBagSozlesmeDetayListesiSelect?listeNo=' + '@ViewBag.ListeNo',
            "dataSrc": function (json) {
                return json;
            },
        },
        "fixedHeader": true,
        "scrollX": true,
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [6,7, 8,9,10] }],
        "columns": [
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "Kod10" },
            { "data": "MalKodGrup" },
            { "data": "MalKod" },
            { "data": "MalAdi" },
            { "data": "Kalite" },
            { "data": "Oran1", "render": $.fn.dataTable.render.number('.', ',', 2, '')  },
            { "data": "Oran2", "render": $.fn.dataTable.render.number('.', ',', 2, '')  },
            { "data": "Oran3", "render": $.fn.dataTable.render.number('.', ',', 2, '')  },
            { "data": "Oran4", "render": $.fn.dataTable.render.number('.', ',', 2, '')  },
            { "data": "Oran5", "render": $.fn.dataTable.render.number('.', ',', 2, '')  }
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }

    });
     var buttons = new $.fn.dataTable.Buttons(table, {
         buttons: [
             { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
             { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
         ]
     }).container().appendTo($('#buttons2'));


</script>

