@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SatisBaglantiRaporu";
}@section Styles{    <style>
        .input_content {
            margin-bottom: 3px;
            height: 40px;
            line-height: 20px;
        }

        .input_label {
            float: left;
            width: 35%;
            font-weight: bold;
            color: #5bc8d2;
            font-size: 9px;
            padding-top: 4px;
        }

        .input {
            float: left;
            width: 60%;
            font-size: 10px;
            height: 30px;
        }

        .input_style {
            background-color: rgba(245, 239, 239, 0.85);
            padding: 10px;
            margin: 0;
        }
        td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        td.hareket-control {
            background: url('/Content/assets/global/plugins/datatables/images/back_enabled.png') no-repeat center center;
            cursor: pointer;
        }

        .btn {
            width: 120px;
            text-align: center;
        }

        .detay:hover {
            background-color: rgb(176, 190, 217) !important;
        }
    </style>
}
<div class="page-bar">
    <ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Satış Bağlantı Raporu</span></li></ul>
</div>
<h1 class="page-title">Satış Bağlantı Raporu</h1>
<div class="row control-content">
    <div class="col-sm-6 col-xs-12" style="margin-top:10px;">
        <div class="col-sm-4 col-xs-6" style="color:#32c5d2;font-weight:bold;">Sözleşme Durumu</div>
        <div class="col-sm-8 col-xs-6"><div class="sozDurum" style="width:100%;"></div></div>
    </div>
    <div class="col-sm-3 col-xs-12" style="margin-top:10px;">
        <div class="col-sm-10 col-xs-6">
            <div class="btn btn-lg green listele-buton" style="width:100%; margin-bottom:10px;">Listele<i class="fa fa-check"></i></div>
        </div>
    </div>
</div>
<div class="modal fade" id="x-modal-baglanti-detay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#12ccee">SÖZLEŞME DETAY</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="row input_style">
                    <div class="col-xs-12 col-sm-6">
                        <div class="input_content">
                            <div class="input_label">Sözleşmeler</div>
                            <div class="input select_sozlesmeler"></div>
                        </div>
                        <div class="input_content">
                            <div class="input_label">Sözleşme No</div>
                            <div class="input txt_sozlesme_sira_no"></div>
                        </div>
                        <div class="input_content">
                            <div class="input_label">Sıra No</div>
                            <div class="input txt_sira_no"></div>
                        </div>
                        <div class="input_content">
                            <div class="input_label">Bağlantı Tipi</div>
                            <div class="input select_baglanti_tipi"></div>
                        </div>
                        <div class="input_content">
                            <div class="input_label">Bağlantı Tutarı</div>
                            <div class="input numb numb_baglanti_tutari"></div>
                        </div>
                        <div class="input_content">
                            <div class="input_label">Bağlantı Tutarı Döviz</div>
                            <div class="input select_baglanti_tutari_doviz"></div>
                        </div>

                        <div class="input_content">
                            <div class="input_label">Başlangıç Tarihi</div>
                            <div class="input date_baslangic_tarihi"></div>
                        </div>
                        <div class="input_content">
                            <div class="input_label">Bitiş Tarihi</div>
                            <div class="input date_bitis_tarihi"></div>
                        </div>
                        <div class="input_content">
                            <div class="input_label">Müşteri Kodu</div>
                            <div class="input select_musteri_kodu"></div>
                        </div>
                        <div class="input_content">
                            <div class="input_label">Sözleşme Notu</div>
                            <div class="input txt_sozlesme_notu"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input_content">
                            <div class="input_content">
                                <div class="input_label">Kredi Limiti</div>
                                <div class="input numb_kredi_limiti"></div>
                            </div>
                            <div class="input_content">
                                <div class="input_label">Bakiye</div>
                                <div class="input numb_bakiye"></div>
                            </div>
                            <div class="input_content">
                                <div class="input_label">Toplam Bakiye</div>
                                <div class="input numb_toplam_bakiye"></div>
                            </div>
                            <div class="input_content">
                                <div class="input_label">Bekleyen Sipariş</div>
                                <div class="input numb_bekleyen_siparis"></div>
                            </div>
                            <div class="input_content">
                                <div class="input_label">Ortalama Vade</div>
                                <div class="input txt_ortalama_vade"></div>
                            </div>
                            <div class="input_content">
                                <div class="input_label">Alınan Bordro</div>
                                <div class="input numb_alinan_bordro"></div>
                            </div>
                            <div class="input_content">
                                <div class="input_label">Alınan Bordro Ort.</div>
                                <div class="input txt_alinan_bordro_ort"></div>
                            </div>
                            <div class="input_content">
                                <div class="input_label">Alınan Çek Ort. Vadesi</div>
                                <div class="input date_alinan_cek_ort_vade"></div>
                            </div>
                        </div>
                    </div>
                </div>
               
                    <div class="satis_baglanti_detay_data" style="margin-top:10px;">
                    </div>
      
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlCekKapat">Kapat</button>
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="x-modal-cari-detay-cek" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#12ccee">CARİ DETAY</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="satis_baglanti_hareket_data">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlCekKapat">Kapat</button>
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="satis-baglanti-raporu-grid" style="margin-top:10px;"></div>
@section Scripts{    <script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
    <script>
        var tip = @ViewBag.Tip;
        var tempTip = @ViewBag.Tip;
        var radioGroupItems = [
            { text: "Açık", value: 0 },
            { text: "Kapalı", value: 1 },
            { text: "Tümü", value: 2 }
        ];
        $(document).ready(function () {
            $(".sozDurum").dxRadioGroup({
                dataSource: radioGroupItems,
                displayExpr: "text",
                valueExpr: "value",
                value: 0,
                layout: "horizontal",
                onValueChanged: function (e) {
                    tempTip = e.value;
                }
            });
            PartialView("/Reports/Financial/SatisBaglantiList", 'satis-baglanti-raporu-grid', JSON.stringify({ tip: tip }));
        });
        $(document).on("click", ".listele-buton", function () {
            tip = tempTip;
            PartialView("/Reports/Financial/SatisBaglantiList", 'satis-baglanti-raporu-grid', JSON.stringify({ tip: tip }));
        });
      

    </script>
}








