@{
    ViewBag.Title = "Target Bölge List";
}
<style type="text/css">
    .renkU0 {
        background-color: #FF5252;
    }

    .renkU1 {
        background-color: #BDB76B;
    }

    .renkU2 {
        background-color: #00FF95;
    }
</style>

<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
  
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>Temsilci Bölge Listesi
                                </div>
                                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons1a"></div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-condensed table-responsive" id="sample_1a">
                                    <thead>
                                        <tr>
                                            <th>Temsilci</th>
                                            <th>Bölge</th>
                                            <th>Hedef</th>
                                            <th>Hedef Oran</th>
                                            <th>Toplam Iade</th>
                                            <th>Net Satış Tutarı</th>
                                            <th>Net Ciro</th>
                                            <th>Ciro Oran</th>
                                            <th>Cari Borç</th>
                                            <th>PRT</th>
                                            <th>Bekleyen Sipariş</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tfoot class="tf-search">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

<script type="text/javascript">
    $(document).ready(function () {
        table1a = $('#sample_1a').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "pagingType": "full_numbers",
            "ordering": true,

            "ajax": {
                "url": '/Reports/Financial/TargetRaporBolgeSelect',
                "data": { GrupKod: '@ViewBag.GRUPKOD', Ay: '@ViewBag.AY', Yil:'@ViewBag.YIL'},
                "dataSrc": function (json) {
                     return json;
                },
            },
            "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [2, 3, 4, 5, 6, 7, 8, 9, 10] }, { "className": "dt-center", "targets": "_all" }],
            "columns": [
                { "data": "Temsilci" },
                { "data": "GrupKod" },
                { "data": "Hedef", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                {
                    "data": "HedefOran", "render": function (data, type, row) {
                        if (type === 'display') {
                            var numberRenderer = $.fn.dataTable.render.number(',', '.', 2, '').display;
                            if ((data) >= 100) {
                                return ' <i class="fa fa-smile-o" style="float:left"/>  ' + numberRenderer(data);
                            }

                            else if ((data) < 100 && (data) > 80) {
                                return ' <i class="fa fa-meh-o" style="float:left"/>  ' + numberRenderer(data);
                            }
                            else {
                                return ' <i class="fa fa-frown-o" style="float:left"/>  ' + numberRenderer(data);
                            }

                        }
                        return data;
                    }
                },
                { "data": "ToplamIade", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "NetSatisTutari", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "NetCiro", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "CiroOran", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "CariBorc", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "PRT", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "BekleyenSiparis", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            ],
            "createdRow": function (row, data, dataIndex) {
                if (data["HedefOran"] >= 100) {
                    $(row).children('td').slice(2, 3).addClass("renkU2");


                }
                else if (data["HedefOran"] < 100 && data["HedefOran"] > 80) {
                    $(row).children('td').slice(2, 3).addClass("renkU1");
                }
                else {
                    $(row).children('td').slice(2, 3).addClass("renkU0");
                }
            },
            "ordering": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $('td', nRow).attr('nowrap', 'nowrap');
                return nRow;
            },
            "footerCallback": function (row, data, start, end, display) {
                var Hedef = 0, ToplamIade = 0, NetSatisTutari = 0, NetCiro = 0, CiroOran = 0, CariBorc = 0, PRT = 0, BekleyenSiparis = 0;
                table1a.rows({ search: 'applied' }).data().each(function (val, index) {
                    Hedef += val.Hedef;
                    ToplamIade += val.ToplamIade;
                    NetSatisTutari += val.NetSatisTutari;
                    NetCiro += val.NetCiro;
                    CiroOran += val.CiroOran;
                    CariBorc += val.CariBorc;
                    PRT += val.PRT;
                    BekleyenSiparis += val.BekleyenSiparis;
                });
                var api = this.api(), data;
                $(api.column(2).footer()).html(numeral(Hedef).format());
                $(api.column(4).footer()).html(numeral(ToplamIade).format());
                $(api.column(5).footer()).html(numeral(NetSatisTutari).format());
                $(api.column(6).footer()).html(numeral(NetCiro).format());
                $(api.column(7).footer()).html(numeral(CiroOran).format());
                $(api.column(8).footer()).html(numeral(CariBorc).format());
                $(api.column(9).footer()).html(numeral(PRT).format());
                $(api.column(10).footer()).html(numeral(BekleyenSiparis).format());
            },
        });

        $("#buttons1a").html("");
        var buttons = new $.fn.dataTable.Buttons(table1a, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
            ]
        }).container().appendTo($('#buttons1a'));
        $('#sample_1a .tf-search th').each(function () {
            var title = $('#sample_1a thead th').eq($(this).index()).text();
            if (title != "" && title.indexOf("Tarih") !== -1)
                $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
            else if (title != "" && title != "Detay" && title != "Hareket")
                $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
        });
        $("#sample_1a tfoot input").on('keyup change', function () { table1a.column($(this).parent().index() + ':visible').search(this.value).draw(); });
        $('#sample_1a .tf-search tr').insertAfter($('#sample_1a thead tr'))
    });
</script>