@model HDF
@{
    ViewBag.Title = "Hedef Raporu";
    string RaporGrupKod = Convert.ToString(ViewData["RaporGrupKod"]);
    string RaporTargetUrunGrup = Convert.ToString(ViewData["RaporTargetUrunGrup"]);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Hedef Raporu</span></li></ul></div>
<h1 class="page-title">Hedef Raporu</h1>
<div class="row">
    <div>
        <div class="col-xs-6 col-sm-6" style="padding:0 5px 0 2px">
            <div class="col-xs-12 col-sm-4" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg green-turquoise hedef-kaydet-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Hedef Kaydet<i class="fa fa-paint-brush" style="margin-left:5px;"></i></button></div>
            @*<div class="col-xs-12 col-sm-4" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg blue-dark sozlesme-sil-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Sözleşme Sil<i class="fa fa-hourglass-start" style="margin-left:5px;"></i></button></div>
                <div class="col-xs-12 col-sm-4" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg red sozlesme-guncelle-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Sözleşme Güncelle<i class="fa fa-paint-brush" style="margin-left:5px;"></i></button></div>*@
        </div>
    </div>
</div>
<hr />
<div class="row input_style">
    <div class="col-xs-12 col-sm-4">
        <div class="input_content"><div class="input_label">Bölge</div><div class="grup-bas-Bolge"></div></div>
        <div class="input_content"><div class="input_label">Temsilci</div><div class="grup-bas-Temsilci"></div></div>
        <div class="input_content"><div class="input_label">Ürün Grubu</div><div class="grup-bas-UrunGrup"></div></div>
        <div class="input_content"><div class="input_label">Hedef</div><div class="input txt_hedef"></div></div>
    </div>
</div>
<div class="row m-t-20">
    <div class="col-md-6">
        @*<div class="row">
                <div class="col-md-2 text-right color-blue-light bold">Vade Yıl</div>
                <div class="col-md-4"><div class="yil-select"></div></div>
            </div>
            <div class="row">
                <div class="col-md-2 text-right color-blue-light bold">Vade Ay</div>
                <div class="col-md-4"><div class="ay-select"></div></div>
            </div>*@
        @*<div class="row">
                <div class="col-md-2 text-right color-blue-light bold">Bölge</div>
                <div class="col-md-4"><div class="grup-bas-Bolge"></div></div>
            </div>
            <div class="row">
                <div class="col-md-2 text-right color-blue-light bold">Temsilci</div>
                <div class="col-md-4"><div class="grup-bas-Temsilci"></div></div>
            </div>
            <div class="row">
                <div class="col-md-2 text-right color-blue-light bold">Ürün Grubu</div>
                <div class="col-md-4"><div class="grup-bas-UrunGrup"></div></div>
            </div>
            <div class="row">
                <div class="col-md-2 text-right color-blue-light bold">Hedef</div>
                <div class="col-md-4"><input class="form-control" type="text" id="txtHedef" /></div>
            </div>*@
    </div>
</div>
@*<div class="row m-t-20">
        <div class="col-md-2"><button id="btnKaydet" class="btn btn-block green">Kaydet<i class="fa fa-check"></i></button></div>
    </div>*@
@*<div class="row m-t-20">
        <div class="col-md-2"><button id="btnListele" class="btn btn-block green">Listele<i class="fa fa-check"></i></button></div>
    </div>*@
<div class="row m-t-20" id="hedef-raporu-grid"></div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var GrupKodu = ""; var Temsilci = ""; var UrunGrup = "";
            $(".txt_hedef").dxTextBox();
            $(".grup-bas-Bolge").dxSelectBox({
                dataSource: @Html.Raw(RaporGrupKod),
                valueExpr: 'GrupKod',
                displayExpr: 'GrupKod',
                onValueChanged: function (e) {
                    grupKod1 = e.value;
                    GrupKodu = grupKod1;
                    $.ajax({
                        url: window.location.origin + "/Reports/Financial/TargetTemsilciList?GrupKod=" + grupKod1,
                        data: { grupKod1},
                        type: "post",
                        success: function (data) {
                            var result = JSON.parse(data);
                            $(".grup-bas-Temsilci").dxLookup("instance").option("dataSource", result);
                        }
                    });
                }
            });
            $(".grup-bas-Temsilci").dxLookup({
                searchEnabled: false,
                pageLoadMode: "nextButton",
                searchExpr: ["GrupKod", "TipKod"],
                displayExpr: 'TipKod',
                onValueChanged: function (e) {
                    Temsilci = e.TipKod;
                }
            });
            $(".grup-bas-UrunGrup").dxSelectBox({
                dataSource: @Html.Raw(RaporTargetUrunGrup),
                valueExpr: 'UrunGrup',
                displayExpr: 'UrunGrup',
                onValueChanged: function (e) {
                    UrunGrup = e.value;
                }
            });

           
    </script>
}
