@{
    ViewBag.Title = "Target Urun Grup List";
}
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
   
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>Ürün Grup Listesi
                            </div>
                            <div class="col-md-1 pull-right m-t-5 p-0" id="buttons1b"></div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-condensed table-responsive" id="sample_1b">
                                <thead>
                                    <tr>
                                        <th>TipKod</th>
                                        <th>Urun Grup</th>
                                        <th>Hedef</th>
                                        <th>Ciro</th>
                                        <th>Oran</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tfoot class="tf-search">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        table1b = $('#sample_1b').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "pagingType": "full_numbers",
            "ajax": {
                "url": '/Reports/Financial/TargetRaporUrunGrupSelect',
                "data": { GrupKod: '@ViewBag.GRUPKOD', Ay: '@ViewBag.AY', Yil:'@ViewBag.YIL'},
                "dataSrc": function (json) {
                     return json;
                },
            },
            "ordering": false,
            "pageLength": 50,
            "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [2, 3,4] }, { "className": "dt-center", "targets": "_all" }],
            "columns": [
                { "data": "TipKod" },
                { "data": "UrunGrup" },
                { "data": "Hedef", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "NetCiro", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "Oran", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            ],
       
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $('td', nRow).attr('nowrap', 'nowrap');
                return nRow;
            },
            "footerCallback": function (row, data, start, end, display) {
                var Hedef = 0, NetCiro = 0;
                table1b.rows({ search: 'applied' }).data().each(function (val, index) {
                    Hedef += val.Hedef;
                    NetCiro += val.NetCiro;
                });
                var api = this.api(), data;
                $(api.column(2).footer()).html(numeral(Hedef).format());
                $(api.column(3).footer()).html(numeral(NetCiro).format());
            }
        });

        $("#buttons1b").html("");
        var buttons = new $.fn.dataTable.Buttons(table1b, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
            ]
        }).container().appendTo($('#buttons1b'));
        $('#sample_1b .tf-search th').each(function () {
            var title = $('#sample_1b thead th').eq($(this).index()).text();
            if (title != "" && title.indexOf("Tarih") !== -1)
                $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
            else if (title != "" && title != "Detay" && title != "Hareket")
                $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
        });
        $("#sample_1b tfoot input").on('keyup change', function () { table1b.column($(this).parent().index() + ':visible').search(this.value).draw(); });
        $('#sample_1b .tf-search tr').insertAfter($('#sample_1b thead tr'))
    });
</script>