@{
    ViewBag.Title = "Boyut Kartı işlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<h3 class="page-title">Boyut İşlemleri</h3>
<div class="row">
    <div class="col-md-12">
        <div id="CreateEdit">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Liste
                    </div>
                    <div class="col-md-2 pull-right m-t-5">@Html.DropDownList("SirketID", null, htmlAttributes: new { @class = "form-control input-circle SirketID", required = "required" })</div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div id="liste"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var DeleteFunctionUrl = '@Url.Action("Delete", "Size")';
    $("#SirketID").prepend("<option value='0'>Seçiniz !!!</option>"); $("#SirketID")[0].selectedIndex = 0;
    $('#SirketID').on('change', function () {
        $.ajax({
            url: "/Size/List/" + $('#SirketID').val(),
            type: 'POST',
            dataType: "html",
            success: function (data) {
                if (data != "") $("#liste").html(data);
            }
        });
    });
</script>