@{
    ViewBag.Title = "Fiyat Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-horizontal">
    <div class="form-body">
        <div class="row">
            <label class="col-sm-1" style="width:50%;" >
                <input type="checkbox" name="Locked" value="Koleksiyon" /> Koleksiyon ve Kaliteye Göre Onaylama
            </label>
            <label class="col-sm-1" style="width:50%;" >
                <input type="checkbox" name="Locked" value="Grup" /> Grup, Ebat ve Yüzeye Göre Onaylama
            </label>



        </div>
        <div id="gunluk_satis" style="padding:10px;margin-top:30px; ">
            @* @{Html.RenderAction("PartialGunlukSatis");}*@
        </div>
    </div>
</div>

<div id="box-content" style="display:none">

</div>
@section Scripts{
    <link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />

    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>

    <script>

            $(document).ready(function (e) {
                var GunlukSatisUrl = "/OnayFiyat/PartialFiyatOnayListGM";
                    PartialView(GunlukSatisUrl, 'gunluk_satis');
            });
        function FuncSearchBtn() {
            var Type = $("input[type='checkbox'][name='Locked']:checked").val();
            var GunlukSatisUrl = "/OnayFiyat/PartialFiyatOnayListGM";
            PartialView(GunlukSatisUrl, 'gunluk_satis', JSON.stringify({ Durum: Type }));
        }

    </script>
}