@using Newtonsoft.Json;
<div class="col-md-12" style="width:100%;">
    <div class="table-toolbar">
        <div class="row">
            <table class="table table-striped table-bordered" id="sample_1">
                <thead class="aaaaa">
                    <tr>
                        <th></th>
                        <th>Fiyat Listesi</th>
                        <th>Net Fiyat</th>
                        <th>M2 Fiyat</th>
                        <th>M3 Fiyat</th>
                        <th>Fiyat Cinsi</th>
                        <th>Fiyat Birim</th>
                        <th>Döviz Kuru</th>
                        <th>Kar Oranı</th>
                        <th>Ürün Grubu</th>
                        <th>Ürün Kodu</th>
                        <th>Ürün Açıklama</th>
                        <th>Ödeme Şekli</th>
                        <th>Kalite</th>
                        <th>En</th>
                        <th>Boy</th>
                        <th>Kalınlık</th>
                        <th>Limit Miktar</th>
                        <th>Miktar Birim</th>
                        <th>Iskonto1</th>
                        <th>Iskonto2</th>
                        <th>Iskonto3</th>
                        <th>Iskonto4</th>
                    </tr>
                </thead>
                <tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
                <tfoot class="tf-search"><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>


            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#x-modal-teminatdurbun').modal("hide");
    var secili_satir = new Array();
    var secili_table = new Array();
    var silinecek = new Array();
    var table = "";
    var listeNO = JSON.parse('@Html.Raw(ViewBag.ListeNo)');
    if (listeNO != "#12MConsulting#")
    {
         table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "ajax": {
                "url": '/Approvals/Contract2/TanimListesiSelect',
                "data": { listeNo: listeNO},
                "dataSrc": function (json) {
                    return json;
                },
            },
            //"dom": 'lBfrtip',
            "pagingType": "full_numbers",
            "buttons": [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs' }
            ],
            "columnDefs": [{ "type": "num-fmt", "className": "dt-right" }],
            "columns": [
               { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
               { "data": "Kod10" },
               { "data": "NetFiyat", "render": $.fn.dataTable.render.number('.', ',', 6, '') },
               { "data": "M2Fiyat", "render": $.fn.dataTable.render.number('.', ',', 4, '') },
               { "data": "M3Fiyat", "render": $.fn.dataTable.render.number('.', ',', 4, '') },
               { "data": "NetFiyatBirim" },
               { "data": "Birim" },
               { "data": "DovizKuru", "render": $.fn.dataTable.render.number('.', ',', 4, '') },
               { "data": "KarOrani" },
               { "data": "MalKodGrup" },
               { "data": "MalKod2" },
               { "data": "MalKod" },
               { "data": "OdemeSekli" },
               { "data": "Kalite" },
               { "data": "En" },
               { "data": "Boy" },
               { "data": "Kalinlik" },
               { "data": "LimitMiktar", "render": $.fn.dataTable.render.number('.', ',', 3, '') },
               { "data": "LimitMiktarBirim" },
               { "data": "Oran1", "render": $.fn.dataTable.render.number('.', ',', 2, '')  },
               { "data": "Oran2", "render": $.fn.dataTable.render.number('.', ',', 2, '')  },
               { "data": "Oran3", "render": $.fn.dataTable.render.number('.', ',', 2, '')  },
               { "data": "Oran4", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
               //{ "data": "Oran5", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            ],
            "ordering": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $('td', nRow).attr('nowrap', 'nowrap');
                return nRow;
            }

        });


    } else {


        //$('tbody').last().remove();
        var elementt = @Html.Raw(Json.Encode(ViewBag.Satir));
        $(elementt).insertAfter($(".aaaaa"));
        setTimeout(function(){ $("#sample_1_info").text("Satır Eklendi"); }, 500);
        $(".numb_iskonto1").dxTextBox("instance").option("value",0);
        $(".numb_iskonto2").dxTextBox("instance").option("value",0);
        $(".numb_iskonto3").dxTextBox("instance").option("value",0);
        $(".numb_iskonto4").dxTextBox("instance").option("value",0);
        table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },


        });

    }


    $('#sample_1 .tf-search th').each(function () {
        var title = $('#sample_1 thead th').eq($(this).index()).text();
        if (title != "" && title.length < 100) {
            $(this).html('<input type="text" placeholder="Ara" />');
        }
    });

    $("#sample_1 tfoot input").on('keyup change', function () {
        table
            .column($(this).parent().index() + ':visible')
            .search(this.value)
            .draw();
    });

    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        if($( this ).hasClass( "selected" )){
            silinecek.push($(".table tr").index(this) - 1)
        }
        else {
            var ind = $(".table tr").index(this) - 1;
            silinecek = jQuery.grep(silinecek, function (value) {
                return value != ind;
            });
        }
    });

    $('.refresh-buton').click(function () {
        var x = table.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/OnayRisk/OnayRiskInsert",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",
            success: function (data) {

            }
        });
        return _dfd.promise();
    });

    function dddd() {

        $("tr").addClass('selected');
        var x = table.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            var jObject = {};
            jObject["HesapKodu"] = $(".select_musteri_kodu").dxLookup("instance").option("value");
            jObject["Unvan"] = $(".select_musteri_kodu").dxLookup("instance").option("selectedItem").Unvan;
            jObject["BaglantiParaCinsi"] = $(".select_baglanti_tutari_doviz").dxSelectBox("instance").option("value");
            jObject["BasTarihInt"] = Math.ceil(($(".date_baslangic_tarihi").dxDateBox("instance").option("value") - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));
            jObject["BasTarih"] = $(".date_baslangic_tarihi").dxDateBox("instance").option("value");
            jObject["BitTarihInt"] = Math.ceil(($(".date_bitis_tarihi").dxDateBox("instance").option("value") - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000));
            jObject["BitTarih"] = $(".date_bitis_tarihi").dxDateBox("instance").option("value");
            jObject["Not"] = $(".txt_sozlesme_notu").dxTextBox("instance").option("value");
            jObject["BaglantiTipi"] = $(".select_baglanti_tipi").dxSelectBox("instance").option("value");
            jObject["SiraNo"] = $(".txt_sira_no").dxTextBox("instance").option("value");
            jObject["BaglantiTutari"] = $(".numb_baglanti_tutari").dxTextBox("instance").option("value");
            jObject["CekTutari"] = $(".numb_alinan_cek_tutari").dxTextBox("instance").option("value");
            jObject["CekOrtVadeTarihi"] = $(".date_alinan_cek_ort_vade").dxDateBox("instance").option("value");
            jObject["NakitTutar"] = $(".numb_alinan_nakit_vb").dxTextBox("instance").option("value");
            jObject["ListeNo"] = $(".txt_sozlesme_sira_no").dxTextBox("instance").option("value");
            jObject["AktifPasif"] = $(".swtch_aktif_pasif").dxSwitch("instance").option("value");
            jObject["Kod10"] = x[i][1];
            jObject["NetFiyat"] = x[i][2];
            jObject["FiyatTip"] = x[i][3];
            jObject["NetFiyatBirim"] = x[i][4];
            jObject["DovizKuru"] = x[i][5];
            jObject["MalKodGrup"] = x[i][6];
            jObject["UrunKodu"] = x[i][7];
            jObject["Aciklama"] = x[i][8];
            jObject["Kalite"] = x[i][9];
            jObject["Kod1"] = x[i][10];
            jObject["En"] = x[i][11];
            jObject["Boy"] = x[i][12];
            jObject["Kalinlik"] = x[i][13];
            jObject["LimitMiktar"] = x[i][14];
            jObject["LimitMiktarBirim"] = x[i][15];
            jObject["Oran1"] = x[i][16];
            jObject["Oran2"] = x[i][17];
            jObject["Oran3"] = x[i][18];
            jObject["Oran4"] = x[i][19];

            //var $oysy = $('input:checkbox[name=OdemeYapilmayacak]');
            //if ($oysy.is(':checked') === false)
            //{
            //    jObject["OdemeAlinmadanSevkiyatYok"] = false;
            ////}
            //else if ($oysy.is(':checked') === true)
            //{
            //    jObject["OdemeAlinmadanSevkiyatYok"] = true;
            //}



            //jObject["Iskonto1"] = x[i][6];
            //jObject["Iskonto2"] = x[i][7];
            //jObject["Iskonto3"] = x[i][8];
            //jObject["Iskonto4"] = x[i][9];
            //jObject["Iskonto5"] = x[i][10];


            secili_table.push(jObject);
        }
        $.ajax({
            url: window.location.origin + "/Approvals/Contract2/YeniSatirKayit",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",
            success: function (data) {
                if (data == "OK") {
                    //$(".selected").remove();
                    inputTemizle();
                    element = [];
                    var jsonElement = JSON.stringify(element);
                    PartialView("/Approvals/Contract2/Tanim_List", 'sozlesme_tanim_data', JSON.stringify({ listeNo: "#12MConsulting#", satir: jsonElement }));

                }
                else if (data.substring(0, 3) == "SÖZ") {
                    Modaldialog("Sözleşme sıra no =>" + data + " şeklinde başarıyla kaydedildi.", "Kayıt İşlemi", "Tamam", "Kayıt");
                    inputTemizle();
                    element = [];
                    var jsonElement = JSON.stringify(element);
                    PartialView("/Approvals/Contract2/Tanim_List", 'sozlesme_tanim_data', JSON.stringify({ listeNo: "#12MConsulting#", satir: jsonElement }));
                }
                else {
                    Modaldialog("Hata Oluştu.", "Kayıt İşlemi", "Tamam", "Kayıt");
                    inputTemizle();
                }

            }


        });

    }

   
    function SatirSil() {
        silinecek.sort(function (a, b) { return b - a })
        for (var i = 0; i < silinecek.length; i++) {
            element.splice(silinecek[i], 1);
            var jsonElement = JSON.stringify(element);
            //if ($("#fiyat_listesi_data table").length < 1) {
            //    PartialView("/Approvals/Contract/Tanim_List", 'sozlesme_tanim_data', JSON.stringify({ listeNo: "#12MConsulting#", satir: jsonElement }));
            //}
        }
        PartialView("/Approvals/Contract2/Tanim_List", 'sozlesme_tanim_data', JSON.stringify({ listeNo: "#12MConsulting#", satir: jsonElement }));
    }


</script>