<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />-->
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>-->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="WMSEntities" connectionString="metadata=res://*/Models.ModelWMS.csdl|res://*/Models.ModelWMS.ssdl|res://*/Models.ModelWMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TESTSERVER;initial catalog=BIRIKIM;user id=sa;password=Birikim12;multipleactiveresultsets=True;connect timeout=300;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KabloEntities" connectionString="metadata=res://*/Mysql.ModelKablo.csdl|res://*/Mysql.ModelKablo.ssdl|res://*/Mysql.ModelKablo.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Bahtiyar2013;persistsecurityinfo=True;database=kablo&quot;" providerName="System.Data.EntityClient" />
    <add name="YNSEntities" connectionString="metadata=res://*/Models.ModelYeniNesil.csdl|res://*/Models.ModelYeniNesil.ssdl|res://*/Models.ModelYeniNesil.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Y1;initial catalog=YNS0TEST;persist security info=True;user id=sa;password=Bahtiyar2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>