
@model IEnumerable<frmSiparisMalzemeDetay>
<div class="form-group">
    <div class="col-sm-3 control-label">Güneşteki Stok</div>
    <div class="col-sm-4">
        <input class="form-control input-circle text-right" disabled="disabled" type="text" value="@String.Format("{0:n}", ViewBag.Stok)">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3 control-label">Toplam Stok</div>
    <div class="col-sm-4">
        <input class="form-control input-circle text-right" id="Stok" name="Stok" disabled="disabled" type="text" value="">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3 control-label">Rezerv Stok</div>
    <div class="col-sm-4">
        <input class="form-control input-circle text-right" disabled="disabled" type="text" value="@String.Format("{0:n}", ViewBag.RezervMiktar)">
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary btn-block btn-circle" type="button" onclick="Rezervler()">Detay <i class="icon-refresh"></i></button>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 col-sm-offset-3">
        <button class="btn btn-default btn-block btn-circle" type="button" onclick="FuncSearchBtn()">Yenile <i class="icon-refresh"></i></button>
    </div>
</div>
