@{
    ViewBag.Title = "Stok Hareketleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><a href="/WMS/Stock">Stok</a><i class="fa fa-circle"></i></li><li><span>Hareketler</span></li></ul></div>
<h1 class="page-title">Stok Hareketleri</h1>
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Stok Hareketleri
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Depo</div>
                                <div class="col-sm-4">
                                    @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control StoreListi input-circle", @onchange = "FuncSearchBtn()" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Mal Kodu</div>
                                <div class="col-sm-4">
                                    <input class="form-control input-circle" id="MalKodu" name="MalKodu" placeholder="Mal Kodu" required="required" type="text" value="" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Mal Adı</div>
                                <div class="col-sm-4">
                                    <input class="form-control input-circle" id="MalAdi" name="MalAdi" type="text" placeholder="Mal Adı">
                                </div>
                            </div>
                            <div id="Grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">
    $("#DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $("#DepoID")[0].selectedIndex = 0;
    function FuncSearchBtn() {
        if ($("#MalKodu").val() == "" || $("#DepoID").val() == "") return;
        $('#Grid').html("");
        PartialView('/WMS/Stock/HistoryList', 'Grid', JSON.stringify({ Id: $("#MalKodu").val() + "#" + $("#DepoID").val() }));
    }
    //function Rezervler() {
    //    editInModal2('/WMS/Sales/GetRezerv', { MalKodu: $("#MalKodu").val(), Depo: $("#DepoID").val(), Birim: birim })
    //    $('#modalEditPage').modal('toggle');
    //}
    $("#MalKodu").autocomplete({
        source: "/WMS/Purchase/getMalzemebyCode/0",
        minLength: 2,
        select: function (event, ui) {
            console.log(ui.item.value);
            getBirims(ui.item.id);
            $("#MalAdi").val(ui.item.value);
        }
    });
    $("#MalAdi").autocomplete({
        source: "/WMS/Purchase/GetMalzemebyName/0",
        minLength: 2,
        select: function (event, ui) {
            console.log(ui.item.value);
            getBirims(ui.item.id);
            $("#MalAdi").val(ui.item.value);
        }
    });
    function getBirims(id) {
        $("#Birim option").remove();
        $.ajax({
            url: "/WMS/Purchase/getBirim",
            type: 'POST',
            data: JSON.stringify({ kod: id, s: 0 }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#MalKodu").val(id);
                FuncSearchBtn();
            }
        });
    }
</script>
}