@{
    ViewBag.Title = "Stok Hareketleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/datatables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><a href="/Stock">Stok</a><i class="fa fa-circle"></i></li><li><span>Hareketler</span></li></ul></div>
<h1 class="page-title">Stok Hareketleri</h1>
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Stok Hareketleri
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Depo</div>
                                <div class="col-sm-4">
                                    @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control StoreListi input-circle", @onchange = "FuncSearchBtn()" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Mal Kodu</div>
                                <div class="col-sm-4">
                                    <input class="form-control input-circle" id="MalKodu" name="MalKodu" placeholder="Mal Kodu" required="required" type="text" value="" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Malzeme</div>
                                <div class="col-sm-4">
                                    <input class="form-control input-circle" id="MalAdi" name="MalAdi" disabled="disabled" type="text" value="">
                                </div>
                            </div>
                            <div id="Grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/dataTables.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/assets/global/plugins/datatables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
<script src="~/Content/assets/global/plugins/datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script type="text/javascript">
    $("#DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $("#DepoID")[0].selectedIndex = 0;
    function FuncSearchBtn() {
        if ($("#MalKodu").val() == "" || $("#DepoID").val() == "") return;
        $('#Grid').html("");
        PartialView('/Stock/HistoryList', 'Grid', JSON.stringify({ Id: $("#MalKodu").val() + "#" + $("#DepoID").val() }));
    }
    $("#MalKodu").autocomplete({
        source: "/Purchase/getMalzemebyCode/@ViewBag.SirketID",
        minLength: 2,
        select: function (event, ui) {
            getBirims(ui.item.id);
            $("#MalAdi").val(ui.item.value);
        }
    });
    function getBirims(id) {
        $("#Birim option").remove();
        $.ajax({
            url: "/Purchase/getBirim",
            type: 'POST',
            data: JSON.stringify({ kod: id, s: @ViewBag.SirketID }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#MalKodu").val(id);
                FuncSearchBtn();
            }
        });
    }
</script>
}