@{
    ViewBag.Title = "Stok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
        td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
        tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Stok</span></li></ul></div>
<h1 class="page-title">Stok</h1>
<div class="portlet light bordered">
    <div class="portlet-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab" aria-expanded="true" onclick="FuncSearchBtn();"> Depo Bazlı Arama </a>
            </li>
            <li class="">
                <a href="#tab_1_2" data-toggle="tab" aria-expanded="false" onclick="getBirims($('#MalKodu').val());"> Malzeme Bazlı Arama </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab_1_1">
                <p>
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Depo</div>
                                <div class="col-sm-4">
                                    @Html.DropDownList("DepoID", null, htmlAttributes: new { @class = "form-control StoreListi input-circle", @onchange = "getShelf(this.value);FuncSearchBtn();" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Raf</div>
                                <div class="col-sm-4">
                                    <select id="RafID" class="form-control input-circle" onchange="getSection(this.value);FuncSearchBtn();"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Bölüm</div>
                                <div class="col-sm-4">
                                    <select id="BolumID" class="form-control input-circle" onchange="getFloor(this.value);FuncSearchBtn();"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Kat</div>
                                <div class="col-sm-4">
                                    <select id="KatID" class="form-control input-circle" onchange="FuncSearchBtn();"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-default btn-block btn-circle" type="button" onclick="FuncSearchBtn()">Yenile <i class="icon-refresh"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
            <div class="tab-pane fade" id="tab_1_2">
                <p>
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Mal Kodu</div>
                                <div class="col-sm-4">
                                    <input class="form-control input-circle" id="MalKodu" name="MalKodu" placeholder="Mal Kodu" required="required" type="text" value="" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Mal Adı</div>
                                <div class="col-sm-4">
                                    <input class="form-control input-circle" id="MalAdi" name="MalAdi" type="text" placeholder="Mal Adı">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-default btn-block btn-circle" type="button" onclick="getBirims($('#MalKodu').val())">Yenile <i class="icon-refresh"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Liste
                    </div>
                </div>
                <div class="portlet-body form p-t-40">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div id="Grid"><table id="myTable" class="table table-striped table-bordered table-hover"></table></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">
    $("#DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $("#DepoID")[0].selectedIndex = 0;
    function getShelf(id) {
        $('#Grid').html("");
        $("#RafID option").remove();
        $("#BolumID option").remove();
        $("#KatID option").remove();
        $.ajax({
            url: "/Constants/Shelf/ShelfList2/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#RafID').append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#RafID").prepend("<option value=''>Seçiniz !!!</option>"); $("#RafID")[0].selectedIndex = 0;
                }
            }
        });
    }
    function getSection(id) {
        $('#Grid').html("");
        $("#BolumID option").remove();
        $("#KatID option").remove();
        $.ajax({
            url: "/Constants/Section/SectionList/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#BolumID').append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#BolumID").prepend("<option value=''>Seçiniz !!!</option>"); $("#BolumID")[0].selectedIndex = 0;
                }
            }
        });
    }
    function getFloor(id) {
        $('#Grid').html("");
        $("#KatID option").remove();
        $.ajax({
            url: "/Constants/Floor/FloorList/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#KatID').append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#KatID").prepend("<option value=''>Seçiniz !!!</option>"); $("#KatID")[0].selectedIndex = 0;
                }
            }
        });
    }
    function FuncSearchBtn() {
        $('#Grid').html("");
        if (($("#DepoID").val() == "" || $("#DepoID").val() == null) && ($("#RafID").val() == "" || $("#RafID").val() == null) && ($("#BolumID").val() == "" || $("#BolumID").val() == null) && ($("#KatID").val() == "" || $("#KatID").val() == null)) return;
        PartialView("/WMS/Stock/List", 'Grid', JSON.stringify({ DepoID: $("#DepoID").val(), RafID: $("#RafID").val(), BolumID: $("#BolumID").val(), KatID: $("#KatID").val(), Elle: "false" }));
    }
    $("#MalKodu").autocomplete({
        source: "/WMS/Purchase/getMalzemebyCode/0",
        minLength: 2,
        select: function (event, ui) {
            setTimeout(function () { $("#MalKodu").val(ui.item.id); $("#MalAdi").val(ui.item.value); }, 50);
            getBirims(ui.item.id);
        }
    });
    $("#MalAdi").autocomplete({
        source: "/WMS/Purchase/GetMalzemebyName/0",
        minLength: 2,
        select: function (event, ui) {
            setTimeout(function () { $("#MalKodu").val(ui.item.id); $("#MalAdi").val(ui.item.value); }, 50);
            getBirims(ui.item.id);
        }
    });
    function getBirims(id) {
        $('#Grid').html("");
        if (($("#MalKodu").val() == "" || $("#MalKodu").val() == null) && (id == "" || id == null)) return;
        $.ajax({
            url: "/WMS/Stock/List2",
            type: 'POST',
            data: JSON.stringify({ Id: id }),
            dataType: "html",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "") {
                    Modaldialog("Hata oluştu", "Hata", "Tamam", "btn-danger");
                } else {
                    $('#Grid').html(data);
                }
            }
        });
    }
</script>
}