@model IEnumerable<frmStokList2>
<table class="table table-striped table-bordered" id="sample_1">
    <thead><tr><th></th><th>Depo</th><th class="text-right">Miktar</th></tr></thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-ID="@item.ID">
                <td style="width:20px!important;" class="details-control"></td>
                <td>@item.DepoAd</td>
                <td align="right">@String.Format("{0:n}", item.Miktar)</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function newrow(id) { return "<div id='new" + id + "'></div>"; }
    function format(d) {
        $.ajax({
            type: 'POST',
            url: '/WMS/Stock/Details2',
            data: JSON.stringify({ DepoID: d, MalKodu: $("#MalKodu").val() }),
            dataType: "html",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#new' + d).html(data);
            }
        });
    }
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers",
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "columnDefs": [{ "targets": [0], "orderable": false }],
            "order": [[1, "asc"]],
            "dom": 'lBfrtip',
            "buttons": [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs' }
            ]
        });
        $('#sample_1 tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) { row.child.hide(); tr.removeClass('shown'); }
            else { row.child(newrow(tr.data('id'))).show(); format(tr.data('id')); tr.addClass('shown'); }
        });
    });
</script>