@model IEnumerable<GetMenuRoles_Result>
@{
    ViewBag.Title = "Menü Yetkileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}@section Styles{<link href="~/Content/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet" type="text/css" />
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Menü Yetkileri</span></li></ul></div>
<h1 class="page-title">Menü Yetkileri</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Menü Yetkileri
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        @foreach (var item in Model)
                        {
                            using (Ajax.BeginForm("Save", "Menu", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "FuncSearchBtn();", OnFailure = "FuncSearchBtn();" }, new { @class = "form-horizontal", id = "frmAdd" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <input type="hidden" name="ID" id="ID@{@i}" value="@item.ID" />
                                    <div class="col-md-5 col-md-offset-2"><input class="form-control" name="Roles" type="text" readonly value="@item.RoleName" required></div>
                                    <div class="checkbox col-md-2 text-center">
                                        <label style="font-size: 1.5em">
                                            <input class="menus" name="secs" id="sec@{@i}" type="checkbox" @item.Ad>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        </label>
                                    </div>
                                </div>
                                i++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    $("#MenuID").prepend("<option value=''>Seçiniz !!!</option>"); $("#MenuID")[0].selectedIndex = 0;
    function FuncSearchBtn() {
        $('#theGrid').html("");
        if ($("#MenuID").val() != "")
            PartialView("/Menu/PermissionsList", 'theGrid', JSON.stringify({ Id: $("#MenuID").val() }));
    }
</script>}