@{
    ViewBag.Title = "Menü Yetkileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Menü Yetkileri</span></li></ul></div>
<h1 class="page-title">Menü Yetkileri</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Menü Yetkileri
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label class="control-label col-md-2 bold" for="RoleName">Grup İsmi</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("RoleName", null, htmlAttributes: new { @class = "form-control", @onchange = "FuncSearchBtn();" })
                                </div>
                            </div>
                            <div id="theGrid" class="form-group"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    $("#RoleName").prepend("<option value=''>Seçiniz !!!</option>"); $("#RoleName")[0].selectedIndex = 0;
    function FuncSearchBtn() {
        $('#theGrid').html("");
        if ($("#RoleName").val() != "")
            PartialView("/Menu/PermissionsList", 'theGrid', JSON.stringify({ Id: $("#RoleName").val() }));
    }
</script>}