@model IEnumerable<MenuRolGetir_Result>
@{
	ViewBag.Title = "Yetkiler";
	Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles {<link href="~/Content/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" />
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><a href="/Menu">Menu</a><i class="fa fa-circle"></i></li><li><span>Yetkiler</span></li></ul></div>
<h1 class="page-title">Yetkiler</h1>
<div class="row">
	<div class="col-md-12">
		<div class="row" id="CreateEdit">
			<div class="col-md-12">
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>Yetkiler
						</div>
					</div>
					<div class="portlet-body form">
						@using (Html.BeginForm("Permission", "Menu", FormMethod.Post, new { @class = "form", id = "frmPermission", role = "form" }))
						{
							@Html.AntiForgeryToken()
							<div class="form-horizontal p-40">
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
								<div class="form-group">
									<div id="permTree" class="p-40"></div>
								</div>
								<div class="row form-group">
									<input type="hidden" name="MenuNo" value="@ViewBag.MenuID" />
									<input type="hidden" name="RolNo" id="RolNo" value="" />
									<div class="col-md-offset-1 col-md-1"><button class="btn btn-default btn-block" onclick="window.history.back();"><<< Geri</button></div>
									<div class="col-md-offset-6 col-md-4"><input type="button" onclick="frmSubmit();" value="Kaydet" class="btn btn-primary" /></div>
								</div>
							</div>
						}
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/jstree/dist/jstree.min.js"></script>
<script>
	function frmSubmit()
	{
		$('#RolNo').val($('#permTree').jstree(true).get_bottom_selected());
		$('#RolNo').val($('#RolNo').val().replace(/_anchor/gi, "").replace(/tree/gi, ""));
		$('#frmPermission').submit();
	}
	$(document).ready(function () {
		"use strict";
		$('#permTree').jstree({
			'plugins': ["wholerow", "checkbox", "types"],
			'core': {
				"themes": {
					"responsive": false
				},
				'data': [{
					"text": "Hepsini Seç", "state": { "opened": true },
					"children": [@foreach (var item in Model) {
						<text> { "text": "@item.RoleName", "id": "tree@{@item.ID}", "state": { @if(@item.Perm!=null){<text>"selected": true</text>} } },</text>
					}]
				}]
			},
			"types": {
				"default": {
					"icon": "fa fa-folder text-primary fa-lg"
				},
				"file": {
					"icon": "fa fa-file text-success fa-lg"
				}
			}
		});
	});
</script>
}