@{
    ViewBag.Title = "Onay Arşivi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{
    <style>
        tfoot.tf-search {
            display: table-header-group;
        }
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Raporlar</span><i class="fa fa-circle"></i></li><li><span>Onay Arşivi</span></li></ul></div>
<h1 class="page-title">Onay Arşivi</h1>
<div class="row m-t-20">
    <div class="col-md-1 text-right p-0 m-t-5 color-blue-light bold">Başlangıç: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.ToString("dd.MM.yyyy")" /></div>
    <div class="col-md-1 text-right p-0 m-t-5 color-blue-light bold">Bitiş: </div>
    <div class="col-md-2 p-l-5 p-r-0"><input class="form-control dateboxbg" type="text" id="txtBitis" value="@DateTime.Today.ToString("dd.MM.yyyy")" /></div>
    <div class="col-md-2"><button id="btnListele" class="btn btn-block green">Listele<i class="fa fa-check"></i></button></div>
</div>
<div class="row" id="onay-arsiv-grid" style="margin-top:20px;"></div>
@section Scripts{<script>
      var basTarih = @DateTime.Today.ToOADateInt();
      var bitTarih = basTarih;
    $(document).ready(function () {

        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#txtBaslangic").datepicker().on("change", function (e) { basTarih = toOADateFromString(e.target.value); });
        $("#txtBitis").datepicker().on("change", function (e) { bitTarih = toOADateFromString(e.target.value); });
        $("#btnListele").click(function () { PartialView("/Reports/Onay/OnayArsiviList", 'onay-arsiv-grid', JSON.stringify({ bastarih: basTarih, bittarih: bitTarih })); });
    });
</script>
}