@{
    ViewBag.Title = "Yardım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/pages/css/faq.min.css" rel="stylesheet" />
    <style>.page-content {background: #eef1f5 !important;}</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Yardım</span></li></ul></div>
<div class="row">
    <div class="col-md-2">
        <h1 class="page-title">Yardım</h1>
    </div>
    <div class="col-md-2 pull-right p-t-10">
        <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Help/New')"> Kayıt İşlemleri </a>
    </div>
</div>
<div class="faq-page faq-content-1">
    <div class="search-bar ">
        <div class="input-group">
            <input type="text" name="Ara" id="Ara" class="form-control" placeholder="Ara ..." oninput="FuncSearchBtn();">
        </div>
    </div>
    <div class="faq-content-container">
        <div class="row" id="liste">
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">
    var DeleteFunctionUrl = '/Help/Delete';
    $(document).ready(function () {
        FuncSearchBtn();
    });
    function FuncSearchBtn() {
        $('#liste').html("");
        PartialView("/Help/List", 'liste', JSON.stringify({ search: $('#Ara').val() }));
    }
</script>
}
