@model IEnumerable<FAQ>
@{ var toplam = (ViewBag.Sayi + 1) / 2; int i = 0; }
@toplam
@foreach (var item in Model)
{
    i++;
    <div class="col-md-6">
        <div class="faq-section ">
            <h2 class="faq-title uppercase font-blue">@item.ComboItem_Name.Name</h2>
            <div class="panel-group accordion faq-content" id="accordion@{@i}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-circle"></i>
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion@{@i}" href=#collapse_@{@i}> @item.Title</a>
                            </h4>
                        </div>
                        <div id="collapse_@{@i}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>@item.Detail</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
}
