<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TakvimeBagliKisit.Properties.Settings.solar6ConnectionString"
            connectionString="Data Source=TESTSERVER;Initial Catalog=solar6;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>