@model IEnumerable<frmUysWaitingTransfer>
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>