@{
    ViewBag.Title = "Transfer Planlama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
        td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
        tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
        #myTable{margin:0 auto!important;width:70%!important;}
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Transfer Planlama</span></li></ul></div>
<h1 class="page-title">Depolar Arası Transfer Planlama</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Depolar Arası Transfer Planlama
                </div>
            </div>
            <div class="portlet-body form">
                @using (Ajax.BeginForm("Summary", "Transfer", new { area = "WMS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnFailure= "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Çıkış Depo</label>
                            <div class="col-md-4">
                                @Html.DropDownList("CikisDepo", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Giriş Depo</label>
                            <div class="col-md-4">
                                @Html.DropDownList("GirisDepo", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tarih</label>
                            <div class="col-md-4">
                                <input class="form-control input-circle" id="Tarih" name="Tarih" required="required" type="text">
                                <span class="field-validation-valid" data-valmsg-for="Tarih" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <table class="table table-striped table-bordered" id="myTable">
                                <thead><tr><th>Malzeme Kodu</th><th>Malzeme Adı</th><th>Seri No</th><th>Miktar</th><th></th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td><input class="form-control input-circle" id="MalKodu" type="text"></td>
                                        <td><input class="form-control input-circle" id="MalAdi" type="text"></td>
                                        <td><input class="form-control input-circle" id="SeriNo" type="text"></td>
                                        <td><input class="form-control input-circle" id="Miktar" type="text"></td>
                                        <td><button type="button" class="btn btn-primary btn-block input-circle" onclick="NewRow();">Ekle</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">
    $(document).ready(function () {
        $(".DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $(".DepoID")[0].selectedIndex = 0; $(".DepoID")[1].selectedIndex = 0;
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#Tarih").datepicker();
        $("#MalKodu").autocomplete({
            source: "/WMS/Purchase/GetMalzemebyCode/0",
            minLength: 2,
            select: function (event, ui) {
                setTimeout(function () { $("#MalKodu").val(ui.item.id); $("#MalAdi").val(ui.item.value); }, 100);                
            }
        });
        $("#MalAdi").autocomplete({
            source: "/WMS/Purchase/GetMalzemebyName/0",
            minLength: 2,
            select: function (event, ui) {
                setTimeout(function () { $("#MalKodu").val(ui.item.id); $("#MalAdi").val(ui.item.value); }, 100);                
            }
        });
    });
    function NewRow()
    {
        if ($("#MalKodu").val() == "" || $("#MalAdi").val() == "" || $("#SeriNo").val() == "" || $("#Miktar").val() == "") {
            Modaldialog("Tüm alanları doldurunuz", 'Hata', 'Tamam', 'btn-danger');
            return;
        }
        $('#myTable tbody tr:first').after('<tr>' +
                                        '<td><input class="form-control input-circle" name="MalKodu" type="text" value="' + $("#MalKodu").val() + '"></td>' +
                                        '<td><input class="form-control input-circle" name="MalAdi" type="text" value="' + $("#MalAdi").val() + '"></td>' + 
                                        '<td><input class="form-control input-circle" name="SeriNo" type="text" value="' + $("#SeriNo").val() + '"></td>' + 
                                        '<td><input class="form-control input-circle" name="Miktar" type="text" value="' + $("#Miktar").val() + '"></td>' +
                                        '<td><button type="button" class="btn btn-danger btn-block input-circle" onclick="DeleteRow(this);">Sil</button></td>' +
                                    '</tr>');
        $("#MalKodu").val("");
        $("#MalAdi").val("");
        $("#SeriNo").val("");
        $("#Miktar").val("");
        $("#MalKodu").focus();
    }
    function DeleteRow(btn)
    {
        $(btn).closest('tr').remove();
    }
</script>
}