@{
    ViewBag.Title = "Transfer Planlama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
        td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
        tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Transfer Planlama</span></li></ul></div>
<h1 class="page-title">Depolar Arası Transfer Planlama</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Depolar Arası Transfer Planlama
                </div>
                <div class="col-md-1 pull-right m-t-5">
                    <button type="button" class="btn btn-default pull-right input-circle" onclick="Transfer()">Kaydet</button>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Ajax.BeginForm("Save", "Transfer", new { area = "UYS" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "getresult", OnFailure = "Modaldialog('Lütfen Tekrar Deneyin', 'Hata', 'Tamam', 'btn-danger');" }, new { @class = "form-horizontal", @id = "frmTransfer" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Çıkış Depo</label>
                            <div class="col-md-4">
                                @Html.DropDownList("CikisDepo", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required", @onchange = "CheckAll();" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Giriş Depo</label>
                            <div class="col-md-4">
                                @Html.DropDownList("GirisDepo", null, htmlAttributes: new { @class = "form-control input-circle DepoID", required = "required", @onchange = "CheckAll();" })
                                <span class="field-validation-valid" data-valmsg-for="DepoID" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tarih</label>
                            <div class="col-md-4">
                                <input class="form-control input-circle" id="Tarih" required="required" type="text" onchange="CheckAll();">
                                <input class="hidden" id="Tarih2" name="Tarih" required="required" type="text">
                                <span class="field-validation-valid" data-valmsg-for="Tarih" data-valmsg-replace="true" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-2">
                                <table class="table table-striped table-bordered" id="myTable">
                                    <thead><tr><th nowrap>Malzeme Kodu</th><th>Malzeme Adı</th><th class="text-right">Seri No</th><th class="text-right">Miktar</th><th>Stok</th><th>Birim</th><th></th></tr></thead>
                                    <tbody>
                                        <tr>
                                            <td><input class="form-control" id="MalKodu" type="text" /></td>
                                            <td><input class="form-control w-200" id="MalAdi" type="text" /></td>
                                            <td><select class="form-control w-50 pull-right" id="SeriNo" type="text"></select></td>
                                            <td><input class="form-control w-50 pull-right" id="Miktar" type="text" /></td>
                                            <td></td>
                                            <td></td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-primary" onclick="NewRow();">Ekle</button>
                                                <button type="button" class="btn btn-default" onclick="ClearAll(false);">temizle</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">
    var satir = 0;
    $(document).ready(function () {
        $(".DepoID").prepend("<option value=''>Seçiniz !!!</option>"); $(".DepoID")[0].selectedIndex = 0; $(".DepoID")[1].selectedIndex = 0;
        CheckAll();
        $.datepicker.setDefaults($.datepicker.regional["tr"]);
        $("#Tarih").datepicker().on("change", function (e) {
            $("#Tarih2").val(toOADateFromString(e.target.value));
        });
        $("#MalKodu").autocomplete({
            source: "/WMS/Purchase/GetMalzemebyCode",
            minLength: 2,
            select: function (event, ui) {
                setTimeout(function () { $("#MalKodu").val(ui.item.id); $("#MalAdi").val(ui.item.value); $("#SeriNo").focus(); }, 100);
                GetSeri(ui.item.id);
            }
        });
        $("#MalAdi").autocomplete({
            source: "/WMS/Purchase/GetMalzemebyName",
            minLength: 2,
            select: function (event, ui) {
                setTimeout(function () { $("#MalKodu").val(ui.item.id); $("#MalAdi").val(ui.item.value); $("#SeriNo").focus(); }, 100);
                GetSeri(ui.item.id);
            }
        });
        $(document).keypress(function (e) {
            if (e.which == 13) {
                NewRow();
            }
        });
    });
    function GetSeri(id)
    {
        $("#SeriNo option").remove();
        $.ajax({
            type: 'POST',
            url: "/UYS/Transfer/GetSeri/",
            data: { Depo: $('#CikisDepo').val(), Tarih: $("#Tarih2").val(), MalKodu: id },
            dataType: "json",
            success: function (data) {
                if (data != "") {
                    var kontrol = false;
                    $.each(data, function (i, item) {
                        if (item.id == " ") kontrol = true;
                        $('#SeriNo').append($('<option>', { value: item.id, text: 'Seri: "' + item.id + '", Stok: ' + numeral(item.value.replace(".",",")).format('0,0.00') }));
                    });
                    if (kontrol == false)$("#SeriNo").prepend("<option value=' '>Seri: \" \", Stok: 0</option>"); $("#SeriNo")[0].selectedIndex = 0;
                }
            }
        });
    }
    function CheckAll()
    {
        ClearAll(false);
        if ($("#CikisDepo").val() == "" || $("#GirisDepo").val() == "")
            $('#myTable').hide();
        else if ($("#CikisDepo").val() == $("#GirisDepo").val())
            Modaldialog("Çıkış deposu ile giriş deposu aynı olamaz", "Hata", "Tamam", "btn-danger");
        else if ($("#Tarih").val() != "")
            $('#myTable').show();    
    }
    function ClearAll(ch) {
        $("#MalKodu").val("");
        $("#MalAdi").val("");
        $("#SeriNo").html("");
        $("#Miktar").val("");
        if (ch == true) $("#MalKodu").focus();
    }
    function NewRow()
    {
        if ($("#CikisDepo").val() == "" || $("#GirisDepo").val() == "" || $("#Tarih").val() == "" || $("#MalKodu").val() == "" || $("#MalAdi").val() == "" || $("#Miktar").val() == "")
        {
            Modaldialog("Tüm alanları doldurunuz", 'Hata', 'Tamam', 'btn-danger');
            return;
        }
        else if ($("#CikisDepo").val() == $("#GirisDepo").val())
        {
            Modaldialog("Çıkış deposu ile giriş deposu aynı olamaz", "Hata", "Tamam", "btn-danger");
            return;
        }
        $.ajax({
            type: 'POST',
            url: "/UYS/Transfer/GetStock/",
            data: { Depo: $('#CikisDepo').val(), Tarih: $("#Tarih2").val(), MalKodu: $("#MalKodu").val(), SeriNo: $("#SeriNo").val(), Miktar: $("#Miktar").val() },
            dataType: "json",
            success: function (data) {
                if (data == null)
                {
                    Modaldialog("Bu ürünün stoğu yok", "Hata", "Tamam", "btn-danger");
                    return;
                }
                else if (data.MalKodu == "Hata") {
                    Modaldialog(data.Birim, "Hata", "Tamam", "btn-danger");
                    return;
                }
                else if (parseInt(data.Miktar) < parseInt($("#Miktar").val())) {
                    Modaldialog("Bu ürünün stoğu yetersiz: " + numeral(data.Miktar).format(), "Hata", "Tamam", "btn-danger");
                    return;
                }
                $('#myTable tbody tr:first').after('<tr class="deletable">' +
                    '<td><input class="form-control" name="MalKodu" type="text" value="' + $("#MalKodu").val() + '" readonly="readonly"></td>' +
                    '<td><input class="form-control w-200" type="text" value="' + $("#MalAdi").val() + '" readonly="readonly"></td>' +
                    '<td><input class="form-control w-50 pull-right" name="SeriNo" type="text" value="' + $("#SeriNo").val() + '" readonly="readonly"></td>' +
                    '<td><input class="form-control w-50 pull-right" name="Miktar" type="text" value="' + $("#Miktar").val() + '"></td>' +
                    '<td class="text-right">' + numeral(data.Miktar).format() + '</td>' +
                    '<td><input class="form-control w-50" name="Birim" type="text" value="' + data.Birim + '" readonly="readonly"></td>' +
                    '<td><button type="button" class="btn btn-danger btn-block" onclick="DeleteRow(this);">Sil</button></td>' +
                    '</tr>');
                ClearAll(true);
                satir++;
            },
            error: function (data) { Modaldialog("Bu ürünün stoğu yok", "Hata", "Tamam", "btn-danger"); }
        });
    }
    function DeleteRow(btn)
    {
        $(btn).closest('tr').remove();
        satir--;
    }
    function Transfer() {
        if ($("#CikisDepo").val() == "" || $("#GirisDepo").val() == "" || $("#Tarih").val() == "" || satir == 0) {
            Modaldialog("Tüm alanları doldurunuz", 'Hata', 'Tamam', 'btn-danger');
            return;
        }
        $("#frmTransfer").submit();
    }
    function getresult(e) {
        if (e.Status == true) {
            Modaldialog("İşlem Başarıyla gerçekleşti", "Başarı", "Tamam", "btn-success");
            $("#CikisDepo").val("");
            $("#GirisDepo").val("");
            $("#Tarih").val("");
            $("#MalKodu").val("");
            $("#MalAdi").val("");
            $("#SeriNo").val("");
            $("#Miktar").val("");
            $('#myTable').hide();
            $(".deletable").remove();
        }
        else
            Modaldialog(e.Message, 'Hata', 'Tamam', 'btn-danger');
    };
</script>
}