@{
    ViewBag.Title = "Transfer Onaylama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <style>
        td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
        tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Transfer Onaylama</span></li></ul></div>
<h1 class="page-title">Depolar Arası Transfer Onaylama</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Depolar Arası Transfer Onaylama
                </div>
                <div class="col-md-1 pull-right m-t-4">
                    <input type="checkbox" id="toggle-two" checked data-toggle="toggle" name="Durum" data-on-text="Bekleyen" data-off-text="Onaylanmış" data-on="Bekleyen" data-off="Onaylanmış">
                </div>
                <div class="col-md-1 pull-right text-right m-t-10">Onay Durum</div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Transfer Seçiniz</div>
                            <div class="col-sm-4">
                                @Html.DropDownList("DurumID", null, htmlAttributes: new { @class = "form-control input-circle", onchange = "FuncSearchBtn();" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Grid" class="p-30"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js"></script><script>
    var DeleteFunctionUrl = '/UYS/Transfer/Delete';
    $("#DurumID").prepend("<option value=''>Seçiniz !!!</option>"); $("#DurumID")[0].selectedIndex = 0;
    $('#toggle-two').bootstrapToggle({ on: 'Bekleyen', off: 'Onaylanmış' });
    $('#toggle-two').change(function () {
        $("#DurumID option").remove();
        $.ajax({
            url: "/UYS/Transfer/GetComboList/" + $(this).prop('checked'),
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#DurumID').append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#DurumID").prepend("<option value=''>Seçiniz !!!</option>"); $("#DurumID")[0].selectedIndex = 0;
                    FuncSearchBtn();
                }
            }
        });

    })
    $("#DurumID").focus();
    function FuncSearchBtn() {
        $('#Grid').html("");
        if ($('#DurumID').val() != "")
            PartialView('/UYS/Transfer/WaitingList', 'Grid', JSON.stringify({ Id: $('#DurumID').val() }));
    }
    function getresult(e) {
        if (e.Status == true) {
            Modaldialog("İşlem Başarıyla gerçekleşti", "Başarı", "Tamam", "btn-success");
            $("#DurumID option[value='" + $('#DurumID').val()+"']").remove();
            FuncSearchBtn();
        }
        else
            Modaldialog(e.Message, 'Hata', 'Tamam', 'btn-danger');
    };
</script>
}