@{
    ViewBag.Title = "Onay Bekleyenler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onay Bekleyenler</span></li></ul></div>
<h1 class="page-title">Onay Bekleyenler</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title"><div class="caption"><i class="fa fa-gift"></i>Onay Bekleyen Siparişler</div></div>
            <div class="portlet-body form p-30 p-t-15">
                <table class="table table-striped table-bordered" id="sample_1">
                    <thead>
                        <tr>
                            <th>Evrak No</th>
                            <th>MalKodu</th>
                            <th>Hesap Kodu</th>
                            <th>Ünvan</th>
                            <th>Evrak Seri No</th>
                            <th>Depo</th>
                            <th>Miktar</th>
                            <th>Birim Fiyat</th>
                            <th>Doviz Cinsi</th>
                            <th>Tutar</th>
                            <th>Kaydeden</th>
                            <th>Tarih</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ordering": false,
        "ajax": {
            "url": '/YN/OnayBekleyenler/SiparisOnay_List',
            "dataSrc": function (json) {
                return json;
            },
        },
        "fixedHeader": true,
        "columns": [
            { "data": "EvrakSeriNo" },
            { "data": "MalKodu" },
            { "data": "HesapKodu" },
            { "data": "Unvan" },
            { "data": "EvrakSeriNo" },
            { "data": "Depo" },
            { "data": "Miktar" },
            { "data": "BirimFiyat" },
            { "data": "DovizCinsi" },
            { "data": "Tutar" },
            { "data": "Kaydeden" },
            { "data": "Tarih" },
            { "data": "ID" ,
                "render": function (data, type, full, meta) {
                    return '<a class="btn btn-info btn-sm" href="/YN/OnayBekleyenler/SiparisOnayla/' + data + '">Onayla</a><a class="btn btn-danger btn-sm" href="/YN/OnayBekleyenler/SiparisRed/' + data +'">Red</a>';
                }
            }
        ]
    });
</script>}