@{
    ViewBag.Title = "Onay Bekleyen Siparişler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    tr{cursor:pointer;}
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onay Bekleyen Siparişler</span></li></ul></div>
<h1 class="page-title">Onay Bekleyen Siparişler</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-gift"></i>Onay Bekleyen Siparişler</div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button></div>
            </div>
            <div class="portlet-body form p-30 p-t-15">
                <table class="table table-striped table-bordered" id="sample_1">
                    <thead><tr><th></th><th>Evrak No</th><th>Hesap Kodu</th><th>Ünvan</th><th>MalKodu</th><th>Miktar</th><th>Tutar</th><th>Kaydeden</th><th>Tarih</th></tr></thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "ordering": false,
            "ajax": {
                "url": '/YN/OnayBekleyenler/Siparis_List',
                "dataSrc": function (json) {
                    return json;
                },
            },
            "fixedHeader": true,
            "columns": [
                { "data": "EvrakSeriNo" },
                { "data": "HesapKodu" },
                { "data": "Unvan" },
                { "data": "Cesit" },
                { "data": "Miktar" },
                { "data": "Tutar" },
                { "data": "Kaydeden" },
                { "data": "Tarih" }
            ]
        });
        $('#sample_1 tbody').on('dblclick', 'tr', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            editInModal2('/YN/OnayBekleyenler/Siparis_Details', row.data().EvrakSeriNo)
            $('#modalEditPage').modal('toggle');
        });
        $('.yenile-buton').click(function () {
            table.ajax.reload();
        });
        $('.onay-buton').click(function () {
            $.ajax({
                type: 'POST',
                url: '/YN/OnayBekleyenler/Siparis_Onay',
                data: { "ID": 0, "Onay": true },
                dataType: "json",
                success: function (data) {
                    if (data.Status == true)
                        Modaldialog("İşlem Tamamlandı", 'Onaylandı', 'Tamam', 'btn-success');
                    else if (data.Message != "" && data.Message != null)
                        Modaldialog(data.Message, 'Hata', 'Tamam', 'btn-danger');
                    else
                        Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
                }
            });
        });
        $('.reddet-buton').click(function () {
            $.ajax({
                type: 'POST',
                url: '/YN/OnayBekleyenler/Siparis_Onay',
                data: { "ID": 0, "Onay": false },
                dataType: "json",
                success: function (data) {
                    if (data.Status == true)
                        Modaldialog("İşlem Tamamlandı", 'Onaylandı', 'Tamam', 'btn-success');
                    else if (data.Message != "" && data.Message != null)
                        Modaldialog(data.Message, 'Hata', 'Tamam', 'btn-danger');
                    else
                        Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
                }
            });
        });
    });
    function newrow(id) {
        return "<table style='background:transparent;' id='new" + id + "'></table>";
    }
    function format(d) {
        var html = "<tr style='background: transparent;'><th>HesapKodu</th><th>Unvan</th><th>MalKodu</th><th>Miktar</th><th>BirimFiyat</th><th>Tutar</th><th>Depo</th></tr>";
        $.ajax({
            type: 'POST',
            url: '/YN/OnayBekleyenler/Siparis_Details',
            data: { "ID": d },
            dataType: "json",
            success: function (data) {
                for (var i in data) {
                    html += '<tr style="background:transparent;"><td>' + data[i].HesapKodu + '</td><td>' + data[i].Unvan + '</td><td>' + data[i].MalKodu + '</td><td>' + data[i].Miktar + '</td><td align=right>' + data[i].BirimFiyat + ' ' + data[i].DovizCinsi + '</td><td align=right>' + data[i].Tutar + ' ' + data[i].DovizCinsi + '</td><td>' + data[i].Depo + '</td></tr>';
                };
                $('#new' + d).html(html);
            }
        });
    }
</script>}