@{
    ViewBag.Title = "Onay Bekleyen Siparişler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>tr{cursor:pointer;}</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onay Bekleyen Siparişler</span></li></ul></div>
<h1 class="page-title">Onay Bekleyen Siparişler</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
         
            <div class="portlet-title">
                <div class="col-md-4 pull-left m-t-5">
                    <select id="DurumID" name="DurumID" class="form-control input-circle pull-right">
                        <option value="0">Onay Bekleyen Siparişler</option>
                        <option value="1">Onaylanmış Siparişler</option>
                        <option value="2">Reddedilmiş Siparişler</option>
                    </select>
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <button class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button>
                </div>
            </div>


            <div class="portlet-body form p-30 p-t-15">
                <table class="table table-striped table-bordered" id="sample_1">
                    <thead><tr><th>Evrak No</th><th>Hesap Kodu</th><th>Ünvan</th><th class="text-right">Çeşit</th><th class="text-right">Miktar</th><th>Talep Eden</th><th>Tarih</th></tr></thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    var selected = "";
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "ordering": false,
            "ajax": {
                "url": '/YN/OnayBekleyenler/Siparis_List',
                "data": function (d) { d.Secim = $('#DurumID').val() },
                "dataSrc": function (json) {
                    return json;
                },
            },
            "fixedHeader": true,
            "columns": [
                { "data": "EvrakSeriNo" },
                { "data": "HesapKodu" },
                { "data": "Unvan" },
                { "data": "Cesit", "className": "text-right" },
                { "data": "Miktar", "className": "text-right" },
                { "data": "Kaydeden" },
                { "data": "Tarih" }
            ]
        });
        $('#sample_1 tbody').on('dblclick', 'tr', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            editInModal2('/YN/OnayBekleyenler/Siparis_Details', { ID: row.data().EvrakSeriNo, Secim: $('#DurumID').val() })
            $('#modalEditPage').modal('toggle');
            selected = row.data().EvrakSeriNo;
        });
        $('.yenile-buton').click(function () {
            table.ajax.reload();
        });
        $('#DurumID').change(function () {
            table.ajax.reload();
        });
    });
</script>}