@{
    ViewBag.Title = "Onay Bekleyen Transferler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
    tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
    tr{cursor:pointer;}
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onay Bekleyen Transferler</span></li></ul></div>
<h1 class="page-title">Onay Bekleyen Transferler</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-gift"></i>Onay Bekleyen Transferler</div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-success pull-right input-circle onay-buton glyphicon glyphicon-ok"> Onayla </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-danger pull-right input-circle reddet-buton glyphicon glyphicon-remove"> Reddet </button></div>
            </div>
            <div class="portlet-body form p-30 p-t-15">
                <table class="table table-striped table-bordered" id="sample_1">
                    <thead>
                        <tr>
                            <th>Transfer No</th>
                            <th>Talep Eden</th>
                            <th>Tarih</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    var selected = "";
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "ordering": false,
            "ajax": {
                "url": '/YN/OnayBekleyenler/Transfer_List',
                "dataSrc": function (json) {
                    return json;
                },
            },
            "fixedHeader": true,
            "columns": [
               
                { "data": "TransferNo" },
                { "data": "Kaydeden" },
                { "data": "Tarih" }
            ]
        });
        $('#sample_1 tbody').on('dblclick', 'tr', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            editInModal2('/YN/OnayBekleyenler/Transfer_Details', { ID: row.data().TransferNo })
            $('#modalEditPage').modal('toggle');
        });
        $('.yenile-buton').click(function () {
            table.ajax.reload();
        });
        $('.onay-buton').click(function () {
            $.ajax({
                type: 'POST',
                url: '/YN/OnayBekleyenler/Transfer_Onay',
                data: { "ID": 0, "Onay": true },
                dataType: "json",
                success: function (data) {
                    if (data.Status == true) {
                        Modaldialog("İşlem Tamamlandı", 'Onaylandı', 'Tamam', 'btn-success');
                        table.ajax.reload();
                    }
                    else if (data.Message != "" && data.Message != null)
                        Modaldialog(data.Message, 'Hata', 'Tamam', 'btn-danger');
                    else
                        Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
                }
            });
        });
        $('.reddet-buton').click(function () {
            $.ajax({
                type: 'POST',
                url: '/YN/OnayBekleyenler/Transfer_Onay',
                data: { "ID": 0, "Onay": false },
                dataType: "json",
                success: function (data) {
                    if (data.Status == true) {
                        Modaldialog("İşlem Tamamlandı", 'Onaylandı', 'Tamam', 'btn-success');
                        table.ajax.reload();
                    }
                    else if (data.Message != "" && data.Message != null)
                        Modaldialog(data.Message, 'Hata', 'Tamam', 'btn-danger');
                    else
                        Modaldialog("Hata oldu", 'Hata', 'Tamam', 'btn-danger');
                }
            });
        });
    });
</script>}