@{
    ViewBag.Title = "Bakım Modu";
    Layout = "~/Views/Shared/_Layout.Null.cshtml";
}<div id="outside">
    <div id="inside">
        <h2>Bakım Modu</h2>
        <p>Verdiğimiz rahatsızlıktan dolayı özür dileriz.</p>
        <p>Websitemiz bakıma alınmıştır. Endişe edilecek bir durum yoktur.</p>
        <p><a href="/">Lütfen 281 hafta sonra tekrar deneyiniz.</a></p>
        <p><br />Anlayışınız için teşekkürler.</p>
    </div>
</div>