
@{
    ViewBag.Title = "SPGMY Sipariş Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="container" width="100%">

        <div class="col-md-12">
            <div>
                @*<a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-refresh"></span> Yenile
                    </a>
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-ok"></span> Onayla
                    </a>
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-remove"></span> Reddet
                    </a>*@
                <!-- BEGIN ROW -->
                <div id="gunluk_satis" style="padding:10px;margin-top:30px; ">
                    @* @{Html.RenderAction("PartialGunlukSatis");}*@
                </div>

            </div>
        </div>
    </div>
</div>

<div id="box-content" style="display:none">

</div>
@section Scripts{
    <link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />

    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>

    <script>

            $(document).ready(function (e) {
                var GunlukSatisUrl = "/OnaySiparis/PartialGMYOnay";
                PartialView(GunlukSatisUrl, 'gunluk_satis');
            });
    </script>
}
