@model User
@{string tmp = Model.Guid.ToString().Right(8).ToString() + Model.ID.ToString(); }
<img src="http://www.barcodes4.me/barcode/c39/@{@tmp}.png?IsTextDrawn=1" alt="@Model.AdSoyad" width="400" />
<div>@Model.AdSoyad</div>
<script>window.print();</script>