@{
    ViewBag.Title = "Fatura Onaylama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/devextreme/css/dx.common.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/devextreme/css/dx.light.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
}

<div class="fatura-content" style="padding: 10px; width: 100%;">
    <div class="bidding-header-menu" style="height:20px; float:left; margin-left: 15px;">
        <div class="reset-onay-filter" title="Sıfırla">
            <span class="REFRESH" style="text-align:'center';"><i class="icon-refresh" style="text-align:center; font-size:24px; color:#e2505a; cursor:pointer;"></i></span>
        </div>
    </div>

    <div class="rdgrpOnayRed" style="float:left; margin-left:20px;">

    </div>
    @using (Ajax.BeginForm("List", "Invoice", new { area = "Approval" }, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "fatura_data" }))
    {
        <div id="fatura_data" class="m-t-30"></div>
        <input type="submit" id="RefreshBtn" style="display:none;" />
        <input type="hidden" id="Refresh" name="Refresh" />
        <input type="hidden" id="ListType" name="ListType" />
    }
</div>


@section Scripts{<script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/assets/global/plugins/devextreme/js/dx.web.js"></script>
<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ListType").val("0");
        $("#Refresh").val("Refresh");
        $("#RefreshBtn").click();
        $(".reset-onay-filter").click(function () {
            var rdbValue = $(".rdgrpOnayRed").dxRadioGroup("instance").option("value");
            $("#ListType").val(rdbValue == "OnayBekleyenler" ? "0" : "1");
            $("#Refresh").val("Refresh");
            $("#RefreshBtn").click();

        });
    });
    var radioGroupItems = [
        { text: "Onay Bekleyenler", value: "OnayBekleyenler" },
        { text: "Reddedilenler", value: "Reddedilenler" }
    ];

    $(function () {
        $(".rdgrpOnayRed").dxRadioGroup({
            dataSource: radioGroupItems,
            displayExpr: "text",
            valueExpr: "value",
            value: "OnayBekleyenler",
            layout: "horizontal",
            onValueChanged: function (e) {
                if (e.value == "OnayBekleyenler") {
                    $("#ListType").val("0");
                    $("#Refresh").val("Refresh");
                }
                else {
                    $("#ListType").val("1");
                    $("#Refresh").val("Refresh");
                }
                $("#RefreshBtn").click();
            }
        });
    });
</script>
}