@{
    ViewBag.Title = "Fatura Onaylama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Fatura</span></li></ul></div>
<h1 class="page-title">Fatura</h1>
<div class="row fatura-content p-10">
    <div class="rdgrpOnayRed m-col-md-4 m-l-20 pull-left"></div>
    <div class="col-md-2"><button class="btn btn-default input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button></div>
    @using (Ajax.BeginForm("List", "Invoice", new { area = "Approvals" }, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "fatura_data" }))
    {
        <div id="fatura_data" class="m-t-30"></div>
        <input type="submit" id="RefreshBtn" class="hidden" />
        <input type="hidden" id="Refresh" name="Refresh" />
        <input type="hidden" id="ListType" name="ListType" />
    }
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ListType").val("0");
        $("#Refresh").val("Refresh");
        $("#RefreshBtn").click();
        $(".yenile-buton").click(function () {
            var rdbValue = $(".rdgrpOnayRed").dxRadioGroup("instance").option("value");
            $("#ListType").val(rdbValue == "OnayBekleyenler" ? "0" : "1");
            $("#Refresh").val("Refresh");
            $("#RefreshBtn").click();

        });
    });
    var radioGroupItems = [
        { text: "Onay Bekleyenler", value: "OnayBekleyenler" },
        { text: "Reddedilenler", value: "Reddedilenler" }
    ];

    $(function () {
        $(".rdgrpOnayRed").dxRadioGroup({
            dataSource: radioGroupItems,
            displayExpr: "text",
            valueExpr: "value",
            value: "OnayBekleyenler",
            layout: "horizontal",
            onValueChanged: function (e) {
                if (e.value == "OnayBekleyenler") {
                    $("#ListType").val("0");
                    $("#Refresh").val("Refresh");
                }
                else {
                    $("#ListType").val("1");
                    $("#Refresh").val("Refresh");
                }
                $("#RefreshBtn").click();
            }
        });
    });
</script>
}