@model IEnumerable<frmMalKoduMiktar>
<tr><th>Mal Kodu</th><th>Mal Adı</th><th>Birim</th><th>Miktar</th></tr>
@foreach (var item in Model) {
    <tr>
        <td>@item.MalKodu</td>
        <td>@item.MalKodu</td>
        <td>@item.Birim</td>
        <td>@item.Miktar</td>
    </tr>
}