@{
    ViewBag.Title = "Transfer Onaylama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
    tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Transfer Onaylama</span></li></ul></div>
<h1 class="page-title">Depolar Arası Transfer Onaylama</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Depolar Arası Transfer Onaylama
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Görev Durumu</div>
                            <div class="col-sm-4">
                                <select id="DurumID" name="DurumID" class = "form-control input-circle" onchange = "FuncSearchBtn();"><option value="false">Onay Bekleyen</option><option value="true">Onaylanmış</option></select>
                            </div>
                            <div class="col-sm-1"><button type="button" class="btn" onclick="FuncSearchBtn();"><i class="fa fa-refresh" aria-hidden="true"></i></button></div>
                        </div>
                    </div>
                </div>
                <div id="Grid" class="p-30"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    var DeleteFunctionUrl = '/WMS/Transfer/Delete';
    FuncSearchBtn();
    function FuncSearchBtn() {
        $('#Grid').html("");
        PartialView('/WMS/Transfer/ListDetail', 'Grid', JSON.stringify({ Id: $('#DurumID').val() }));
    }
    function newrow(id) {
        return "<table style='background:transparent;' id='new" + id + "'></table>";
    }
    function format(d) {
        $.ajax({
            type: 'POST',
            url: '/WMS/Transfer/Details',
            data: { "ID": d },
            dataType: "html",
            success: function (data) { $('#new' + d).html(data); }
        });
    }
</script>
}