@{
    ViewBag.Title = "Transfer Onaylama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Transfer Onaylama</span></li></ul></div>
<h1 class="page-title">Depolar Arası Transfer Onaylama</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Depolar Arası Transfer Onaylama
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Görev Durumu</div>
                            <div class="col-sm-4">
                                <select id="DurumID" name="DurumID" class="form-control input-circle" onchange="FuncSearchBtn();"><option value="false">Bekleyen Transferler</option><option value="true">Onaylanmış Transferler</option></select>
                            </div>
                            <div class="col-sm-1"><button type="button" class="btn btn-circle green" onclick="FuncSearchBtn();"><i class="icon-refresh"></i></button></div>
                        </div>
                        <div class="form-group" id="tarihsecim">
                            <div class="col-sm-3 control-label">Başlangıç Tarihi</div>
                            <div class="col-sm-4">
                                <input class="form-control input-circle dateboxbg" type="text" id="txtBaslangic" value="@DateTime.Today.AddDays(-7).ToString("dd.MM.yyyy")" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Grid" class="p-30"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script>
    var DeleteFunctionUrl = '/WMS/Transfer/Delete';
    FuncSearchBtn();
    var tarih = @DateTime.Today.AddDays(-7).ToOADateInt();
    $('#tarihsecim').hide();
    $.datepicker.setDefaults($.datepicker.regional["tr"]);
    $("#txtBaslangic").datepicker().on("change", function (e) { tarih = toOADateFromString(e.target.value); FuncSearchBtn(); });
    function FuncSearchBtn() {
        $('#Grid').html("");
        var tmp = 0;
        if ($('#DurumID').val() != "false")
        {
            tmp = tarih;
            $('#tarihsecim').show();
        }
        else
            $('#tarihsecim').hide();
        PartialView('/WMS/Transfer/WaitingList', 'Grid', JSON.stringify({ Id: $('#DurumID').val(), Tarih: tmp }));
    }
</script>}