@{
    ViewBag.Title = "Rafa Kaldırma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Rafa Kaldırma</h2>
@Html.DropDownList("Irsaliye", null, htmlAttributes: new { @class = "form-control input-circle", required = "required" })
<div class="row" id="liste"></div>
@section Scripts{
<script>
    $("#Irsaliye").prepend("<option value='0'>Seçiniz !!!</option>"); $("#Irsaliye")[0].selectedIndex = 0;
    $('#Irsaliye').on('change', function () {
        $("#liste").html("");
        $.ajax({
            url: "/Lists/GetRafDetails/" + $('#Irsaliye').val(),
            type: 'POST',
            dataType: "html",
            success: function (data) { if (data != "") $("#liste").html(data); }
        });
    });
</script>
}
