@{
    ViewBag.Title = "Sipariş Toplama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sipariş Toplama</h2>
@Html.DropDownList("Siparis", null, htmlAttributes: new { @class = "form-control input-circle", required = "required" })
<div class="row" id="liste"></div>
@section Scripts{
<script>
$("#Siparis").prepend("<option value='0'>Seçiniz !!!</option>");$("#Siparis")[0].selectedIndex = 0; 
$('#Siparis').on('change', function () {
    $("#liste").html("");
    $.ajax({
        url: "/Lists/GetSiparisDetails/" + $('#Siparis').val(),
        type: 'POST',
        dataType: "html",
        success: function (data) { if (data != "") $("#liste").html(data); }
    });
});
</script>
}
