@{
    ViewBag.Title = "Sipariş Maddeleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sipariş Maddeleri</h2>
@Html.DropDownList("Gorev", null, htmlAttributes: new { @class = "form-control input-circle", required = "required" })
<div class="row" id="liste"></div>
@section Scripts{
<script>
    $("#Gorev").prepend("<option value='0'>Seçiniz !!!</option>");$("#Gorev")[0].selectedIndex = 0; 
    $('#Gorev').on('change', function () {
        $("#liste").html("");
        $.ajax({
            url: "/Lists/GetToplaDetails/" + $('#Gorev').val(),
            type: 'POST',
            dataType: "html",
            success: function (data) { if (data != "") $("#liste").html(data); }
        });
    });
</script>
}
