@model List<frmGorevlerCalismalar>
@{
    ViewBag.Title = "Görev Takvimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" />
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Görev Takvimi</span></li></ul></div>
<h1 class="page-title">Görev Takvimi</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered calendar">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Calendar</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="calendar" class="has-toolbar"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Content/assets/global/plugins/fullcalendar/locale/tr.js"></script>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            locale: 'tr',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'listDay,listWeek,month'
            },
            navLinks: true,
                        @*events: [ @foreach (var item in Model) { <text>{ title: '@item.Sure', start: '@item.Tarih.ToString("yyyy-MM-dd")' },</text> } ]*@

            events: [
                { title: '540', start: '2017-04-26' },
                { title: '540', start: '2017-04-27' },
                { title: '540', start: '2017-04-28' },
                { title: '540', start: '2017-05-01' },
                { title: '540', start: '2017-05-02' },
                { title: '540', start: '2017-05-03' },
                { title: '540', start: '2017-05-04' },
                { title: '540', start: '2017-05-05' },
                { title: '540', start: '2017-05-08' },
                { title: '540', start: '2017-05-09' },
                { title: '540', start: '2017-05-10' },
                { title: '540', start: '2017-05-11' },
                { title: '540', start: '2017-05-12' },
                { title: '540', start: '2017-05-15' },
                { title: '150', start: '2017-10-04' },
                { title: '677', start: '2017-10-05' },
                { title: '16', start: '2017-10-09' }
            ]
        });
    });
</script>
}