@{
    ViewBag.Title = "Görev Takvimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
<style>.fc-left > div > .btn, .fc-left > .btn, .fc-right > div > .btn { padding: 8px 14px 25px 14px !important; margin-bottom: 15px!important; }</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Görev Takvimi</span></li></ul></div>
<h1 class="page-title">Görev Takvimi</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered calendar">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Takvim</span>
                </div>
                <div class="col-md-2 pull-right">
                    @if (ViewBag.RoleName == "Admin" || ViewBag.RoleName == " ")
                    {
                        @Html.DropDownList("UserKod", null, htmlAttributes: new { @class = "form-control input-circle", @onchange = "FuncSearchBtn(this.value);", required = "required" })
                    }
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div id="liste" class="col-md-12 col-sm-12"></div>
                </div>
            </div>
            <div id="details" class="p-40"></div>
        </div>
    </div>
</div>
@if (ViewBag.Yetki == true)
{
    <div class="row">
        <div class="col-md-12">
            <div id="CreateEdit"></div>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>İzin ve Tatil Listesi
                    </div>
                    <div class="col-md-2 pull-right m-t-5">
                        <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/ToDo/GorevTakvimi/New')"> Yeni </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div id="listeTatil" class="form-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Content/assets/global/plugins/fullcalendar/locale/tr.js"></script>
<script>
    var username = "@ViewBag.UserName"; var id = 0;
    var DeleteFunctionUrl = '/ToDo/GorevTakvimi/Delete';
    $(document).ready(function () {
        FuncSearchBtn(username);
        @if (ViewBag.Yetki == true) { <text>PartialView("/ToDo/GorevTakvimi/ListTatil", "listeTatil", "");</text> }
    });
    function FuncSearchBtn(u) {
        username = u;
        PartialView("/ToDo/GorevTakvimi/List", 'liste', JSON.stringify({ UserName: u }));
    }
    function format(d, u) {
        id = d;
        $('#details').html("");
        $.ajax({
            type: 'POST',
            url: '/ToDo/GorevTakvimi/Details',
            data: { "ID": d, "User": u },
            dataType: "html",
            success: function (data) {
                $('#details').html(data);
            }
        });
    }
    function getresult(data) {
        if (data.Status == false)
            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
        else {
            Modaldialog("Kaydedildi", "Başarı", "Tamam", "btn-success");
            $('#modalEditPage').modal('toggle');
            FuncSearchBtn(username);
            @if (ViewBag.Yetki == true) { <text>PartialView("/ToDo/GorevTakvimi/ListTatil", "listeTatil", "");</text> }
            if (id > 0) format(id, username);
        }
    };
</script>
}