@{
    ViewBag.Title = "Sözleşme Tanım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/datatables/dataTables.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <style>
        td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;
        }
        .input_content {
            margin-bottom: 3px;
            height: 40px;
            line-height: 20px;
        }

        .input_label {
            float: left;
            width: 35%;
            font-weight: bold;
            color: #5bc8d2;
            font-size: 9px;
            padding-top: 4px;
        }

        .input {
            float: left;
            width: 60%;
            font-size: 10px;
            height: 30px;
        }

        .input_style {
            background-color: rgba(245, 239, 239, 0.85);
            padding: 10px;
            margin: 0;
        }

        .dx-header-row {
            background-color: #86d8ea;
            color: window;
        }

        .dx-state-readonly {
            background-color: #e0dede !important;
        }

            .dx-state-readonly input {
                background-color: #e0dede !important;
            }


        /*.dataTables_scrollHead {
            width: 100% !important;
        }

        .dataTables_scrollHeadInner {
            width: 100% !important;
        }

        .dataTables_scrollBody {
            width: 100% !important;
        }*/
        .btn {
            width: 120px;
            text-align: center;
        }
    </style>
}
<div class="form-horizontal">
    <div class="form-body">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Techno Ücret Onayları
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle yenile-buton" href="#modalEditPage" data-toggle="modal"> Yenile </a>
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle onay-buton" href="#modalEditPage" data-toggle="modal"> Onayla </a>
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle sil-buton" href="#modalEditPage" data-toggle="modal"> Sözleşme Sil </a>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row" id="techno_ucret_data">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="form-horizontal">
    <div class="form-body">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Techno Prim Onayları
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle yenile-buton" href="#modalEditPage" data-toggle="modal"> Yenile </a>
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle onay-buton" href="#modalEditPage" data-toggle="modal"> Onayla </a>
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle sil-buton" href="#modalEditPage" data-toggle="modal"> Sözleşme Sil </a>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row" id="techno_prim_data">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="row" id="techno_ucret_data" style="padding:5px;border:1px solid #dad2d2;">
    </div>
    <br />
    <div class="row" id="techno_prim_data" style="margin-top:10px;padding:5px;border:1px solid #dad2d2;">
    </div>
</div>*@
<div class="modal fade" id="x-modal-sozlesme-guncelle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content" style="height:280px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#12ccee">SÖZLEŞME GÜNCELLE</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:18%;margin-left:10px;color:#12ccee"><span>Önceki Bağlantı Tutarı</span></div>
                    <div class="numb_onc_baglanti_tutari" style="float:left;width:20%;margin-left:10px;"></div>
                    <div class="txt_onc_bag_tutar_doviz" style="float:left;width:5%;margin-left:10px;"></div>
                    <div style="float:left;width:15%;margin-left:10px;">
                        <button type="button" class="btn btn-lg blue soz_gunc_kaydet" style="font-size:9px; margin-bottom:10px;width:100%;">
                            Kaydet<i class="fa fa-save" style="margin-left:5px;"></i>
                        </button>
                    </div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:18%;margin-left:10px;color:#12ccee"><span>Yeni Bağlantı Tutarı</span></div>
                    <div class="numb_yeni_baglanti_tutari" style="float:left;width:20%;margin-left:10px;"></div>
                    <div class="txt_onc_bag_tutar_doviz" style="float:left;width:5%;margin-left:10px;"></div>
                    <div style="float:left;width:15%;margin-left:10px;">
                        <button type="button" class="btn btn-lg red soz_gunc_iptal" style="font-size:9px; margin-bottom:10px;width:100%;">
                            İptal<i class="fa fa-close" style="margin-left:5px;"></i>
                        </button>
                    </div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:18%;margin-left:10px;color:#12ccee"><span>Önceki Bitiş Tarihi</span></div>
                    <div class="date_onc_bitis_tarihi" style="float:left;width:20%;margin-left:10px;"></div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:18%;margin-left:10px;color:#12ccee"><span>Yeni Bitiş Tarihi</span></div>
                    <div class="date_yeni_bitis_tarihi" style="float:left;width:20%;margin-left:10px;"></div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
@section Scripts{
 <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/assets/global/scripts/datatable.js"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    <script type="text/javascript">
        PartialView("/Approvals/Techno/Ucret_List", 'techno_ucret_data');
        PartialView("/Approvals/Techno/Prim_List", 'techno_prim_data');
        function newrow(PERSONELID) { return "<table style='background:transparent;' id='new" + PERSONELID + "'></table>"; }
        function format(d) {
            var html = "<tr style='background: transparent;'><th>Geçerlilik Ayı</th><th>Geçerlilik Yılı</th><th>Degisim Tarihi</th><th>Ucret Tipi</th><th>Döviz Tipi</th><th>Birim Ücret</th>< th >Genel Aylık Ücret</th><th>Brüt/Net</th></tr >";
            $.ajax({
                type: 'POST',
                url: '/Approvals/Techno/EskiUcretData',
                data: { "PERSONELID": d },
                dataType: "html",
                success: function (data) {
                    $('#new' + d).html(data);
                }
            });
        }
        $('.onay-buton').click(function () {
            Onayla();
        });
        $('.sil-buton').click(function () {
            SozlesmeSil();
        });
        $('.yenile-buton').click(function () {
            window.location.reload();
        });

    </script>
}

