
<div class="col-md-12" style="width:100%;">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">

                </div>
            </div>
            <div class="col-md-6">
               
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered" id="sample_2">
        <thead>
            <tr>
                <th nowrap style="display:none;"></th>
                <th nowrap style="display:none;"></th>
                <th nowrap></th>
                <th nowrap>Ad</th>
                <th nowrap>Soyad</th>
                <th nowrap>İşyeri Adı</th>
                <th nowrap>Birim Adı</th>
                <th nowrap>Pozisyon Adı</th>
                <th nowrap>Tutar İşçi</th>
                <th nowrap>Tutar Memur</th>
                <th nowrap>Döviz Tipi İşçi</th>
                <th nowrap>Döviz Tipi Memur</th>
                <th nowrap>Ödenek Kodu</th>
                <th nowrap>Onay Sırası</th>
                <th nowrap>Red Nedeni</th>
                <th nowrap>Reddeden Kullanıcı</th>

                <th nowrap>Ocak</th>
                <th nowrap>Şubat</th>
                <th nowrap>Mart</th>
                <th nowrap>Nisan</th>
                <th nowrap>Mayıs</th>
                <th nowrap>Haziran</th>
                <th nowrap>Temmuz</th>
                <th nowrap>Ağustos</th>
                <th nowrap>Eylül</th>
                <th nowrap>Ekim</th>
                <th nowrap>Kasım</th>
                <th nowrap>Aralık</th>
                <th nowrap>Yıl</th>

                <th nowrap>Kayıt Tarihi</th>
                <th nowrap>Kaydeden Kullanıcı</th>
                <th nowrap>Güncelleme Tarihi</th>
                <th nowrap>Güncelleyen Kullanıcı</th>
                <th nowrap>Açıklama</th>
                <th nowrap style="display:none;"></th>
                <th nowrap style="display:none;"></th>
                <th nowrap style="display:none;"></th>
                <th nowrap style="display:none;"></th>
            </tr>
        </thead>
    </table>

    @*</div>
        </div>*@
</div>
<div class="modal fade" id="x-modal-primred" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#3434cb">Techno Prim Red</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="redNeden">
                    <div style="width:100%;">
                        <h5 style="color:#de3838;">
                            Red Nedeni
                        </h5>
                    </div>
                    <div class="txtPrimRedNeden">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="mdlSilKapat">Kapat</button>
                <button type="button" class="btn btn-primary" id="md2SilKayit" data-dismiss="modal">Kaydet</button>
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var tip2 = "@ViewBag.Tip";
    var secili_satir = new Array();
    var secili_table = new Array();
    $(".txtPrimRedNeden").dxTextArea({ placeholder: 'Açıklama girin', height: 150, maxLength: '128' });
    var simple_checkbox = function (data, type, full, meta) {
        var is_checked = data == 1 ? "checked" : "";
        return '<div style="width:100%;padding: 0 35%;"><input type="checkbox" class="checkbox" style="width: 20px;" disabled  ' +
            is_checked + ' /></div>';
    }
    var table2 = $('#sample_2').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Techno/PrimListData?tip=' + tip2,
            "dataSrc": function (json) {
                return json;
            },
        },
        //"responsive": true,
        //"fixedHeader": true,
        //"scrollX": true,
        //"scrollY": '30vh',
        //"scrollCollapse": true,
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [8, 9] }, { "visible": false, "targets": [0, 1,34,35,36,37] }, { "className": "dt-center", "targets": "_all" }],
        "columns": [
            { "data": "PERSONELID" },
            { "data": "ID" },
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "Ad" },
            { "data": "Soyad" },
            { "data": "IsyeriAdi" },
            { "data": "BirimAdi" },
            { "data": "PozisyonAdi" },
            { "data": "TutarIsci", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TutarMemur", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "DovizTipIsci" },
            { "data": "DovizTipMemur" },
            { "data": "OdenekKodu" },
            { "data": "OnayindaBekleyen" },
            { "data": "RedNedeni" },
            { "data": "Reddeden" },
            { "data": "Ocak", "render": simple_checkbox, "className": "dt-center"},
            { "data": "Subat", "render": simple_checkbox, "className": "dt-center"},
            { "data": "Mart", "render": simple_checkbox, "className": "dt-center"},
            { "data": "Nisan", "render": simple_checkbox, "className": "dt-center" },
            { "data": "Mayis", "render": simple_checkbox, "className": "dt-center"},
            { "data": "Haziran", "render": simple_checkbox, "className": "dt-center" },
            { "data": "Temmuz", "render": simple_checkbox, "className": "dt-center" },
            { "data": "Agustos", "render": simple_checkbox, "className": "dt-center" },
            { "data": "Eylul", "render": simple_checkbox, "className": "dt-center"},
            { "data": "Ekim", "render": simple_checkbox, "className": "dt-center" },
            { "data": "Kasim", "render": simple_checkbox, "className": "dt-center" },
            { "data": "Aralik", "render": simple_checkbox, "className": "dt-center"},
            { "data": "Yil" },

            { "data": "KayitTarih", "render": function (data) { if (data != null) return formatDateFromJson(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } },
            { "data": "KaydedenKullanici" },
            { "data": "GuncellemeTarihi", "render": function (data) { if (data != null) return formatDateFromJson(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } },
            { "data": "GuncelleyenKullanici" },
            { "data": "Aciklama" },
            { "data": "DSKALAID" },
            { "data": "IslemTipi" },
            { "data": "DSKALAANAID" },
            { "data": "DBIRIMID" },
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            //if (aData["Ocak"] == 1) {
            //    $('td', nRow).eq(11).css('background-color', '#32c5d2');
            //}
            //if (aData["Subat"] == 1) {
            //    $('td', nRow).eq(12).css('background-color', '#32c5d2');
            //}
            //if (aData["Mart"] == 1) {
            //    $('td', nRow).eq(13).css('background-color', '#32c5d2');
            //}
            //if (aData["Nisan"] == 1) {
            //    $('td', nRow).eq(14).css('background-color', '#32c5d2');
            //}
            //if (aData["Mayis"] == 1) {
            //    $('td', nRow).eq(15).css('background-color', '#32c5d2');
            //}
            //if (aData["Haziran"] == 1) {
            //    $('td', nRow).eq(16).css('background-color', '#32c5d2');
            //}
            //if (aData["Temmuz"] == 1) {
            //    $('td', nRow).eq(17).css('background-color', '#32c5d2');
            //}
            //if (aData["Agustos"] == 1) {
            //    $('td', nRow).eq(18).css('background-color', '#32c5d2');
            //}
            //if (aData["Eylul"] == 1) {
            //    $('td', nRow).eq(19).css('background-color', '#32c5d2');
            //}
            //if (aData["Ekim"] == 1) {
            //    $('td', nRow).eq(20).css('background-color', '#32c5d2');
            //}
            //if (aData["Kasim"] == 1) {
            //    $('td', nRow).eq(21).css('background-color', '#32c5d2');
            //}
            //if (aData["Aralik"] == 1) {
            //    $('td', nRow).eq(22).css('background-color', '#32c5d2');
            //}

            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });
    if ($(".butondiv").css("display")!="none"){
    if (tip2 == 'Reddedilenler') {
        table2.columns([13]).visible(true, true);
        table2.columns([14]).visible(true, true);
        $(".butondiv").css("display", "none");
    }
    else if (tip2 == 'Onayladiklarim') {
        table2.columns([13, 14]).visible(false, false);
        $(".butondiv").css("display", "none");
    }
    else {
        table2.columns([13]).visible(false, false);
        table2.columns([14]).visible(false, false);
        $(".butondiv").css("display", "block");
    }
    }
    $('#sample_2 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });
    function PrimOnayla() {
        var x = table2.rows('.selected').data();
        secili_table = [];
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        if (secili_table.length > 0) {
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/Techno/Prim_Onayla",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",

            success: function (data) {
                if (data.Status == true) {
                   setTimeout(function () { window.location.reload(); }, 500);
                    Modaldialog("İşlem Başarılı", "Onaylama İşlemi", "Tamam", "Onay");
                }
                else {
                    Modaldialog("Hata oluştu", "Hata", "Tamam", "btn-danger");
                }
            }
        });
        return _dfd.promise();
        } else {
            Modaldialog("Satır Seçiniz", "Hata", "Tamam", "btn-danger");
        }
    }
    function PrimReddet() {
        $('#x-modal-primred').modal("show");

    }
    function PrimRed() {
        secili_table = [];
        prim_redNeden = $(".txtPrimRedNeden").dxTextArea("instance").option("value");
        var x = table2.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/Techno/Prim_Reddet",
            data: { Data: JSON.stringify(secili_table), RedNeden: prim_redNeden },
            type: "post",
            success: function (data) {
                if (data.Status == true) {
                   setTimeout(function () { window.location.reload(); }, 500);
                    Modaldialog("İşlem Başarılı", "Red İşlemi", "Tamam", "Red");
                }
                else {
                    Modaldialog("Hata oluştu", "Hata", "Tamam", "btn-danger");
                }

            }
        });
        return _dfd.promise();

    }
    $(document).on("click", "#md2SilKayit", function () {
        ModalYesNoClick("Reddetmek istediğinize emin misiniz?", "Red Uyarı", "Kaydet", "redKayit", PrimRed, "Kapat", "redKapat", null);
    });
    //var table13 = $('#sample_2').DataTable();
    var buttons2 = new $.fn.dataTable.Buttons(table2, {
        buttons: [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o" style="font-size:15px;color:red;"></span>', "className": 'btn btn-default btn-xs;' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o" style="font-size:15px;color:green"></span>', "className": 'btn btn-default btn-xs;' }
        ]
    }).container().appendTo($('#buttons2'));
    $('.buttons-pdf').removeClass('btn btn-default');
    $('.buttons-excel').removeClass('btn btn-default');
</script>


