
@{
    ViewBag.Title = "Delete";
}

<div class="col-md-12">
    <h5 class="text-center">Silmek İsteğinize Emin Misiniz?</h5>
</div>
<div class="col-md-6">
    <button class="btn btn-info pull-right" data-dismiss="modal">İptal</button>
</div>
<div class="col-md-6">
    <form class="ajaxForm" method="post" action="/ToDo/User/DeleteUser">
        <input type="hidden" name="ID" value="@ViewBag.ID" />
        <button type="submit" class="btn btn-danger btnDelete">Sil</button>
    </form>
</div>