@model List<Gorev>
<table class="table table-striped table-bordered" id="sample_1">
    <thead><tr><th>Depo</th><th>Oluşturma Tarihi</th><th>Bitirme Tarihi</th><th></th></tr></thead>
    <tbody id="GorevFrom">
        @foreach (var item in Model)
        {
            <tr data-ID="@item.ID">
                <td>@item.Depo.DepoAd</td>
                <td>@item.OlusturmaTarihi.FromOADateInt()</td>
                <td>@{if (item.BitisTarihi != null) { @item.BitisTarihi.Value.FromOADateInt() } }</td>
                <td>@if (item.DurumID == ComboItems.Açık.ToInt32()){ <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Tasks/CountFark/@item.ID')"> Fark </a> }</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#sample_1').DataTable({
            "pagingType": "full_numbers", 
            "ordering": true,
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" }
        });
    });
</script>