@{
    ViewBag.Title = "Stok Yaşlandırma Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        .btn {
            width: 120px;
            text-align: center;
        }
    </style>
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Odun</span></li></ul></div>
<h1 class="page-title">Stok Yaşlandırma Raporu</h1>


<div class="row">
    <div class="col-md-2 text-right color-blue-light bold">Depo</div>
    <div class="col-md-2"> Başlangıç:</div>
    <div class="col-md-3"><div class="input select_depobas"></div></div>
    <div class="col-md-2"> Bitiş:</div>
    <div class="col-md-3"><div class="input select_depobit"></div></div>


</div>


<div class="row">
    <div class="col-md-2 text-right color-blue-light bold">Mal Kodu</div>
    <div class="col-md-2"> Başlangıç:</div>
    <div class="col-md-3"><div class="input select_malkodubas"></div></div>
    <div class="col-md-2"> Bitiş:</div>
    <div class="col-md-3"><div class="input select_malkodubit"></div></div>


</div>

<div class="row">
    <div class="form-horizontal">
        <div class="form-body">

            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Stok Yaşlandırma Raporu
                    </div>
                    <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
                    <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button></div>

                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-xs-12">

                            <div id="liste">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
    var MalKoduBas, MalKoduBit,DepoBas,DepoBit;
    $.ajax({
        url: window.location.origin + "/Approvals/Wood/MalKoduCek",
        data: {},
        type: "post",
        success: function (data) {
            var result = JSON.parse(data);
            $(".select_malkodubas").dxLookup({
                dataSource: result,
                searchEnabled: true,
                fullScreen: true,
                pageLoadMode: "nextButton",
                searchExpr: ["MalKodu", "MalAdi", "Birim1", "Birim2", "Birim3"],
                displayExpr: 'MalKodu',
                onValueChanged: function (e) {
                    if (e.value == null) return;
                    MalKoduBas = e.value.MalKodu;
                },

                itemTemplate: function (itemData, itemIndex, itemElement) {
                    itemElement.css({ "text-align": "left", "border-bottom": "1px solid #2fc1d8" });
                    if (itemIndex > 0) {
                        itemElement.css({ "margin-top": "-40px" });
                    }
                    var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                    rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;color:#12ccee;'><b>" + itemData.MalKodu + "</b></p>");
                    rightBlock.append("<span style='line-height: 0%;font-size:11px;font-weight:bold;'>MalAdi: <i style='font-weight:normal;'>" + itemData.MalAdi + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:25px;'>Birim1: <i style='font-weight:normal;'>" + itemData.Birim1 + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:25px;'>Birim2: <i style='font-weight:normal;'>" + itemData.Birim2 + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:25px;'>Birim3: <i style='font-weight:normal;'>" + itemData.Birim3 + "</i></span></div>");
                    itemElement.append(rightBlock);
                }
            });
            $(".select_malkodubit").dxLookup({
                dataSource: result,
                searchEnabled: true,
                fullScreen: true,
                pageLoadMode: "nextButton",
                searchExpr: ["MalKodu", "MalAdi", "Birim1", "Birim2", "Birim3"],
                displayExpr: 'MalKodu',
                onValueChanged: function (e) {
                    if (e.value == null) return;
                    MalKoduBit = e.value.MalKodu;
                },

                itemTemplate: function (itemData, itemIndex, itemElement) {
                    itemElement.css({ "text-align": "left", "border-bottom": "1px solid #2fc1d8" });
                    if (itemIndex > 0) {
                        itemElement.css({ "margin-top": "-40px" });
                    }
                    var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                    rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;color:#12ccee;'><b>" + itemData.MalKodu + "</b></p>");
                    rightBlock.append("<span style='line-height: 0%;font-size:11px;font-weight:bold;'>MalAdi: <i style='font-weight:normal;'>" + itemData.MalAdi + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:25px;'>Birim1: <i style='font-weight:normal;'>" + itemData.Birim1 + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:25px;'>Birim2: <i style='font-weight:normal;'>" + itemData.Birim2 + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:25px;'>Birim3: <i style='font-weight:normal;'>" + itemData.Birim3 + "</i></span></div>");
                    itemElement.append(rightBlock);
                }
            });
        }
        });
    $.ajax({
            url: window.location.origin + "/Approvals/Wood/NakliyeFiyatlarCek",
            data: {},
            type: "post",
            success: function (data) {
                var result = JSON.parse(data);
                $(".select_depobas").dxLookup({
                    dataSource:result,
                    searchEnabled: true,
                    fullScreen: true,
                    pageLoadMode: "nextButton",
                    searchExpr: ["DepoAdi", "Depo"],
                    displayExpr: 'Depo',
                    onValueChanged: function (e) {
                        if (e.value == null) return;
                        DepoBas = e.value;
                    },

                    itemTemplate: function (itemData, itemIndex, itemElement) {
                        itemElement.css({ "text-align": "left", "border-bottom": "1px solid #2fc1d8" });
                        if (itemIndex > 0) {
                            itemElement.css({ "margin-top": "-40px" });
                        }
                        var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                        rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;color:#12ccee;'><b>" + itemData.Depo + "</b></p>");
                        rightBlock.append("<span style='line-height: 0%;font-size:11px;font-weight:bold;'>DepoAdi: <i style='font-weight:normal;'>" + itemData.DepoAdi + "</i></span></div>");
                        itemElement.append(rightBlock);
                    }
                });
                $(".select_depobit").dxLookup({
                    dataSource: result,
                    searchEnabled: true,
                    fullScreen: true,
                    pageLoadMode: "nextButton",
                    searchExpr: ["DepoAdi", "Depo"],
                    displayExpr: 'Depo',
                    onValueChanged: function (e) {
                        if (e.value == null) return;
                        console.log(e.value);
                        DepoBit = e.value;
                    },

                    itemTemplate: function (itemData, itemIndex, itemElement) {
                        itemElement.css({ "text-align": "left", "border-bottom": "1px solid #2fc1d8" });
                        if (itemIndex > 0) {
                            itemElement.css({ "margin-top": "-40px" });
                        }
                        var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                        rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;color:#12ccee;'><b>" + itemData.Depo + "</b></p>");
                        rightBlock.append("<span style='line-height: 0%;font-size:11px;font-weight:bold;'>DepoAdi: <i style='font-weight:normal;'>" + itemData.DepoAdi + "</i></span></div>");
                        itemElement.append(rightBlock);
                    }
                });
            }
        });
 
   


    $('.yenile-buton').click(function () {
        $('#buttons').html("");
        PartialView("/Approvals/Wood/StokYaslandirmaRapor_List", 'liste');
    });
    </script>
}
