<div class="col-md-12" style="width:100%;">
    <div id="buttons"></div>
    <table class="table table-striped table-bordered table-hover" id="sample_1">
        <thead>
            <tr>

                <th>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                        <span></span>
                    </label>
                </th>
                <th>Yıl</th>
                <th>Hafta </th>
                <th>İşletme </th>
                <th>İşletme Ünvan </th>
                <th>İbreli Miktar Ster </th>
                <th>İbreli Miktar M3</th>
                <th>Yapraklı Miktar Ster</th>
                <th>Yapraklı Miktar M3</th>
                <th>Miktar</th>
                <th>Birim Fiyat</th>
                <th>Tahmini Mal Bedeli</th>
                <th>Ağ.Fn.%2</th>
                <th>Vade Farkı</th>
                <th>%18 KDV</th>
                <th>Toplam</th>
                <th>Teminat</th>
                <th>Mektup Faizi</th>
                <th>Toplam Mektup Tutarı</th>
                <th>Peşinat</th>
                <th>Genel Toplam</th>
                <th>Öncelik</th>
                <th>Açıklama</th>
                <th>Planlanan İbreli Ster</th>
                <th>Kullanılan İbreli Ster</th>
                <th>Kalan İbreli Ster</th>
                <th>Planlanan İbreli M3</th>
                <th>Kullanılan İbreli M3</th>
                <th>Kalan İbreli M3</th>
                <th>Planlanan Yapraklı Ster</th>
                <th>Kullanılan Yapraklı Ster</th>
                <th>Kalan Yapraklı Ster</th>
                <th>Planlanan Yapraklı M3</th>
                <th>Kullanılan Yapraklı M3</th>
                <th>Kalan Yapraklı M3</th>
               

            </tr>
        </thead>
    </table>
    <div class="row">
        <div class="col-md-1 col-md-offset-10">
            <button type="button" class="btn btn-default m-r-20" id="selector">Hepsini Seç</button>
        </div>
    </div>

</div>
<script>

    var secili_satir = new Array();
    var secili_table = new Array();
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Wood/TahsisliOnayCek',
            "dataSrc": function (json) {
                return json;
            },
        },
        "columnDefs": [{ "visible": false, "targets": [0] }, { "type": "num-fmt", "className": "dt-right", "targets": [5, 6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,23,24,25,26,27,28,29,30,31,32,33,34] }],
        "columns": [
            { "data": "ID" },
            { "data": "Yil" },
            { "data": "Hafta" },
            { "data": "OrmIslt" },
            { "data": "OrmIsltUnvan" },
            { "data": "IbreliMiktarSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "IbreliMiktarM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "YaprakliMiktarSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') }, 
            { "data": "YaprakliMiktarM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Miktar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahBirimFiyat", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahMalBedeli", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahAgFn", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahVadeFarki", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahKdv18", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahToplam", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahTeminat", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahMektupFaizi", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahTopMektupTutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahPesinat", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahGenelTop", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahOncelik" },
            { "data": "Aciklama" },
            { "data": "PlanIbreliSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KulIbreliSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KalanIbreliSter", "render": function (data, type, row) { return row.PlanIbreliSter - row.KulIbreliSter } },//Kalan ibreli Ster?
            { "data": "PlanIbreliM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KulIbreliM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KalanIbreliM3", "render": function (data, type, row) { return row.PlanIbreliM3 - row.KulIbreliM3 } },//Kalan ibreli Ster?
            { "data": "PlanYaprakliSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KulYaprakliSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KalanYaprakliSter", "render": function (data, type, row) { return row.PlanYaprakliSter - row.KulYaprakliSter } },//Kalan yaprakli ster
            { "data": "PlanYaprakliM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KulYaprakliM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KalanYaprakliM3", "render": function (data, type, row) { return row.PlanYaprakliM3 - row.KulYaprakliM3 } }//Kalan yaprakli M3

        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });
    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });
    var buttons = new $.fn.dataTable.Buttons(table, {
        buttons: [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
        ]
    }).container().appendTo($('#buttons'));
    var selectall = true;
    $("#selector").click(function () {
        if (selectall == true) {
            $("#selector").text("Seçimi İptal Et"); selectall = false;
            table.rows({ filter: 'applied' }).every(function (rowIdx, tableLoop, rowLoop) {
                this.select();
            });
        }
        else {
            $("#selector").text("Hepsini Seç"); selectall = true;
            table.rows().every(function (rowIdx, tableLoop, rowLoop) { this.deselect(); });
        }
    });
</script>