<div class="col-md-12" style="width:100%;">
    <div id="buttons"></div>
    <table class="table table-striped table-bordered" id="sample_1">
        <thead>
            <tr>
                <th>Yıl </th>
                <th>Hafta </th>
                <th>İşletme </th>
                <th>İşletme Ünvan </th>
                <th>İbreli Miktar Ster </th>
                <th>İbreli Miktar M3</th>
                <th>Yapraklı Miktar Ster</th>
                <th>Yapraklı Miktar M3</th>
                <th>Miktar</th>
                <th>Birim Fiyat</th>
                <th>Mal Bedeli</th>
                <th>Ağ.Fn.%2</th>
                <th>Vade Farkı</th>
                <th>%18 KDV</th>
                <th>Toplam</th>
                <th>Teminat</th>
                <th>Mektup Faizi</th>
                <th>Toplam Mektup Tutarı</th>
                <th>Peşinat</th>
                <th>Genel Toplam</th>
                <th>Öncelik</th>
                <th>Açıklama</th>
                <th>Planlanan İbreli Ster</th>
                <th>Kullanılan İbreli Ster</th>
                <th>Kalan İbreli Ster</th>
                <th>Planlanan İbreli M3</th>
                <th>Kullanılan İbreli M3</th>
                <th>Kalan İbreli M3</th>
                <th>Planlanan Yapraklı Ster</th>
                <th>Kullanılan Yapraklı Ster</th>
                <th>Kalan Yapraklı Ster</th>
                <th>Planlanan Yapraklı M3</th>
                <th>Kullanılan Yapraklı M3</th>
                <th>Kalan Yapraklı M3</th>
                <th>Tem. Mektubu Banka Adı</th>
                <th>Tem. Mektup Tarih</th>
                <th>Tem. Mektup No</th>
                <th>Tem. Mektubu Belge</th>
                <th>Tem. Mektup Kargo</th>
                <th>Tem. Mektup Kargo No</th>
                <th>Peş. Dekontu Banka Adı</th>
                <th>Peş. Dekont Tarih</th>
                <th>Peş. Dekontu Belge</th>
                <th>Tahsis Evrak No</th>
                <th>Fatura No</th>
                <th>Fatura Belge</th>
               


            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="4" class="text-right"></th>
                <th class="text-right" style="text-align:'right !important';width:100%;padding:8px 10px !important;"></th>
                <th class="text-right" style="text-align:'right !important';width:100%;padding:8px 10px !important;"></th>
                <th class="text-right" style="text-align:'right !important';width:100%;padding:8px 10px !important;"></th>
                <th class="text-right" style="text-align:'right !important';width:100%;padding:8px 10px !important;"></th>
                <th class="text-right" style="text-align:'right !important';width:100%;padding:8px 10px !important;"></th>
                <th colspan="37" class="text-right"></th>

            </tr>
        </tfoot>
    </table>
    <div class="row">

    </div>

</div>
<script>
    var secili_satir = new Array();
    var secili_table = new Array();
    var HFT = '@ViewBag.Hafta';
    var PTH = '@ViewBag.Path';
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Wood/TahsisliAlimCek',
            "data":{ Hafta: '@ViewBag.Hafta', Isletme: '@ViewBag.Isletme' },
            "dataSrc": function (json) {
                return json;
            },
        },
        "pagingType": "full_numbers",
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [4,5, 6,7,8,9,10,11,12,13,14,15,16,17,18,19,22,24,25,26,27,28,29,30,31,32,33] }],
        "columns": [
            { "data": "Yil" },
            { "data": "Hafta" },
            { "data": "OrmIslt" },
            { "data": "OrmIsltUnvan" },
            { "data": "IbreliMiktarSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "IbreliMiktarM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "YaprakliMiktarSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "YaprakliMiktarM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Miktar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahBirimFiyat", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahMalBedeli", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahAgFn", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahVadeFarki", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahKdv18", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahToplam", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahTeminat", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahMektupFaizi", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahTopMektupTutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahPesinat", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahGenelTop", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TahOncelik" },
            { "data": "Aciklama" },
            { "data": "PlanIbreliSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KulIbreliSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KalanIbreliSter", "render": function (data, type, row) { return numeral(row.PlanIbreliSter - row.KulIbreliSter).format() } },//Kalan ibreli Ster?
            { "data": "PlanIbreliM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KulIbreliM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KalanIbreliM3", "render": function (data, type, row) { return row.PlanIbreliM3 - row.KulIbreliM3 } },//Kalan ibreli Ster?
            { "data": "PlanYaprakliSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KulYaprakliSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KalanYaprakliSter", "render": function (data, type, row) { return numeral(row.PlanYaprakliSter - row.KulYaprakliSter).format() } },//Kalan yaprakli ster
            { "data": "PlanYaprakliM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KulYaprakliM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "KalanYaprakliM3", "render": function (data, type, row) { return row.PlanYaprakliM3 - row.KulYaprakliM3 } },//Kalan yaprakli M3
            { "data": "TahTemMektupBankaAd"},
            { "data": "TahTemMektupTarih" },
            { "data": "TahTemMektupNo" },
            { "data": "TahTemMektupDosya" },
            { "data": "TahTemMektupKargo" },
            { "data": "TahTemMektupKargoNo" },
            { "data": "TahPesDekontBankaAd" },
            { "data": "TahPesDekontTarih" },
            { "data": "TahPesDekontDosya" },
            { "data": "EvrakNo" },
            { "data": "AlimFatura" },
            { "data": "TahFaturaDosya" }


        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        },
        "footerCallback": function (row, data, start, end, display) {
            var IbreliMiktarSter = 0, IbreliMiktarM3 = 0, YaprakliMiktarSter = 0, YaprakliMiktarM3 = 0, Miktar = 0;
            table.rows({ search: 'applied' }).data().each(function (val, index) {
                IbreliMiktarSter += val.IbreliMiktarSter;
                IbreliMiktarM3 += val.IbreliMiktarM3;
                YaprakliMiktarSter += val.YaprakliMiktarSter;
                YaprakliMiktarM3 += val.YaprakliMiktarM3;
                Miktar += val.Miktar;
            });
            var api = this.api(), data;

            $(api.column(4).footer()).html(numeral(IbreliMiktarSter).format());
            $(api.column(5).footer()).html(numeral(IbreliMiktarM3).format());
            $(api.column(6).footer()).html(numeral(YaprakliMiktarSter).format());
            $(api.column(7).footer()).html(numeral(YaprakliMiktarM3).format());
            $(api.column(8).footer()).html(numeral(Miktar).format());
        },
    });
    $.contextMenu({
        selector: '#sample_1 tbody tr',
        trigger: 'left',
        callback: function (key, options) {
            var rowIndex = parseInt(options.$trigger[0].rowIndex)-1;
            var satir = table.row(rowIndex).data();
            switch (key) {
                case 'teminat':
                    if (satir.TahTemMektupDosya == null || satir.TahTemMektupDosya == "" )
                        return;
                    window.open("/Belgeler/Tahsisli_Alim/" + satir.Yil + "_" + satir.Hafta + "/" + satir.TahTemMektupDosya);
                    break;
                case 'pesinat':
                    if (satir.TahPesDekontDosya == null || satir.TahPesDekontDosya == "" )
                        return;
                    window.open("/Belgeler/Tahsisli_Alim/" + satir.Yil + "_" + satir.Hafta + "/" + satir.TahPesDekontDosya);
                    break;
                case 'fatura':
                    if (satir.TahFaturaDosya == null || satir.TahFaturaDosya == "" )
                        return;
                    window.open("/Belgeler/Tahsisli_Alim/" + satir.Yil + "_" + satir.Hafta + "/" + satir.TahFaturaDosya);
                    break;
                default:
                    break;
            }
        },
        items: {
            "teminat": { name: "Teminat Mektubu Belgesini Aç", icon: "file" },
            "pesinat": { name: "Peşinat Dekontu Belgesini Aç", icon: "file" },
            "fatura": { name: "Fatura Belgesini Aç", icon: "file" },
        }
    });
    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });
    var buttons = new $.fn.dataTable.Buttons(table, {
        buttons: [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
        ]
    }).container().appendTo($('#buttons'));
    var selectall = true;
    $("#selector").click(function () {
        if (selectall == true) {
            $("#selector").text("Seçimi İptal Et"); selectall = false;
            table.rows({ filter: 'applied' }).every(function (rowIdx, tableLoop, rowLoop) {
                this.select();
            });
        }
        else {
            $("#selector").text("Hepsini Seç"); selectall = true;
            table.rows().every(function (rowIdx, tableLoop, rowLoop) { this.deselect(); });
        }
    });
    if (HFT == '') {
        table.columns([0]).visible(true, true);
        table.columns([1]).visible(true, true);
    }
    else{
        table.columns([0]).visible(false, false);
        table.columns([1]).visible(false, false);
    }
</script>