@{
    ViewBag.Title = "Tahsisli Alım Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        .btn {
            width: 120px;
            text-align: center;
        }
    </style>
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Odun</span></li></ul></div>
<h1 class="page-title">Tahsisli Alım Listesi</h1>
<div class="form-horizontal">
    <div class="form-body">
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-6 col-xs-12" style="margin:10px 0;color:#f31a1a;font-weight:bold;">
                    <input type="checkbox" name="Locked" value="Hafta" id="chkHafta" /> Hafta Bazlı
                </label>
                <label class="col-sm-6 col-xs-12" style="margin:10px 0;color:#f31a1a;font-weight:bold;">
                    <input type="checkbox" name="Locked" value="Isletme" id="chkIsletme" /> İşletme Bazlı
                </label>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("Hafta", null, htmlAttributes: new { @class = "form-control", @onchange = "ReloadH(this.value)",@id="dropdownhafta" })
                @Html.DropDownList("Isletme", null, htmlAttributes: new { @class = "form-control", @onchange = "ReloadI(this.value)", @id = "dropdownisletme" })
            </div>
        </div>

        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Tahsisli Alım Listesi
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">

                        <div id="liste">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#dropdownhafta").css("display", "block");
            $("#dropdownisletme").css("display", "none");
            $("#chkHafta").prop("checked", true);
            $('#chkHafta').click(function () {

                if (this.checked) {

                    $("#dropdownhafta").css("display", "block");
                    $("#dropdownisletme").css("display", "none");
                    $("#chkIsletme").prop("checked", false);


                }
                else {


                    $("#dropdownhafta").css("display", "none");
                    $("#dropdownisletme").css("display", "block");
                    $("#chkIsletme").prop("checked", true);
                    

                }


            });


            $('#chkIsletme').click(function () {

                if (this.checked) {

                    $("#dropdownhafta").css("display", "none");
                    $("#dropdownisletme").css("display", "block");
                    $("#chkHafta").prop("checked", false);


                }
                else {


                    $("#dropdownhafta").css("display", "block");
                    $("#dropdownisletme").css("display", "none");
                    $("#chkHafta").prop("checked", true);
                 

                }


            });



        });

            function ReloadH(v)
        {
                PartialView("/Approvals/Wood/TahsisliAlim_List", 'liste', JSON.stringify({ Hafta: v}));
        }


            function ReloadI(v) {
                PartialView("/Approvals/Wood/TahsisliAlim_List", 'liste', JSON.stringify({ Isletme: v }));
            }

    </script>
}
