<div class="col-md-12" style="width:100%;">
    <div id="buttons"></div>
    <table class="table table-striped table-bordered table-hover" id="sample_2">
        <thead>
            <tr>

                <th>Evrak No</th>
                <th>Hesap Kodu</th>
                <th>Ünvan </th>
                <th>Tahsis Evrak No</th>
                @*<th>Mektup Tutar</th>
                <th>Peşinat Tutar</th>
                <th>Toplam İbreli Mik. Ster</th>
                <th>Toplam İbreli Mik. M3</th>
                <th>Toplam Yapraklı Mik. Ster</th>
                <th>Toplam Yapraklı Mik. M3</th>*@
            </tr>
        </thead>
    </table>
    <div class="row">

    </div>

</div>
<script>

    var secili_satir = new Array();
    var secili_table = new Array();
    var table = $('#sample_2').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
           
            "url": "/Approvals/Wood/KasaEvrakCekEvrakNoIle?EvrakNo=" + e.value.EvrakNo + "&HesapKodu=" + e.value.OrmIslt,
           // "data":{ Hafta: '@ViewBag.Hafta', Isletme: '@ViewBag.Isletme' },
            "dataSrc": function (json) {
                return json;
            },
        },
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [4,5, 6,7,8,9] }],
        "columns": [
            { "data": "EvrakNo" },
            { "data": "HesapKodu" },
            { "data": "Unvan"},
            { "data": "EvrakNo2" }
            //{ "data": "TahTopMektupTutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            //{ "data": "TahPesinat", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            //{ "data": "IbreliMiktarSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            //{ "data": "IbreliMiktarM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            //{ "data": "YaprakliMiktarSter", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            //{ "data": "YaprakliMiktarM3", "render": $.fn.dataTable.render.number('.', ',', 2, '') },


        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });
    $('#sample_2 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });
    var buttons = new $.fn.dataTable.Buttons(table, {
        buttons: [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
        ]
    }).container().appendTo($('#buttons'));
    var selectall = true;
    $("#selector").click(function () {
        if (selectall == true) {
            $("#selector").text("Seçimi İptal Et"); selectall = false;
            table.rows({ filter: 'applied' }).every(function (rowIdx, tableLoop, rowLoop) {
                this.select();
            });
        }
        else {
            $("#selector").text("Hepsini Seç"); selectall = true;
            table.rows().every(function (rowIdx, tableLoop, rowLoop) { this.deselect(); });
        }
    });
</script>