@model IEnumerable<GorevCalisma>
<div class="portlet-body form p-40">
    <table class="table table-striped table-bordered table-hover" id="sample_2">
        <thead><tr><th>Tarih</th><th>Çalışma Süre</th><th>Çalışma</th><th>Sorumlu</th><th></th></tr></thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarih)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CalismaSure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Calisma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gorevler.Sorumlu)
                    </td>
                    <td>   <a class="btn btn-info" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/ToDo/DutyWork/Edit/@item.ID')">Düzenle</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>