@model Gorevler
@{
    ViewBag.Title = "Görevler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/devextreme/css/dx.common.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/devextreme/css/dx.light.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
<style>
.control-label {text-align: right;color: black;}
textarea {border-radius: 1rem !important;}
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Görevler</span></li></ul></div>
<h1 class="page-title">Görev İşlemleri</h1>
<div class="row">
    <div class="col-md-12">
        <div class="row" id="CreateEdit">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Görevler

                        </div>
                        <div class="col-md-2 pull-right m-t-5">
                         <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/ToDo/Duties/New')"> Yeni </a>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
        <div id="liste">
        </div>
    </div>
</div>
@section Scripts{
<script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/assets/global/plugins/devextreme/js/dx.web.js"></script>
<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
<script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
<script src="~/Content/assets/global/plugins/jquery-ui/datepicker-tr.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date-picker').datepicker();
        $(".form-rounded").css("border-radius", "1rem");
    });
    $('.form-rounded').click(function () {
        console.log("qwer");
    });
    var DeleteFunctionUrl = '/ToDo/Duties/Delete';
    PartialView("/ToDo/Duties/List", 'liste');
    function CreateEdit(Id) {
        if (Id == 0) {
            $("#ID").val("0");
            $("#Gorev").val("");
            $("#Aciklama").val("");
            $("#TahminiBitis").val("");
            PartialView("/ToDo/Duties/List", 'liste');
        }
        else
        { PartialView('/ToDo/Duties/Edit', 'CreateEdit', JSON.stringify({ Id: Id })); }

        }
        function newrow(id) { return "<table style='background:transparent;' id='new" + id + "'></table>"; }
        function format(d) {

            var html = "<tr style='background: transparent;'><th>Tarih</th > <th>Çalışma Süre</th><th>Çalışma</th><th>Sorumlu</th></tr >";
            $.ajax({
                type: 'POST',
                url: '/ToDo/Duties/Duty_Details',
                data: { "ID": d },
                dataType: "html",
                success: function (data) {
                    console.log(data);
                    $('#new' + d).html(data);
                }
            });
        }
    </script>
}