@{
    ViewBag.Title = "Görevler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<style>
    .control-label {text-align: right;color: black;}
    textarea {border-radius: 1rem !important;}
    td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
    tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Görevler</span></li></ul></div>
<h1 class="page-title">Görev İşlemleri</h1>
<div class="row">
    <div class="col-md-12">
        <div class="row" id="CreateEdit"></div>
        <div id="liste">
        </div>
    </div>
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date-picker').datepicker();
        $(".form-rounded").css("border-radius", "1rem");
    });
    var DeleteFunctionUrl = '/ToDo/Duties/Delete';
    PartialView("/ToDo/Duties/List", 'liste');
    function CreateEdit(Id) {
        if (Id == 0) {
            $("#ID").val("0");
            $("#Gorev").val("");
            $("#Aciklama").val("");
            $("#TahminiBitis").val("");
            setTimeout(function () { window.location.reload(); }, 500);
            //PartialView("/ToDo/Duties/List", 'liste');
        }
        else
        { PartialView('/ToDo/Duties/Edit', 'CreateEdit', JSON.stringify({ Id: Id })); }

        }
        function newrow(id) { return "<table style='background:transparent;' id='new" + id + "'></table>"; }
        function format(d) {
            var html = "<tr style='background: transparent;'><th>Tarih</th > <th>Çalışma Süre</th><th>Çalışma</th><th>Sorumlu</th></tr >";
            $.ajax({
                type: 'POST',
                url: '/ToDo/Duties/Duty_Details',
                data: { "ID": d },
                dataType: "html",
                success: function (data) {
                    $('#new' + d).html(data);
                }
            });
        }
        function getProje(id, what, what2) {
            $("#" + what + " option").remove();
            $("#" + what2 + " option").remove();
            $.ajax({
                url: "/ToDo/Duties/ProjeListesi/" + id,
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data != "") {
                        $.each(data, function (i, item) {
                            $('#' + what).append($('<option>', { value: item.Value, text: item.Text }));
                        });
                        $("#" + what).prepend("<option value=''>Seçiniz !!!</option>"); $("#" + what)[0].selectedIndex = 0;
                    }
                }
            });
        }
        function getForm(id, what) {
            $("#" + what + " option").remove();
            $.ajax({
                url: "/ToDo/Duties/FormListesi/" + id,
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data != "") {
                        $.each(data, function (i, item) {
                            $('#' + what).append($('<option>', { value: item.Value, text: item.Text }));
                        });
                        $("#" + what).prepend("<option value=''>Seçiniz !!!</option>"); $("#" + what)[0].selectedIndex = 0;
                    }
                    //if (pfid != null) {
                    //    console.log("fghytr");
                    //    $('#ProjeList').val(id);
                    //    $('#ProjeFormID').val(pfid);
                    //}
                }
            });
        }
    </script>
}