@{
    ViewBag.Title = "Görevler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
    tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
    .item-up:hover {color: #1fe21f !important;}
    .item-down:hover {color: #f31414 !important;}
    .list-up-down {margin-left: 5px;background-color: white;line-height: 40px !important;font-size: 18px; }
    .list-up-down:hover {cursor:pointer;}
    .last-work {line-height: 32px !important;color: #86d8ea;font-size: 24px;margin-left:5px;}
    .delete-icn {line-height: 32px !important;color: #ec4646;font-size: 24px;}
</style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><a href="javascript:;">Görevler</a><i class="fa fa-circle"></i></li><li><span>Liste</span></li></ul></div>
<h1 class="page-title">Görevler</h1>@if(ViewBag.Yetki == true) { 
<div class="row m-10">
    <div class="col-md-2 m-t-5 p-t-15">&nbsp;</div>
    <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle oncelik-kayit-buton glyphicon glyphicon-ok hidden" onclick="OncelikKaydet();"> Öncelik Kaydet </button></div>
    <div class="col-md-2 pull-right m-t-5"><button class="btn btn-success pull-right input-circle onayla-buton glyphicon glyphicon-ok hidden" onclick="GorevOnay(0, 0);"> Onayla </button></div>
    <div class="col-md-2 pull-right m-t-5"><button class="btn btn-danger pull-right input-circle reddet-buton glyphicon glyphicon-remove hidden" onclick="GorevOnay(1, 0);"> Reddet </button></div>
</div>}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Görev Listesi
                </div>@if(ViewBag.Yetki == true) { 
                <div class="col-md-2 pull-right m-t-5">
                    <a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/ToDo/Duties/New')"> Yeni </a>
                </div>}
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">Görev Durumu</div>
                            <div class="col-sm-4">
                                @Html.DropDownList("DurumID", null, htmlAttributes: new { @class = "form-control input-circle satireklex", @onchange = "FuncSearchBtn()" })
                            </div>
                            <div class="col-sm-1"><button type="button" class="btn btn-circle green" onclick="FuncSearchBtn();"><i class="icon-refresh"></i></button></div>
                        </div>
                    </div>
                </div>
                <div id="liste" class="p-30"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script src="~/Content/assets/global/plugins/datatables/extensions/RowReorder/js/dataTables.rowReorder.js"></script>
<script type="text/javascript">
    var DeleteFunctionUrl = '/ToDo/Duties/Delete';
    $(".satireklex").prepend("<option value='0'>AKTİF GÖREVLER</option>"); $(".satireklex")[0].selectedIndex = 0;
    FuncSearchBtn();
    function FuncSearchBtn() {
        $('#CreateEdit').html("");
        $('#liste').html("");
        $(".onayla-buton").addClass('hidden');
        $(".reddet-buton").addClass('hidden');
        $(".oncelik-kayit-buton").addClass('hidden');
        PartialView("/ToDo/Duties/List", 'liste', JSON.stringify({ Tip: $('#DurumID').val() }));
    }
    function getresult(data) {
        if (data.Status == false)
        {
            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
            $("#btnSubmit").prop('disabled', false);
        }
        else
        {
            Modaldialog("Kaydedildi", "Başarı", "Tamam", "btn-success");
            $('#modalEditPage').modal('toggle');
            FuncSearchBtn();
        }
    };
    function CreateEdit(Id) {
        if (Id == 0) {
            $("#ID").val("0");
            $("#Gorev").val("");
            $("#Aciklama").val("");
            $("#TahminiBitis").val("");
        }
        else
            PartialView('/ToDo/Duties/Edit', 'CreateEdit', JSON.stringify({ Id: Id }));
    }
    function newrow(id) { return "<table style='background:transparent;' id='new" + id + "'></table>"; }
    function format(d) {
        $.ajax({
            type: 'POST',
            url: '/ToDo/Duties/Details',
            data: { "ID": d },
            dataType: "html",
            success: function (data) {
                $('#new' + d).html(data);
            }
        });
    }
    function getProje(id, what, what2) {
        $("#" + what + " option").remove();
        $("#" + what2 + " option").remove();
        if (id == "") return;
        $.ajax({
            url: "/ToDo/ProjectForm/ProjeListesi/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#' + what).append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#" + what).prepend("<option value=''>Seçiniz !!!</option>"); $("#" + what)[0].selectedIndex = 0;
                }
            }
        });
    }
    function getForm(id, what) {
        $("#" + what + " option").remove();
        if (id == "") return;
        $.ajax({
            url: "/ToDo/ProjectForm/FormListesi/" + id,
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('#' + what).append($('<option>', { value: item.Value, text: item.Text }));
                    });
                    $("#" + what).prepend("<option value=''>Seçiniz !!!</option>"); $("#" + what)[0].selectedIndex = 0;
                }
            }
        });
    }
</script>
}