<div class="col-md-12" style="width:100%;">
    @*<div class="portlet box green">


        <div class="portlet-body">*@
    <div id="buttons"></div>
            <div class="table-toolbar">

            </div>

            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th>Liste No </th>
                        <th>Durum </th>
                        <th>Ürün Kodu </th>
                        <th>Ürün Adı </th>
                        <th>Müşteri Kodu </th>
                        <th>Ünvan</th>
                        <th>Satış Fiyat1</th>
                        <th>Satış Fiyat1 Birim</th>
                        <th>Döviz Satış Fiyat</th>
                        <th>Döviz Satış Fiyat1 Birim</th>
                        <th>Döviz Cinsi</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>

        </div>
    @*</div>
</div>*@
<script>

    var secili_satir = new Array();
    var secili_table = new Array();
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Price/GMOnayCek',
            "dataSrc": function (json) {
                return json;
            },
        },
    
        //"responsive": true,
        //"fixedHeader": true,
        //"scrollX": true,
        "columnDefs": [{ "visible": false, "targets": [0, 1, 2, 15, 16] }, { "type": "num-fmt", "className": "dt-right", "targets": [10, 12] }],
        "columns": [
            { "data": "ID" },
            { "data": "BasTarih" },
            { "data": "BitTarih" },
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "FiyatListNum" },
            { "data": "Durum" },
            { "data": "MalKodu" },
            { "data": "MalAdi" },
            { "data": "HesapKodu" },
            { "data": "Unvan" },
            { "data": "SatisFiyat1", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SatisFiyat1Birim" },
            { "data": "DovizSatisFiyat1", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "DovizSF1Birim" },
            { "data": "DovizCinsi" },
            { "data": "SatisFiyat1BirimInt" },
            { "data": "DovizSF1BirimInt" },
            //{
            //    "render": function ( data, type, full, meta ) {
            //        return table.saveContact(full);
            //    }
            //},
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });


    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });

    var table12 = $('#sample_1').DataTable();
    var buttons = new $.fn.dataTable.Buttons(table12, {
        buttons: [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
        ]
    }).container().appendTo($('#buttons'));

    //$(document).ready(function () {
    //    $('#sample1').DataTable({
    //        dom: 'Bfrtip',
    //        buttons: [
    //            'copy', 'csv', 'excel', 'pdf', 'print'
    //        ]
    //    });
    //})


            
</script>
