<div class="col-md-12" style="width:100%;">
    @*<div class="portlet box green">


        <div class="portlet-body">*@
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group pull-right">
                            <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                                Tools
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-print"></i> Print
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-pdf-o"></i> Save as PDF
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-excel-o"></i> Export to Excel
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th nowrap></th>
                        <th nowrap></th>
                        <th nowrap></th>
                        <th nowrap>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th nowrap>Liste No </th>
                        <th nowrap>Durum </th>
                        <th nowrap>Ürün Kodu </th>
                        <th nowrap>Ürün Adı </th>
                        <th nowrap>Müşteri Kodu </th>
                        <th nowrap>Ünvan</th>
                        <th nowrap>Satış Fiyat1</th>
                        <th nowrap>Satış Fiyat1 Birim</th>
                        <th nowrap>Döviz Satış Fiyat</th>
                        <th nowrap>Döviz Satış Fiyat1 Birim</th>
                        <th nowrap>Döviz Cinsi</th>
                        <th nowrap></th>
                        <th nowrap></th>
                    </tr>
                </thead>
            </table>

        </div>
    @*</div>
</div>*@
<script>

    var secili_satir = new Array();
    var secili_table = new Array();
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Price/GMOnayCek',
            "dataSrc": function (json) {
                return json;
            },
        },
    
        //"responsive": true,
        //"fixedHeader": true,
        //"scrollX": true,
        "columnDefs": [{ "visible": false, "targets": [0, 1, 2, 15, 16] }, { "type": "num-fmt", "className": "dt-right", "targets": [10, 12] }],
        "columns": [
            { "data": "ID" },
            { "data": "BasTarih" },
            { "data": "BitTarih" },
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "FiyatListNum" },
            { "data": "Durum" },
            { "data": "MalKodu" },
            { "data": "MalAdi" },
            { "data": "HesapKodu" },
            { "data": "Unvan" },
            { "data": "SatisFiyat1", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SatisFiyat1Birim" },
            { "data": "DovizSatisFiyat1", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "DovizSF1Birim" },
            { "data": "DovizCinsi" },
            { "data": "SatisFiyat1BirimInt" },
            { "data": "DovizSF1BirimInt" },
            //{
            //    "render": function ( data, type, full, meta ) {
            //        return table.saveContact(full);
            //    }
            //},
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
        ,
        "dom": 'Bfrtip',
        "buttons": [
            'excel', 'pdf'
        ],
    });


    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });

    //$(document).ready(function () {
    //    $('#sample1').DataTable({
    //        dom: 'Bfrtip',
    //        buttons: [
    //            'copy', 'csv', 'excel', 'pdf', 'print'
    //        ]
    //    });
    //})
            
</script>
<script src= "https://code.jquery.com/jquery-1.12.4.js" ></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" />

