@model List<ListeNoSelect>
@{
    ViewBag.Title = "Fiyat Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/jQuery-contextMenu/dist/jquery.contextMenu.min.css" rel="stylesheet" />
    @*<link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />*@
    <style>
        .input_content {
            margin-bottom: 3px;
            height: 40px;
            line-height: 20px;
        }

        .input_label {
            float: left;
            width: 35%;
            font-weight: bold;
            color: #5bc8d2;
            font-size: 9px;
            padding-top: 4px;
        }

        .input {
            float: left;
            width: 60%;
            font-size: 10px;
            height: 30px;
        }

        .input_style {
            background-color: rgba(245, 239, 239, 0.85);
            padding: 10px;
            margin: 0;
        }

        .dx-header-row {
            background-color: #86d8ea;
            color: window;
        }

        .dx-overlay-content.dx-popup-normal.dx-resizable {
            width: 400px;
        }

        table {
            margin: 0 !important;
        }
    </style>
}
<div class="row">
    <div>
        <div class="col-xs-6 col-sm-6" style="padding:0 2px 0 5px">
            <div class="col-xs-12 col-sm-3" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg yellow yenile-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Yenile<i class="fa fa-save" style="margin-left:5px;"></i></button></div>
            <div class="col-xs-12 col-sm-3" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg blue satir-ekle-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Satır Ekle<i class="fa fa-eraser" style="margin-left:5px;"></i></button></div>
            <div class="col-xs-12 col-sm-3" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg purple satir-sil-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Satır Sil<i class="fa fa-binoculars" style="margin-left:5px;"></i></button></div>
            <div class="col-xs-12 col-sm-3" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg green satir-guncelle-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Satır Güncelle<i class="fa fa-hourglass-start" style="margin-left:5px;"></i></button></div>
        </div>
        <div class="col-xs-6 col-sm-6" style="padding:0 5px 0 2px">
            <div class="col-xs-12 col-sm-4" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg green-turquoise bekleyenler-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Bekleyenler<i class="fa fa-paint-brush" style="margin-left:5px;"></i></button></div>
            <div class="col-xs-12 col-sm-4" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg blue-dark tum-sec-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Tümünü Seç<i class="fa fa-hourglass-start" style="margin-left:5px;"></i></button></div>
            <div class="col-xs-12 col-sm-4" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg red tum-kaldir-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Tümünü Kaldır<i class="fa fa-paint-brush" style="margin-left:5px;"></i></button></div>
        </div>
    </div>
</div>
<hr />
<div class="row input_style">
    <div class="col-xs-12 col-sm-4">
        <div class="input_content">
            <div class="input_label">Liste No</div>
            <div class="input select_list_no"></div>
        </div>
        <div class="input_content">
            <div class="input_label">Ürün Kodu</div>
            <div class="input select_urun_kodu"></div>
        </div>
        <div class="input_content">
            <div class="input_label">Müşteri Kodu</div>
            <div class="input select_hesap_kod"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div class="input_content">
            <div class="col-xs-12 col-sm-4 input_content" style="float:left;padding: 0;">
                <div class="input_label">Satış Fiyat</div>
                <div class="input numb-satis-fiyat"></div>
            </div>
            <div class="col-xs-12 col-sm-4 input_content" style="float:left;padding: 0;">
                <div class="input_label">Birim</div>
                <div class="input txt-birim"></div>
            </div>
        </div>
        <div class="input_content">
            <div class="col-xs-12 col-sm-4 input_content" style="float:left;padding: 0;">
                <div class="input_label">Döviz Satış Fiyat</div>
                <div class="input numb-doviz-satis-fiyat"></div>
            </div>
            <div class="col-xs-12 col-sm-4 input_content" style="float:left;padding: 0;">
                <div class="input_label">Döviz Birim</div>
                <div class="input txt-doviz-birim"></div>
            </div>
            <div class="col-xs-12 col-sm-4 input_content" style="float:left;padding: 0;">
                <div class="input_label">Döviz Cinsi</div>
                <div class="input txt-doviz-cinsi"></div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div id="fiyat_listesi_data">
    </div>
</div>
<div class="modal fade" id="x-modal-teminatdurbun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#12ccee">TEMİNAT TANIM</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="grid_dürbün">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlSilKapat">Kapat</button>
                @*<button type="button" class="btn red" id="mdlSilKayit" data-dismiss="modal">Kaydet</button>*@
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="x-modal-bekleyen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#12ccee">ONAY BEKLEYEN FİYAT LİSTELERİ</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="grid_bekleyen_fiyat_listeleri">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlSilKapat">Kapat</button>
                @*<button type="button" class="btn red" id="mdlSilKayit" data-dismiss="modal">Kaydet</button>*@
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="x-modal-satisfiyatduzenle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content" style="height:360px;width:480px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#12ccee">SATIŞ FİYAT DÜZENLE</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Önceki Satış Fiyatı</span></div>
                    <div class="numb_onc_satisfiyati" style="float:left;width:30%;margin-left:10px;"></div>
                    <div style="float:left;width:25%;margin-left:10px;">
                        <button type="button" class="btn btn-lg blue satisfiyat_duzenle" style="font-size:9px; margin-bottom:10px;width:100%;">
                            Kaydet<i class="fa fa-save" style="margin-left:5px;"></i>
                        </button>
                    </div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Yeni Satış Fiyatı</span></div>
                    <div class="numb_yeni_satisfiyati" style="float:left;width:30%;margin-left:10px;"></div>
                    <div style="float:left;width:25%;margin-left:10px;">
                        <button type="button" class="btn btn-lg red satisfiyat_iptal" style="font-size:9px; margin-bottom:10px;width:100%;">
                            İptal<i class="fa fa-close" style="margin-left:5px;"></i>
                        </button>
                    </div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Önceki Birim</span></div>
                    <div class="txt_onc_satisfiyat_birim" style="float:left;width:30%;margin-left:10px;"></div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Yeni Birim</span></div>
                    <div class="slct_yeni_satisfiyati_birim" style="float:left;width:30%;margin-left:10px;"></div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="x-modal-dovizsatisfiyatduzenle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content" style="height:420px;width:480px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#12ccee">DÖVİZ SATIŞ FİYAT DÜZENLE</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Önceki Döviz Satış Fiyatı</span></div>
                    <div class="numb_onc_dvzsatisfiyati" style="float:left;width:30%;margin-left:10px;"></div>
                    <div style="float:left;width:25%;margin-left:10px;">
                        <button type="button" class="btn btn-lg blue dvzsatisfiyat_duzenle" style="font-size:9px; margin-bottom:10px;width:100%;">
                            Kaydet<i class="fa fa-save" style="margin-left:5px;"></i>
                        </button>
                    </div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Yeni Döviz Satış Fiyatı</span></div>
                    <div class="numb_yeni_dvzsatisfiyati" style="float:left;width:30%;margin-left:10px;"></div>
                    <div style="float:left;width:25%;margin-left:10px;">
                        <button type="button" class="btn btn-lg red dvzsatisfiyat_iptal" style="font-size:9px; margin-bottom:10px;width:100%;">
                            İptal<i class="fa fa-close" style="margin-left:5px;"></i>
                        </button>
                    </div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Önceki Birim</span></div>
                    <div class="txt_onc_dvzsatisfiyat_birim" style="float:left;width:30%;margin-left:10px;"></div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Yeni Birim</span></div>
                    <div class="slct_yeni_dvzsatisfiyati_birim" style="float:left;width:30%;margin-left:10px;"></div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Önceki Döviz Cinsi</span></div>
                    <div class="txt_onc_dvzsatisfiyat_dvzcins" style="float:left;width:30%;margin-left:10px;"></div>
                </div>
                <div style="position:relative;margin-top:10px;width:100%;height:40px;">
                    <div style="float:left;width:35%;margin-left:10px;color:#12ccee"><span>Yeni Döviz Cinsi</span></div>
                    <div class="slct_yeni_dvzsatisfiyati_dvzcins" style="float:left;width:30%;margin-left:10px;"></div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    @*<script src="~/Content/assets/global/plugins/devextreme/js/dx.web.js"></script>*@
    <script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/jQuery-contextMenu/dist/jquery.contextMenu.min.js"></script>
    @*<script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>*@
    <script type="text/javascript">

        var listeNo = "";
        var GrupKod = "";
        //var sayac = 0;
        $(document).ready(function () {
            DevExpress.ui.dxOverlay.baseZIndex(20000);
               var model = @Html.Raw(Json.Encode(Model));
            var brmData=new Array();
            var dvzCinsi=[{Cins:"USD"},{Cins:"EUR"}]
            NumbBox(".numb_onc_satisfiyati", true,2);
            NumbBox(".numb_yeni_satisfiyati", false,2);
            $(".txt_onc_satisfiyat_birim").dxTextBox({readOnly: true });
            $(".slct_yeni_satisfiyati_birim").dxSelectBox({
                valueExpr: 'Deger',
                displayExpr: 'Birim',
                onValueChanged: function (e) {
                }
            });
            NumbBox(".numb_onc_dvzsatisfiyati", true,2);
            NumbBox(".numb_yeni_dvzsatisfiyati", false,2);
            $(".txt_onc_dvzsatisfiyat_birim").dxTextBox({ readOnly: true });
            $(".slct_yeni_dvzsatisfiyati_birim").dxSelectBox({
                valueExpr: 'Deger',
                displayExpr: 'Birim',
                onValueChanged: function (e) {
                }
            });
            $(".txt_onc_dvzsatisfiyat_dvzcins").dxTextBox({ readOnly: true });
            $(".slct_yeni_dvzsatisfiyati_dvzcins").dxSelectBox({
                    dataSource: dvzCinsi,
                    valueExpr: 'Cins',
                    displayExpr: 'Cins',
                    onValueChanged: function (e) {
                    }
            });


            $.ajax({
                url: window.location.origin + "/Approvals/Price/UrunGrupSelect",
                data: {},
                type: "post",
                success: function (data)
                {
                    var result = JSON.parse(data);
                    $(".select_urun_kodu").dxLookup("instance").option("dataSource",result);
                }
            });

            $.ajax({
                url: window.location.origin + "/Approvals/Price/HesapKoduSelect",
                data: {},
                type: "post",
                success: function (data)
                {
                    var result = JSON.parse(data);
                    $(".select_hesap_kod").dxLookup("instance").option("dataSource",result);
                }
            });

            $(".select_list_no").dxLookup({
                dataSource: model,
                searchEnabled: true,
                pageLoadMode:"nextButton",
                searchExpr: ["FiyatListNum", "FiyatListName"],
                valueExpr: 'FiyatListNum',
                displayExpr: 'FiyatListName',

                onValueChanged: function (e) {
                    listeNo=e.value;
                },

                itemTemplate: function (itemData, itemIndex, itemElement) {
                    itemElement.css({"text-align":"left", "border-bottom":"1px solid #2fc1d8"});
                    if(itemIndex>0)
                    {
                        itemElement.css({ "margin-top":"-40px" });
                    }
                    var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                    rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;'><b>" + itemData.FiyatListName + "</b></p>");
                    rightBlock.append("<p style='line-height: 0%;font-size:11px;'>Liste No: <i>" + itemData.FiyatListNum + "</i></p></div>");
                    itemElement.append(rightBlock);
                }
            });

            $(".select_urun_kodu").dxLookup({
                searchEnabled: true,
                fullScreen :true,
                pageLoadMode:"nextButton",
                searchExpr: ["MalKodu", "MalAdi"],
                valueExpr: 'MalKodu',
                displayExpr: 'MalAdi',
                onValueChanged: function (e) {
                    brmData=[];
                    var data = $(".select_urun_kodu").dxLookup("instance").option("selectedItem");
                    if(data!=null){
                        if(data.Birim1!=""){
                            brmData.push({"Birim" : data.Birim1, "Deger":1});
                        }
                        if(data.Birim2!=""){
                            brmData.push({"Birim" : data.Birim2, "Deger":2});
                        }
                        if(data.Birim3!=""){
                            brmData.push({"Birim" : data.Birim3, "Deger":3});
                        }
                        $(".txt-doviz-birim").dxSelectBox("instance").option("dataSource",brmData);
                        $(".txt-birim").dxSelectBox("instance").option("dataSource",brmData);
                        GrupKod= data.GrupKod;
                    }
                },
                itemTemplate: function (itemData, itemIndex, itemElement) {
                    itemElement.css({"text-align":"left", "border-bottom":"1px solid #2fc1d8"});
                    if(itemIndex>0)
                    {
                        itemElement.css({ "margin-top":"-40px" });
                    }
                    var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                    rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;color:#12ccee;'><b>" + itemData.MalAdi + "</b></p>");
                    rightBlock.append("<span style='line-height: 0%;font-size:11px;font-weight:bold;'>MalKodu: <i style='font-weight:normal;'>" + itemData.MalKodu + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:15px;'>Birim1: <i style='font-weight:normal;'>" + itemData.Birim1 + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:15px;'>Birim2: <i style='font-weight:normal;'>" + itemData.Birim2 + "</i></span><span style='line-height: 0%;font-size:11px;font-weight:bold;margin-left:15px;'>Birim3: <i style='font-weight:normal;'>" + itemData.Birim3 + "</i></span></div>");
                    itemElement.append(rightBlock);
                }
            });

            $(".select_hesap_kod").dxLookup({
                searchEnabled: true,
                pageLoadMode:"nextButton",
                searchExpr: ["HesapKodu", "Unvan"],
                valueExpr: 'HesapKodu',
                displayExpr: 'Unvan',

                onValueChanged: function (e) {

                },

                itemTemplate: function (itemData, itemIndex, itemElement) {
                    itemElement.css({"text-align":"left", "border-bottom":"1px solid #2fc1d8"});
                    if(itemIndex>0)
                    {
                        itemElement.css({ "margin-top":"-40px" });
                    }
                    var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                    rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;'><b>" + itemData.Unvan + "</b></p>");
                    rightBlock.append("<p style='line-height: 0%;font-size:11px;'>Hesap Kodu: <i>" + itemData.HesapKodu + "</i></p></div>");
                    itemElement.append(rightBlock);
                }
            });
            NumbBox(".numb-satis-fiyat", false,2);
            NumbBox(".numb-doviz-satis-fiyat", false,2);

            $(".txt-doviz-birim").dxSelectBox({
                valueExpr: 'Deger',
                displayExpr: 'Birim',
                onValueChanged: function (e) {
                }
            });

            $(".txt-birim").dxSelectBox({
                valueExpr: 'Deger',
                displayExpr: 'Birim',
                onValueChanged: function (e) {
                }
            });

            $(".txt-doviz-cinsi").dxSelectBox({
                dataSource:dvzCinsi,
                valueExpr: 'Cins',
                displayExpr: 'Cins',
                onValueChanged: function (e) {
                }
            });
        });

        $('.yenile-buton').click(function () {
            //sayac++;
            if(listeNo!=""){
                PartialView("/Approvals/Price/ListPartial", 'fiyat_listesi_data', JSON.stringify({ listeNo:listeNo }));
            }
        });

        $('.tum-sec-buton').click(function () {
            table.rows().select();
        });

        $('.tum-kaldir-buton').click(function () {
            table.rows().deselect();
        });

        $('.bekleyenler-buton').click(function () {
            $('#x-modal-bekleyen').modal("show");
            $.ajax({
                url: window.location.origin + "/Approvals/Price/ListesiBekleyen",
                data: {},
                type: "post",
                success: function (data)
                {
                    var result = JSON.parse(data);
                    var columns = [
                    { caption: 'Onay Statüsü', dataField: 'HangiOnayda'},
                    { caption: 'Liste No', dataField: 'FiyatListNum'},
                    { caption: 'AltBayi', dataField: 'AltBayi' },
                    { caption: 'Durum', dataField: 'Durum'},
                    { caption: 'Ürün Kodu', dataField: 'MalKodu',  },
                    { caption: 'Ürün Adı', dataField: 'MalAdi' },
                    { caption: 'Hesap Kodu', dataField: 'HesapKodu'},
                    { caption: 'Unvan', dataField: 'Unvan'},
                    { caption: 'Satış Fiyat', dataField: 'SatisFiyat1' },
                    { caption: 'Satış Fiyat Birim', dataField: 'SatisFiyat1Birim'},
                    { caption: 'Döviz Satış Fiyat', dataField: 'DovizSatisFiyat1',  },
                    { caption: 'Döviz Satış Fiyat Birim', dataField: 'DovizSF1Birim' },
                    { caption: 'Döviz Cinsi', dataField: 'DovizCinsi' },
                    ];
                    _grid_quotations_detail = $('.grid_bekleyen_fiyat_listeleri').dxDataGrid({
                        dataSource: result,
                        height: 400,
                        paging: { pageSize: 5000 },
                        columns: columns,
                        headerFilter: {
                            visible: true
                        },
                        popupDetailedWindow: true,
                        columnAutoWidth: true,
                        pagingCounter: true,
                        filterRow: {
                            visible: true,
                            applyFilter: 'auto',
                            applyFilterText: 'Apply filter',
                            resetOperationText: 'Reset'
                        },
                        scrolling: {
                            scrollByContent: true,
                            scrollByThumb: true
                        },
                        allowColumnReordering: true,
                        allowColumnResizing: true,
                        remoteOperations: true,
                        showRowLines: true,
                        hoverStateEnabled: true,
                        rowAlternationEnabled: false,
                        sorting: {
                            mode: "multiple",
                        },
                        onRowPrepared: function (info) {
                            if (info.rowType == 'data') {

                                if (info.rowType != 'header' && info.data.Durum == "Yeni Kayıt")
                                    info.rowElement.css({ "background-color":"#77e27f", "color":"white"});
                                else if (info.rowType != 'header' && info.data.Durum == "Silinecek Kayıt")
                                    info.rowElement.css({ "background-color": "green", "color": "white" });
                                else if (info.rowType != 'header' && info.data.Durum == "Güncellenecek Kayıt")
                                    info.rowElement.css({ "background-color": "#a4a4d8", "color": "white" });
                            }

                        },
                        onRowClick: function (opt) {
                            if (opt.rowType == "data") {
                                var component = opt.component;
                                var prevClickTime = component.lastClickTime;//take last clicked time
                                component.lastClickTime = new Date();
                                if (prevClickTime && (component.lastClickTime - prevClickTime < 300)) {//check their difference, if less than 300  it is a double click
                                    //PartialView("/Approval/PartialTeminatTanim", 'teminat_tanim_data', JSON.stringify({ chk: opt.data.HesapKodu }));
                                }
                            }
                        },
                        onCellPrepared: function (info) {
                            if (info.rowType == "data") {
                                if (info.column.dataField == "Durum" && info.value == "Yeni Kayıt") {
                                    info.cellElement.css({ "background-color": "#ea3d75", "color": "white" });
                                }
                            }
                        }
                    }).dxDataGrid("instance");

                }
            });
        });

        $('.satir-ekle-buton').click(function () {
            fiyatEdit(1);
        });

        $('.satir-sil-buton').click(function () {
            fiyatEdit(2);
        });

        $('.satir-guncelle-buton').click(function () {
            fiyatEdit(3);
        });
        $('.satisfiyat_duzenle').click(function () {
            var index = $(".satisfiyat_duzenle").data("index");
            var dvzSatısFiyat = $(".numb_yeni_satisfiyati").dxTextBox("instance").option("value").replace(/\./g, "").replace(",", ".");
            var dvzBirim = $(".slct_yeni_satisfiyati_birim").dxSelectBox("instance").option("text");
            table.cell(index, 6).data(dvzSatısFiyat);
            table.cell(index, 7).data(dvzBirim);
            fiyatEdit(3);
            $('#x-modal-dovizsatisfiyatduzenle').modal("hide");
            $('#x-modal-satisfiyatduzenle').modal("hide");

        });
        $('.dvzsatisfiyat_duzenle').click(function () {
            var index = $(".dvzsatisfiyat_duzenle").data("index");
            var dvzSatısFiyat = $(".numb_yeni_dvzsatisfiyati").dxTextBox("instance").option("value").replace(/\./g, "").replace(",", ".");
            var dvzBirim = $(".slct_yeni_dvzsatisfiyati_birim").dxSelectBox("instance").option("text");
            var dvzCins = $(".slct_yeni_dvzsatisfiyati_dvzcins").dxSelectBox("instance").option("text");
            table.cell(index, 8).data(dvzSatısFiyat);
            table.cell(index, 9).data(dvzBirim);
            table.cell(index, 10).data(dvzCins);
            fiyatEdit(3);
            $('#x-modal-dovizsatisfiyatduzenle').modal("hide");
            $('#x-modal-satisfiyatduzenle').modal("hide");

        });
        $('.satisfiyat_iptal').click(function () {
            $('#x-modal-satisfiyatduzenle').modal("hide");
        });
        $('.dvzsatisfiyat_iptal').click(function () {
            $('#x-modal-dovizsatisfiyatduzenle').modal("hide");
        });
        
        function fiyatEdit(id) {
            var secili_table = new Array();
            var jObject = {};
            var eklenecek = "";
            jObject["ListeNo"] = $(".select_list_no").dxLookup("instance").option("value");
            jObject["UrunKodu"] = $(".select_urun_kodu").dxLookup("instance").option("value");
            jObject["HesapKodu"] = $(".select_hesap_kod").dxLookup("instance").option("value");
            jObject["SatisFiyat"] = $(".numb-satis-fiyat").dxTextBox("instance").option("value");
            jObject["DovizSatisFiyat"] = $(".numb-doviz-satis-fiyat").dxTextBox("instance").option("value");
            jObject["Birim"] = $(".txt-birim").dxSelectBox("instance").option("text");
            jObject["DovizBirim"] = $(".txt-doviz-birim").dxSelectBox("instance").option("text");
            jObject["BirimValue"] = jObject["Birim"] == null ? -1 : $(".txt-birim").dxSelectBox("instance").option("value");
            jObject["DovizBirimValue"] = jObject["DovizBirim"] == null ? -1 : $(".txt-doviz-birim").dxSelectBox("instance").option("value");
            jObject["DovizCinsi"] = $(".txt-doviz-cinsi").dxSelectBox("instance").option("value");
            jObject["GrupKod"] = GrupKod;
            jObject["Durum"] = id;
            if (id == 1 && (jObject["ListeNo"] == null || jObject["UrunKodu"] == null || (parseFloat(jObject["SatisFiyat"]) == 0 && parseFloat(jObject["DovizSatisFiyat"]) == 0) || (parseFloat(jObject["SatisFiyat"]) > 0 && jObject["Birim"] == null) || (parseFloat(jObject["DovizSatisFiyat"]) > 0 && jObject["DovizBirim"] == null && jObject["DovizCinsi"] == null))) {
                Modaldialog("Girilen değerleri kontrol edin", "Güncelleme İşlemi", "Tamam", "Guncel");
                return;
            }
            if (id == 1) {
                secili_table = [];

                //if (sayac > 0) {
                    //eklenecek = table.rows().data();
                    //if (eklenecek.length > 0) {

                    //    for (var i = 0; i < eklenecek.length; i++) {
                           
                            //if (eklenecek[i])) {
                            //    if (rt.MalKodu == lueMalKodu.EditValue.ToString() && rt.MusteriKodu == "") {
                            //        MessageBasarili.Title = "Uyarı";
                            //        MessageBasarili.lblText.Text = "Ürün Listede Mevcut";
                            //        MessageBasarili.Show();
                            //        return;
                            //    }
                            //}
                            //else {
                            //    if (rt.MalKodu == lueMalKodu.EditValue.ToString() && rt.MusteriKodu == lueHesapKodu.EditValue.ToString()) {
                            //        MessageBasarili.Title = "Uyarı";
                            //        MessageBasarili.lblText.Text = "Ürün Listede Mevcut";
                            //        MessageBasarili.Show();
                            //        return;
                            //    }
                            //}
                    //    }
                    //}
                    //else {
                    //    Modaldialog("Satır Seçmelisiniz.", "Güncelleme & Silme İşlemi", "Tamam", "Guncel");
                    //    return;
                    //}
                //}
                //else {
                //    Modaldialog("Satır Seçmelisiniz.", "Güncelleme & Silme İşlemi", "Tamam", "Guncel");
                //    return;
                //}
            }


            var silinecek = "";
            if (id == 2 || id == 3) {
                //if(sayac>0){
                    silinecek = table.rows('.selected').data();
                    if (silinecek.length > 0) {
                        if (silinecek.length > 50) {
                            Modaldialog("50 Satırdan Fazla Seçemezsiniz.", "Güncelleme & Silme İşlemi", "Tamam", "Guncel");
                            return;
                        }
                        else {
                            secili_table = [];
                            for (var i = 0; i < silinecek.length; i++) {
                                if (id == 3) {
                                    if (silinecek[i]["SatisFiyat1"] > 0) {
                                        if (silinecek[i]["SF1Birim"]=="") {
                                            Modaldialog("Birim Girmelisiniz. Mal Kodu : " + silinecek[i]["MalKodu"], "Güncelleme & Silme İşlemi", "Tamam", "Guncel");
                                            return;
                                        }
                                    }
                                    if (silinecek[i]["DvzSatisFiyat1"] > 0) {
                                        if (silinecek[i]["DovizSF1Birim"] == "") {
                                            Modaldialog("Döviz Birim Girmelisiniz. Mal Kodu : " + silinecek[i]["MalKodu"], "Güncelleme & Silme İşlemi", "Tamam", "Guncel");
                                            return;
                                        }
                                        if (silinecek[i]["SF1DovizCinsi"] == "") {
                                            Modaldialog("Döviz Cinsi Girmelisiniz. Mal Kodu : " + silinecek[i]["MalKodu"], "Güncelleme & Silme İşlemi", "Tamam", "Guncel");
                                            return;
                                        }
                                    }
                                }
                                secili_table.push(silinecek[i]);
                            }
                        }
                    }
                    else {
                        Modaldialog("Satır Seçmelisiniz.", "Güncelleme & Silme İşlemi", "Tamam", "Guncel");
                        return;
                    }
                //}
                //else {
                //    Modaldialog("Satır Seçmelisiniz.", "Güncelleme & Silme İşlemi", "Tamam", "Guncel");
                //    return;
                //}
            }

            $.ajax({
                url: window.location.origin + "/Approvals/Price/SatirEkle",
                data: { Data: JSON.stringify(jObject), Satirlar: JSON.stringify(secili_table) },
                type: "post",
                success: function (data) {
                    if (data == "OK") {
                        $(".select_urun_kodu").dxLookup("instance").option("value", null);
                        $(".select_hesap_kod").dxLookup("instance").option("value", null);
                        $(".numb-satis-fiyat").dxTextBox("instance").option("value", 0);
                        $(".numb-doviz-satis-fiyat").dxTextBox("instance").option("value", 0);
                        $(".txt-birim").dxSelectBox("instance").option("text", "");
                        $(".txt-doviz-birim").dxSelectBox("instance").option("text", "");
                        $(".txt-birim").dxSelectBox("instance").option("value", "");
                        $(".txt-doviz-birim").dxSelectBox("instance").option("value", "");
                        $(".txt-doviz-cinsi").dxSelectBox("instance").option("value", "");
                        Modaldialog("İşlem Başarılı", "Güncelleme İşlemi", "Tamam", "Guncel");
                        window.location.reload();
                    }
                    else if (data == "NO") {
                        Modaldialog("Kayıt sırasında hata oluştu. İşleminiz gerçekleştirilemedi.", "Güncelleme İşlemi", "Tamam", "Guncel");
                        window.location.reload();
                    }
                    else if (data == "MEVCUT") {
                        Modaldialog("Ürün Listede Mevcut.", "Güncelleme İşlemi", "Tamam", "Guncel");
                    }
                }
            });
        }

    </script>
}