<div class="fiyat-list-data" style="width: 100%; box-shadow: 2px 4px 2px #5d5959;">
    <div class="col-md-12" style="width:100%;">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Fiyat Listesi
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
            </div>
            <div class="portlet-body">
                <div class="row p-10">
                    <table class="table table-striped table-bordered table-condensed"  id="sample_1">
                        <thead><tr><th></th><th>Ürün Kodu</th><th>Ürün Adı</th><th>Grup Kodu</th><th>Müşteri Kodu</th><th>Unvan</th><th>Satış Fiyat</th><th>Satış Fiyat Birim</th><th>Döviz Satış Fiyat</th><th>Döviz Satış Fiyat Birim</th><th>Döviz Cinsi</th><th>Birim1</th><th>Birim2</th><th>Birim3</th></tr></thead>
                        <tfoot class="tf-search"><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#x-modal-teminatdurbun').modal("hide");
    var secili_satir = new Array();
    var table = $('#sample_1').DataTable({
        "sDom": 'l<"H"Rf>t<"F"ip>',
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Price/ListesiSelect?listeNo=@ViewBag.ListeNo',
            "dataSrc": function (json) {
                return json;
            },
        },
        "scrollX": true,
        "pagingType": "full_numbers",
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [6, 8] }, { "visible": false, "targets": 0 }],
        "columns": [
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "MalKodu" },
            { "data": "MalAdi" },
            { "data": "GrupKod" },
            { "data": "MusteriKodu" },
            { "data": "Unvan" },
            { "data": "SatisFiyat1", "render": $.fn.dataTable.render.number('.', ',', 6, '') },
            { "data": "SF1Birim" },
            { "data": "DvzSatisFiyat1", "render": $.fn.dataTable.render.number('.', ',', 6, '') },
            { "data": "DovizSF1Birim" },
            { "data": "SF1DovizCinsi" },
            { "data": "Birim1" },
            { "data": "Birim2" },
            { "data": "Birim3" }
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }

    });
    $('#sample_1 .tf-search th').each(function ()
    {
        var title = $('#sample_1 thead th').eq($(this).index()).text();
        if (title != "" && title.indexOf("Tarih") !== -1)
            $(this).html('<input class="form-control input-circle tarih" type="text" placeholder="Ara" />');
        else if (title != "" && title != "Detay" && title != "Hareket")
            $(this).html('<input class="form-control input-circle" type="text" placeholder="Ara" />');
    });
    $("#sample_1 tfoot input").on('keyup change', function () { table.column($(this).parent().index() + ':visible').search(this.value).draw(); });
    //tarih
    $.datepicker.setDefaults($.datepicker.regional["tr"]);
    $(".tarih").datepicker();
    $("#buttons").html("");
    var buttons = new $.fn.dataTable.Buttons(table, {
        buttons: [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
        ]
    }).container().appendTo($('#buttons'));
    $.contextMenu({
        selector: '#sample_1 tbody td',
        callback: function (key, options) {
            var cellIndex = parseInt(options.$trigger[0].cellIndex),
                row = table.row(options.$trigger[0].parentNode),
                rowIndex = row.index();

            switch (key) {
                case 'edit':
                    if (table.cell(rowIndex, 6).data() > 0) {
                        var Birimler = new Array();
                        var stsFiyat = numeral(table.cell(rowIndex, 6).data()).format();
                        var stsBirim = table.cell(rowIndex, 7).data() ;
                        if (table.cell(rowIndex, 11).data().trim().length > 0) {
                            Birimler.push({ "Birim": table.cell(rowIndex, 11).data(), "Deger": 1 })
                        }
                        if (table.cell(rowIndex, 12).data().trim().length > 0) {
                            Birimler.push({ "Birim": table.cell(rowIndex, 12).data(), "Deger": 2 })
                        }
                        if (table.cell(rowIndex, 13).data().trim().length > 0) {
                            Birimler.push({ "Birim": table.cell(rowIndex, 13).data(), "Deger": 3 })
                        }
                        satisFiyatClear();
                        dvzSatisFiyatClear()
                        $('#x-modal-dovizsatisfiyatduzenle').modal("hide");
                        $('#x-modal-satisfiyatduzenle').modal("show");

                        $(".numb_onc_satisfiyati").dxTextBox("instance").option("value", stsFiyat);
                        $(".txt_onc_satisfiyat_birim").dxTextBox("instance").option("value", stsBirim);
                        $(".slct_yeni_satisfiyati_birim").dxSelectBox("instance").option("dataSource", Birimler);
                        $(".satisfiyat_duzenle").data("index", rowIndex);
                        table
                            .rows('.selected')
                            .nodes()
                            .to$()      // Convert to a jQuery object
                            .removeClass('selected');
                        $(this).parent().toggleClass('selected');
                    }
                    else {
                        var Birimler = new Array();
                        var stsFiyat = numeral(table.cell(rowIndex, 8).data()).format();
                        var stsBirim = table.cell(rowIndex, 9).data();
                        var stsDovizCinsi = table.cell(rowIndex, 10).data();
                        if (table.cell(rowIndex, 11).data().trim().length > 0) {
                            Birimler.push({ "Birim": table.cell(rowIndex, 11).data(), "Deger": 1 })
                        }
                        if (table.cell(rowIndex, 12).data().trim().length > 0) {
                            Birimler.push({ "Birim": table.cell(rowIndex, 12).data(), "Deger": 2 })
                        }
                        if (table.cell(rowIndex, 13).data().trim().length > 0) {
                            Birimler.push({ "Birim": table.cell(rowIndex, 13).data(), "Deger": 3 })
                        }
                        satisFiyatClear();
                        dvzSatisFiyatClear()
                        $('#x-modal-satisfiyatduzenle').modal("hide");
                        $('#x-modal-dovizsatisfiyatduzenle').modal("show");

                        $(".txt_onc_dvzsatisfiyat_dvzcins").dxTextBox("instance").option("value", stsDovizCinsi);
                        $(".numb_onc_dvzsatisfiyati").dxTextBox("instance").option("value", stsFiyat);
                        $(".txt_onc_dvzsatisfiyat_birim").dxTextBox("instance").option("value", stsBirim);
                        $(".slct_yeni_dvzsatisfiyati_birim").dxSelectBox("instance").option("dataSource", Birimler);
                        $(".dvzsatisfiyat_duzenle").data("index", rowIndex);
                        table
                            .rows('.selected')
                            .nodes()
                            .to$()      // Convert to a jQuery object
                            .removeClass('selected');
                        $(this).parent().toggleClass('selected');                      
                    }
                    break;
                default:
                    break;
            }
        },
        items: {
            "edit": { name: "Edit", icon: "edit" },
        }
    });

    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });

    setTimeout(function () { $(".dataTables_scrollFoot").insertAfter(".dataTables_scrollHead"); }, 500);

    function satisFiyatClear() {
        $(".numb_onc_satisfiyati").dxTextBox("instance").option("value", "");
        $(".txt_onc_satisfiyat_birim").dxTextBox("instance").option("value", 0);
        $(".slct_yeni_satisfiyati_birim").dxSelectBox("instance").option("value", null);
        $(".numb_yeni_satisfiyati").dxTextBox("instance").option("value", null);
    }

    function dvzSatisFiyatClear() {
        $(".numb_onc_dvzsatisfiyati").dxTextBox("instance").option("value", "");
        $(".txt_onc_dvzsatisfiyat_birim").dxTextBox("instance").option("value", 0);
        $(".txt_onc_dvzsatisfiyat_dvzcins").dxTextBox("instance").option("value", 0);
        $(".slct_yeni_dvzsatisfiyati_birim").dxSelectBox("instance").option("value", null);
        $(".numb_yeni_dvzsatisfiyati").dxTextBox("instance").option("value", null);
        $(".slct_yeni_dvzsatisfiyati_dvzcins").dxSelectBox("instance").option("value", null);
    }
</script>


