@{
    ViewBag.Title = "Fiyat Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{
    <style>
        .btn {
            width: 120px;
            text-align: center;
        }
    </style>
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Fiyat</span></li></ul></div>
<h1 class="page-title">Fiyat Onay SM</h1>

<div class="form-horizontal">
    <div class="form-body">
        <div class="row">
            <label class="col-sm-6 col-xs-12" style="margin:10px 0;color:#f31a1a;font-weight:bold;">
                <input type="checkbox" name="Locked" value="Koleksiyon" id="chkKoleksiyon" /> Koleksiyon ve Kaliteye Göre Onaylama
            </label>
            <label class="col-sm-6 col-xs-12" style="margin:10px 0;color:#f31a1a;font-weight:bold;">
                <input type="checkbox" name="Locked" value="Grup" id="chkGrup" /> Grup, Ebat ve Yüzeye Göre Onaylama
            </label>
        </div>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Fiyat Onay SM
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-success pull-right input-circle onay-buton glyphicon glyphicon-ok"> Onayla </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-danger pull-right input-circle reddet-buton glyphicon glyphicon-remove"> Reddet </button></div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="liste">
                        </div>
                        <div id="listekoleksiyon" style="display:none; ">
                        </div>
                        <div id="listegrup" style="display:none; ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-md-offset-10">
                        <button type="button" class="btn btn-default m-r-20" id="selector">Hepsini Seç</button>
                    </div>
                </div>
            </div>
        </div>
       
        
    </div>
</div>
@section Scripts{
    <script>
        PartialView("/Approvals/Price/SM_List", 'liste');
        function FuncSearchBtn() {
            var Type = $("input[type='checkbox'][name='Locked']:checked").val();
            PartialView("/Approvals/Price/SM_List", 'liste', JSON.stringify({ Durum: Type }));
        }

        $(document).ready(function () {

            $('#chkKoleksiyon').click(function () {
                if (this.checked) {
                    PartialView("/Approvals/Price/SM_List_Koleksiyon", 'listekoleksiyon');
                    $("#listekoleksiyon").css("display", "block");
                    $("#liste").css("display", "none");
                    $("#listegrup").css("display", "none");
                    $("#chkGrup").prop("checked", false);


                }
                else {
                    $("#listegrup").css("display", "none");
                    $("#listekoleksiyon").css("display", "none");
                    $("#liste").css("display", "block");
                    $("#buttons").css("display", "block");
                }


            });

            $('#chkGrup').click(function () {
                if (this.checked) {
                    PartialView("/Approvals/Price/SM_List_Grup", 'listegrup');
                    $("#listegrup").css("display", "block");
                    $("#liste").css("display", "none");
                    $("#listekoleksiyon").css("display", "none");
                    $("#chkKoleksiyon").prop("checked", false);
                }
                else if ($("#chkKoleksiyon").prop("checked") == false) {
                    $("#listegrup").css("display", "none");
                    $("#listekoleksiyon").css("display", "none");
                    $("#liste").css("display", "block");
                    $("#buttons").css("display", "block");

                }

            });
        });
        $('.onay-buton').click(function () {
            secili_table = [];
            if ($("#chkKoleksiyon").prop("checked") == false && $("#chkGrup").prop("checked") == false) {
                var x = table.rows('.selected').data();
                for (var i = 0; i < x.length; i++) {
                    secili_table.push(x[i]);
                }
                if (secili_table.length == 0) {
                    Modaldialog("Satır Seçiniz", "Onay", "Tamam", "Onay");
                    return;
                }
                var _dfd = $.Deferred();
                $.ajax({
                    url: window.location.origin + "/Approvals/Price/Onay_SM",
                    data: { Data: JSON.stringify(secili_table) },
                    type: "post",

                    success: function (data) {
                        if (data.Status == true) {
                            Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-success");
                            setTimeout(function () { window.location.reload(); }, 500);
                           
                        }
                        else {
                            if (data.Message == "") data.Message = "Hata oluştu";
                            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        }
                    }
                });
                return _dfd.promise();
            }
            else if ($("#chkKoleksiyon").prop("checked") == true && $("#chkGrup").prop("checked") == false) {
                var x = table2.rows('.selected').data();
                for (var i = 0; i < x.length; i++) {
                    secili_table.push(x[i]);
                }
                if (secili_table.length == 0) {
                    Modaldialog("Satır Seçiniz", "Onay", "Tamam", "Onay");
                    return;
                }
                var _dfd = $.Deferred();
                $.ajax({
                    url: window.location.origin + "/Approvals/Price/Onay_Koleksiyon_SM",
                    data: { Data: JSON.stringify(secili_table) },
                    type: "post",
                    success: function (data) {
                        if (data.Status == true) {
                            Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-success");
                           setTimeout(function () { window.location.reload(); }, 500);
                        }
                        else {
                            if (data.Message == "") data.Message = "Hata oluştu";
                            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        }
                    }
                });
                return _dfd.promise();

            }
            else if ($("#chkKoleksiyon").prop("checked") == false && $("#chkGrup").prop("checked") == true) {
                var x = table3.rows('.selected').data();
                for (var i = 0; i < x.length; i++) {
                    secili_table.push(x[i]);
                }
                if (secili_table.length == 0) {
                    Modaldialog("Satır Seçiniz", "Onay", "Tamam", "Onay");
                    return;
                }
                var _dfd = $.Deferred();
                $.ajax({
                    url: window.location.origin + "/Approvals/Price/Onay_Grup_SM",
                    data: { Data: JSON.stringify(secili_table) },
                    type: "post",
                    success: function (data) {
                        if (data.Status == true) {
                            Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-success");
                           setTimeout(function () { window.location.reload(); }, 500);
                        }
                        else {
                            if (data.Message == "") data.Message = "Hata oluştu";
                            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        }                    
                    }
                });
                return _dfd.promise();
            }

        });

        $('.reddet-buton').click(function () {
            secili_table = [];
            if ($("#chkKoleksiyon").prop("checked") == false && $("#chkGrup").prop("checked") == false) {
                var x = table.rows('.selected').data();
                for (var i = 0; i < x.length; i++) {
                    secili_table.push(x[i]);
                }
                if (secili_table.length == 0) {
                    Modaldialog("Satır Seçiniz", "Onay", "Tamam", "Onay");
                    return;
                }
                var _dfd = $.Deferred();
                $.ajax({
                    url: window.location.origin + "/Approvals/Price/Red_SM",
                    data: { Data: JSON.stringify(secili_table) },
                    type: "post",
                    success: function (data) {
                        if (data.Status == true) {
                            Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-success");
                           setTimeout(function () { window.location.reload(); }, 500);
                        }
                        else {
                            if (data.Message == "") data.Message = "Hata oluştu";
                            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        }
                    }
                });
                return _dfd.promise();

            }
            else if ($("#chkKoleksiyon").prop("checked") == true && $("#chkGrup").prop("checked") == false) {
                var x = table2.rows('.selected').data();
                for (var i = 0; i < x.length; i++) {
                    secili_table.push(x[i]);
                }
                if (secili_table.length == 0) {
                    Modaldialog("Satır Seçiniz", "Onay", "Tamam", "Onay");
                    return;
                }
                var _dfd = $.Deferred();
                $.ajax({
                    url: window.location.origin + "/Approvals/Price/Red_Koleksiyon_SM",
                    data: { Data: JSON.stringify(secili_table) },
                    type: "post",
                    success: function (data) {
                        if (data.Status == true) {
                            Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-success");
                           setTimeout(function () { window.location.reload(); }, 500);
                        }
                        else {
                            if (data.Message == "") data.Message = "Hata oluştu";
                            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        }
                    }
                });
                return _dfd.promise();
            }

            else if ($("#chkKoleksiyon").prop("checked") == false && $("#chkGrup").prop("checked") == true) {
                var x = table3.rows('.selected').data();
                for (var i = 0; i < x.length; i++) {
                    secili_table.push(x[i]);
                }
                if (secili_table.length == 0) {
                    Modaldialog("Satır Seçiniz", "Onay", "Tamam", "Onay");
                    return;
                }
                var _dfd = $.Deferred();
                $.ajax({
                    url: window.location.origin + "/Approvals/Price/Red_Grup_SM",
                    data: { Data: JSON.stringify(secili_table) },
                    type: "post",
                    success: function (data) {
                        if (data.Status == true) {
                            Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-success");
                           setTimeout(function () { window.location.reload(); }, 500);
                        }
                        else {
                            if (data.Message == "") data.Message = "Hata oluştu";
                            Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        }
                    }
                });
                return _dfd.promise();
            }
        });

        $('.yenile-buton').click(function () {
           setTimeout(function () { window.location.reload(); }, 500);
        });
    </script>
}
