<div class="col-md-12">
    <div class="portlet-body">
        <div class="row m-t-5 m-b-5" id="buttonsgrup" style="margin-bottom:5px; margin-top:5px;"></div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr>
                    <th>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="group-checkable" data-set="#sample_3 .checkboxes" />
                            <span></span>
                        </label>
                    </th>
                    <th> Grup Kod</th>
                    <th> Kalite</th>
                    <th> En </th>
                    <th> Boy </th>
                    <th> Kalınlık </th>
                    <th> Yüzey</th>
                    <th> Liste Adı</th>
                    <th> Satış Fiyat</th>
                    <th> Satış Fiyat Birim</th>
                    <th style="display:none;"></th>
                    <th> Döviz Satış Fiyat</th>
                    <th> Döviz Satış Fiyat Birim</th>
                    <th style="display:none;"></th>
                    <th> Döviz Cinsi</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    var secili_satir = new Array();
    var secili_table = new Array();
    var table3 = $('#sample_3').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Price/SPGMYOnayCekSPGMYGrup',
            "dataSrc": function (json) {
                return json;
            },
        },
        "pagingType": "full_numbers",
        "fixedHeader": true,
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [8, 11] },{ "visible": false, "targets": [10, 13] }],
        "columns": [
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "GrupKod"},
            { "data": "Kalite"},
            { "data": "En"},
            { "data": "Boy"},
            { "data": "Kalinlik"},

            { "data": "Yuzey"},
            { "data": "FiyatListNum"},

            { "data": "SatisFiyat1","render": $.fn.dataTable.render.number('.', ',', 6, '')  },
            { "data": "SatisFiyat1Birim" },

            { "data": "SatisFiyat1BirimInt"},
            { "data": "DovizSatisFiyat1", "render": $.fn.dataTable.render.number('.', ',', 6, '')  },
            { "data": "DovizSF1Birim" },
            { "data": "DovizSF1BirimInt" },
            { "data": "DovizCinsi"},

        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });


    $('#sample_3 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });

    var buttonsgrup = new $.fn.dataTable.Buttons(table3, {
        buttons: [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-xs;' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-xs;' }
        ]
    }).container().appendTo($('#buttonsgrup'));
    $(document).ready(function () {
        $('#buttons').hide();
    });
</script>