@model List<FaturaOnay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">


    $(document).ready(function () {
        //$("#RefreshBtn").click();
        $("#ListType").val("0");
        $("#Refresh").val("Refresh");
        $("#RefreshBtn").click();

        $(".reset-onay-filter").click(function () {
            var rdbValue = $(".rdgrpOnayRed").dxRadioGroup("instance").option("value");
            $("#ListType").val(rdbValue == "OnayBekleyenler" ? "0" : "1");
            $("#Refresh").val("Refresh");
            $("#RefreshBtn").click();

        });
    });

    var radioGroupItems = [
    { text: "Onay Bekleyenler", value: "OnayBekleyenler" },
    { text: "Reddedilenler", value: "Reddedilenler" }
    ];

    $(function () {
        $(".rdgrpOnayRed").dxRadioGroup({
            dataSource: radioGroupItems,
            displayExpr: "text",
            valueExpr: "value",
            value: "OnayBekleyenler",
            layout: "horizontal",
            onValueChanged: function (e) {
                if (e.value == "OnayBekleyenler") {
                    $("#ListType").val("0");
                    $("#Refresh").val("Refresh");


                    //var gridInstance = $("#grid").dxDataGrid("instance");
                    //gridInstance.columnOption("lastName", "visible", false);
                }
                else {
                    $("#ListType").val("1");
                    $("#Refresh").val("Refresh");
                }
                $("#RefreshBtn").click();

            }
        });

    });
</script>
<div class="fatura-content" style="padding: 10px; width: 100%;">
    <div class="bidding-header-menu" style="height:20px; float:left;">
        <div class="reset-onay-filter" title="Sıfırla">
            <span class="REFRESH" style="text-align:'center';"><i class="icon-refresh" style="text-align:center; font-size:24px; color:#e2505a; cursor:pointer;"></i></span>
        </div>
    </div>

    <div class="rdgrpOnayRed" style="float:left; margin-left:20px;">

    </div>
    @using (Ajax.BeginForm("GridPartialRender", "Home", new { }, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "fatura_data"
    }))
    {
        <div id="fatura_data" style="margin-top: 30px;">
            @Html.Partial("_GridPartial", Model)
        </div>

        <input type="submit" id="RefreshBtn" style="display:none;" />
        <input type="hidden" id="Refresh" name="Refresh" />
        <input type="hidden" id="ListType" name="ListType" />
    }
</div>


