
@{
    ViewBag.Title = "Sipariş Onay Yetki Düzenleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{
    <style>
        .dx-tag-remove-button:before, .dx-tag-remove-button:after{
            background-color:white;
        }
        .dx-tag-content {
            background-color: blue;
            color: white;
        }
    </style>
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Kullanıcı İşlemleri</span></li></ul></div>
<h1 class="page-title">Kullanıcı İşlemleri</h1>
<div class="row">
    <div id="liste">
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        PartialView('/SiparisYetki/List', 'liste', "");
    </script>
}
