@model IEnumerable<SipOnayYetkiler>
<div class="fiyat-list-data" style="width: 100%; box-shadow: 2px 4px 2px #5d5959;">
    <div class="col-md-12" style="width:100%;">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sipariş Onay Parametreleri
                </div>
            </div>

            <div class="portlet-body">

                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered table-condensed" id="sample_1" style="width: 100%; box-shadow: 2px 4px 2px #5d5959;">
                            <thead>
                                <tr>
                                    <th style="display:none"></th>
                                    <th>Kullanıcı Adı<br /><input class="w-50 input-circle" type="text" id="sKod" /></th>
                                    <th>Ad Soyad<br /><input class="w-50 input-circle" type="text" id="sAdSoyad" /></th>
                                    <th>Yetki<br /><input class="w-50 input-circle" type="text" id="sUnvan" /></th>

                                    <th class="col-lg-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="display:none">@item.UserID</td>
                                        <td>@item.Kod</td>
                                        <td>@item.AdSoyad</td>
                                        <td>@item.RoleName</td>

                                        <td>
                                            <div class="butondiv pull-right m-t-5"><button class="btn btn-primary pull-right input-circle duzenle-buton"> Düzenle <i class="fa fa-pencil-square-o" style="margin-left:5px;"></i></button></div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var table = $('#sample_1').DataTable({

        "ordering": false,
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "dom": 'lBfrtip',
        "scrollX": true,
        "buttons": [
            { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs' },
            { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs' }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
        //initComplete: function () {
        //    this.api().columns([3, 4]).every(function () {
        //        var column = this;
        //        var select = $('<br /><select class="form-control input-circle" style="max-width:100px;"><option value=""></option></select>')
        //            .appendTo($(column.header()))
        //            .on('change', function () {
        //                var val = $.fn.dataTable.util.escapeRegex($(this).val());
        //                column.search(val ? '^' + val + '$' : '', true, false).draw();
        //            });
        //        column.data().unique().sort().each(function (d, j) { select.append('<option value="' + d + '">' + d + '</option>') });
        //    });
        //}
    });
    $("#sKod").on("change paste keyup", function () { filter(table, 1, $("#sKod").val()); });
    $("#sAdSoyad").on("change paste keyup", function () { filter(table, 2, $("#sAdSoyad").val()); });
    $("#sUnvan").on("change paste keyup", function () { filter(table, 3, $("#sUnvan").val()); });

    $('.duzenle-buton').click(function () {
        $('#modalEditPage').modal('toggle');
        editInModal('/SiparisYetki/YetkiDuzenle/' + $(this).parents("td").siblings().eq(0).text());
    });
</script>
