
@model IEnumerable<Troubleshooting>
<div class="row">
    <div class="col-md-15">
        <div class="faq-section ">
            <h2 class="faq-title uppercase font-blue">Troubleshootıng</h2>

            <div class="panel-group accordion faq-content" id="accordion1">
                @foreach (var item in Model)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-circle"></i>
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href=#@item.ID> @item.Konu</a>
                            </h4>
                        </div>
                        <div id=@item.ID class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> @item.Aciklama </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

