@{
    ViewBag.Title = "Sözleşme Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<style>
    td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;cursor: pointer;}
    tr.shown td.details-control {background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;}
    .btn {
        width: 120px;
        text-align: center;
    }
</style>
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Sözleşme</span></li></ul></div>
<h1 class="page-title">Sözleşme Onay GM</h1>

<div class="form-horizontal">
    <div class="form-body">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sözleşme Onay GM
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-success pull-right input-circle onay-buton glyphicon glyphicon-ok"> Onayla </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-danger pull-right input-circle reddet-buton glyphicon glyphicon-remove"> Reddet </button></div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="liste">
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
@section Scripts{<script type="text/javascript">
    FuncSearchBtn();
    function FuncSearchBtn() {
        $('#liste').html("");
        PartialView('/Approvals/Contract/GM_List', 'liste');
    }
    function newrow(listeno) { return "<table style='background:transparent;' id='new" + listeno + "'></table>"; }
    function format(d) {
        $.ajax({
            type: 'POST',
            url: '/Approvals/Contract/GM_Details',
            data: { "ListeNo": d },
            dataType: "html",
            success: function (data) {
                $('#new' + d.replace("/", "")).html(data);
            }
        });
    }
    $('.onay-buton').click(function () {
        Onayla();
    });
    $('.sil-buton').click(function () {
        SozlesmeSil();
    });
    $('.yenile-buton').click(function () {
       setTimeout(function () { window.location.reload(); }, 500);
    });
</script>
}
