<div class="col-md-12" style="width:100%;">
   
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                   
                </div>
            </div>
            <div class="col-md-6">
             
            </div>
            <table class="table table-striped table-bordered" id="sample_1">
                <thead>
                    <tr>

                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th>Liste No</th>
                        <th>Sıra No</th>
                        <th>Bağlantı Kodu</th>
                        <th>Bağlantı Tutarı</th>
                        <th>Para Birimi</th>
                        <th>Yeni Bağlantı Tutarı</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>Yeni Bitiş Tarihi</th>
                        <th>Müşteri Kodu</th>
                        <th>Sözleşme Notu</th>
                        <th>Kredi Limiti</th>
                        <th>Bakiye</th>
                        <th>Toplam Bakiye</th>
                        <th>Bekleyen Sipariş Tutar</th>
                        <th>Ortalama Vade</th>
                        <th>Alınan Bordro</th>
                        <th>Alınan Bordro Ort. Vade</th>
                        <th>Çek Tutarı</th>
                        <th>Çek Ortalama Vade Tarih</th>
                        <th>Alınan Nakit vb.</th>
                        <th>Toplam Tahsilat</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
    var table = "";
    var secili_satir = new Array();
    var secili_table = new Array();
    $(document).ready(function () {
        table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "ajax": {
                "url": '/Approvals/Contract/OnayCekGM',
                "dataSrc": function (json) {
                    return json;
                },
            },
            //"fixedHeader": true,
            //"scrollX": true,
            "columnDefs": [{ "type": "num-fmt", "className": "dt-right", "targets": [4, 6, 12, 13, 14, 15, 17, 19, 21, 22] }],
            "columns": [

                { "data": null, "defaultContent": '', "className": 'details-control', "orderable": false },
                { "data": "ListeNo"},
                { "data": "SiraNo" },
                { "data": "BaglantiKodu"},
                { "data": "BaglantiTutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') }, 
                { "data": "BaglantiParaCinsi" },
                { "data": "YeniBaglantiTutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') }, 
                { "data": "BasTarih", "render": function (data) { if (data != null) return fromOADate(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } },
                { "data": "BitTarih", "render": function (data) { if (data != null) return fromOADate(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } },
                { "data": "YeniBitTarih", "render": function (data) { if (data != 0) return fromOADate(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } },
                { "data": "MusteriKod" },
                { "data": "Aciklama" },
                { "data": "KrediLimiti", "render": $.fn.dataTable.render.number('.', ',', 2, '') }, 
                { "data": "Bakiye", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "ToplamBakiye", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "BekleyenSiparisTutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "OrtalamaVade" },
                { "data": "AlinanBordro", "render": $.fn.dataTable.render.number('.', ',', 2, '')  },
                { "data": "AlinanBordroOrtalamaVade" },
                { "data": "CekTutari", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "CekOrtalamaVadeTarih", "render": function (data) { if (data != null) return formatDateFromJson(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } },
                { "data": "NakitTutari", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": null, "render": $.fn.dataTable.render.number('.', ',', 2, '') }
            ],
            "ordering": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $('td', nRow).attr('nowrap', 'nowrap');
                if (aData["YeniBaglantiTutar"] > 1) {
                    $('td', nRow).css('background-color', '#f9df63');
                    $('td', nRow).addClass("degisim");
                }
                if (aData["CekTutari"] > 0 || aData["NakitTutari"] > 0) {
                    $('td:last', nRow).text(ondalikBinlik(aData["CekTutari"] + aData["NakitTutari"]),2);
                }
                else {
                    $('td:last', nRow).text("0");
                }
                return nRow;
            }
        });
        $('#sample_1 tbody').on('click', '.details-control', function () {
            var tr = $(this).closest('tr');
            table
                .rows('.aa')
                .nodes()
                .to$()      // Convert to a jQuery object
                .removeClass('aa');
            tr.addClass("aa");
            var x = table.rows('.aa').data();
            var row = table.row(tr);
            if (row.child.isShown()) { row.child.hide(); tr.removeClass('shown'); }
            else { row.child(newrow(x[0].ListeNo)).show(); format(x[0].ListeNo); tr.addClass('shown'); }
        });
        $('#sample_1 tbody').on('click', 'tr', function () {
            table
                .rows('.selected')
                .nodes()
                .to$()      // Convert to a jQuery object
                .removeClass('selected');
            $("tr").find('td').not(".degisim").css('background-color', 'transparent');
            $(".degisim").css('background-color', '#f9df63');
            $(this).find('td').css('background-color', '#B0BED9');
            $(this).toggleClass('selected');
        });
        var buttons = new $.fn.dataTable.Buttons(table, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));
    });
    function Onayla() {
        var x = table.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/Contract/Onay_GM",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",

            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                   setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    if (data.Message == "") data.Message = "Hata oluştu";
                    Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                   setTimeout(function () { window.location.reload(); }, 500);
                }

            }
        });

        return _dfd.promise();
    }
    function SozlesmeSil() {

        var x = table.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/Contract/Sil_GM",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",
            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                   setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    if (data.Message == "") data.Message = "Hata oluştu";
                    Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                   setTimeout(function () { window.location.reload(); }, 500);
                }

            }
        });
        return _dfd.promise();

        //var table12 = $('#sample_1').DataTable();

    }
    $(document).ready(function () {
        $('.buttons-pdf').removeClass('btn btn-default');
        $('.buttons-excel').removeClass('btn btn-default');
    });
</script>