
@using Newtonsoft.Json;
<div class="fiyat-list-data" style="width: 100%; box-shadow: 2px 4px 2px #5d5959;">
    <div class="col-md-12" style="width:100%;">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Fiyat Listesi
                </div>
            </div>

            <div class="portlet-body">

                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered table-condensed"  id="sample_1">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th nowrap>Ürün Kodu</th>
                                    <th nowrap>Ürün Adı</th>
                                    <th nowrap>Grup Kodu</th>
                                    <th nowrap>Müşteri Kodu</th>
                                    <th nowrap>Unvan</th>
                                    <th nowrap>Satış Fiyat</th>
                                    <th nowrap>Satış Fiyat Birim</th>
                                    <th nowrap>Döviz Satış Fiyat</th>
                                    <th nowrap>Döviz Satış Fiyat Birim</th>
                                    <th nowrap>Döviz Cinsi</th>
                                    <th nowrap>Birim1</th>
                                    <th nowrap>Birim2</th>
                                    <th nowrap>Birim3</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#x-modal-teminatdurbun').modal("hide");
    var secili_satir = new Array();
    var secili_table = new Array();
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approval/FiyatListesiSelect?listeNo=' + '@ViewBag.ListeNo',
            "dataSrc": function (json) {
                return json;
            },
        },
        "fixedHeader": true,
        "scrollX": true,
        "columnDefs": [{ "visible": false, "targets": 0 }],
        "columns": [
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "MalKodu" },
            { "data": "MalAdi" },
            { "data": "GrupKod" },
            { "data": "MusteriKodu" },
            { "data": "Unvan" },
            { "data": "SatisFiyat1" },
            { "data": "SF1Birim" },
            { "data": "DvzSatisFiyat1" },
            { "data": "DovizSF1Birim" },
            { "data": "SF1DovizCinsi" },
            { "data": "Birim1" },
            { "data": "Birim2" },
            { "data": "Birim3" }
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }

    });
    $('#sample_1 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });

    $('.refresh-buton').click(function () {
        var x = table.rows('.selected').data();
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/OnayRisk/OnayRiskInsert",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",
            success: function (data) {

            }
        });
        return _dfd.promise();
    });
</script>


