@{
    ViewBag.Title = "Fiyat Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal">
    <div class="form-body">
        <div class="row">
            <label class="col-sm-1" style="width:50%;" >
                <input type="checkbox" name="Locked" value="Koleksiyon" id="chkKoleksiyon" /> Koleksiyon ve Kaliteye Göre Onaylama
            </label>
            <label class="col-sm-1" style="width:50%;" >
                <input type="checkbox" name="Locked" value="Grup" id="chkGrup" /> Grup, Ebat ve Yüzeye Göre Onaylama
            </label>
        </div>
        <div id="liste" style="padding:10px;margin-top:30px; ">
        </div>
        <div id="listekoleksiyon" style="padding:10px;margin-top:30px;display:none; ">
        </div>
        <div id="listegrup" style="padding:10px;margin-top:30px;display:none; ">
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    <script>
        PartialView("/Approval/Fiyat_GM_List", 'liste');

        //PartialView("/Approval/Fiyat_GM_List_Grup", 'listegrup');
      //  PartialView("/Approval/RiskTanimPartial", 'liste');
        function FuncSearchBtn() {
            var Type = $("input[type='checkbox'][name='Locked']:checked").val();
            PartialView("/Approval/Fiyat_GM_List", 'liste', JSON.stringify({ Durum: Type }));
        }

        $(document).ready(function () {

            $('#chkKoleksiyon').click(function () {
                if (this.checked) {
                    PartialView("/Approval/Fiyat_GM_List_Koleksiyon", 'listekoleksiyon');
                    $("#listekoleksiyon").css("display", "block");
                    $("#liste").css("display", "none");
                    

                }
                else
                {
                    $("#listekoleksiyon").css("display", "none");
                    $("#liste").css("display", "block");
                }

               
            });

            $('#chkGrup').click(function () {
                if (this.checked) {
                    var returnVal = confirm("Are you sure?");
                    $(this).prop("checked", returnVal);
                }

            });
        });
    </script>
}