
@{
    ViewBag.Title = "Sözleşme Onay SPMGMY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td.details-control {
        background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;
    }
</style>


<div class="row">
    <div class="container" width="100%">

        <div class="col-md-12">
            <div>

                <div id="GorevGrid" class="p-30"></div>
            </div>

        </div>
    </div>
</div>

<div id="box-content" style="display:none">

</div>
@section Scripts{
    <link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />

    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assets/global/scripts/datatable.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>

    <script type="text/javascript">
        FuncSearchBtn();
        function FuncSearchBtn() {
            $('#GorevGrid').html("");
            PartialView('/OnaySozlesme/_PartialSPGMY', 'GorevGrid');
        }
        function newrow(listeno) { return "<table style='background:transparent;' id='new" + listeno + "'></table>"; }
        function format(d) {
            var html = "<tr style='background: transparent;'><th>Fiyat Listesi</th><th>Ürün Grubu</th><th>Ürün Kodu</th><th>Ürün Adı</th><th>Iskonto1</th><th>Iskonto2</th>< th > Iskonto3</th><th>Iskonto4</th> <th>Iskonto5</th></tr >";
            $.ajax({
                type: 'POST',
                url: '/OnaySozlesme/DetailsSPGMY',
                data: { "ListeNo": d },
                dataType: "html",
                success: function (data) {
                    $('#new' + d).html(data);
                }
            });
        }


    </script>
}
