@model SipOnayYetkiler
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row m-b-10 p-l-15"><span style="text-align:left;font-weight:bold;color: #5bc8d2;font-size:18px;">Kullanıcı :</span><span class="baslik" style="margin-left:20px;text-align:left;font-weight:bold;color: #af9e9e;font-size:14px;"></span></div>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Bölge Kodu Düzenle
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                   
                    <div class="row">
                        <div class="col-md-3 m-l-10" style="line-height:36px;color: #5bc8d2;font-weight:bold;">Bölge Kodları</div>
                        <div class="col-md-8 m-l-20 p-r-10 bas-tipkod"></div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-4 butondiv yetki-btn m-t-5 p-0"><button class="btn btn-primary pull-right input-circle save-buton"> Kaydet <i class="fa fa-pencil-square-o" style="margin-left:5px;"></i></button></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model));
    var ID = "@ViewBag.ID";
    $(".baslik").text(model.AdSoyad);
    $(".yetki-btn").css("display", "none");
    var tiplist = new Array();
    var Kod = @Html.Raw(Json.Encode(Model.AdSoyad));
    var  secilitipkod;



    secilitipkod = model.GostSTKDeger;

    DevExpress.ui.dxOverlay.baseZIndex(20000);


    tipKod = new Array();

    $.ajax({
        url: window.location.origin + "/Users/BolgeKodList",
        data: {},
        type: "post",
        success: function (data)
        {
            var result = JSON.parse(data);
            jQuery.each(result, function (i, val) {

                    var inputAttr = {};
                    inputAttr["BolgeKod"] = val.BolgeKod;
                    inputAttr["Aciklama"] = val.Aciklama;
                    tipKod.push(inputAttr);

            });
            $(".bas-tipkod").dxTagBox({
                dataSource: tipKod,
                placeholder: 'Seçiniz...',
                displayExpr: 'Aciklama',
                valueExpr: 'BolgeKod',
                value: tiplist,
                showSelectionControls: true,
                applyValueMode: "useButtons",
                onValueChanged: function (e) {
                    secilitipkod = "";
                    if (e.value != null && e.value != "")
                    {
                    for (var i = 0; i < e.value.length; i++) {
                        secilitipkod += e.value[i] + ";";
                        }
                    }
                }
            });
            $(".yetki-btn").css("display", "block");
        }
    });
    $('.save-buton').click(function () {

        $.ajax({
            url: window.location.origin + "/Users/BolgeKodUpdate",
            data: { Tipler: secilitipkod, ID: ID, Kod: Kod },
            type: "post",
            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "btn-success");
                    $('#modalEditPage').modal('toggle');
                }
                else {
                    Modaldialog(data.Message, "Kayıt İşlemi", "Tamam", "btn-danger");
                }
            }
        });
    });
</script>