@{
    ViewBag.Title = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Kullanıcı İşlemleri</span></li></ul></div>
<h1 class="page-title">Kullanıcı İşlemleri</h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Kullanıcı Listesi
                </div>
                <div class="col-md-2 pull-right m-t-5">
                    @if (ViewBag.Yetki == true) {<a class="btn btn-default pull-right input-circle" href="#modalEditPage" data-toggle="modal" onclick="editInModal('/Users/New')"> Yeni </a>}
                </div>
            </div>
            <div class="portlet-body form p-40">
                <div class="row m-t-20">
                    <div id="liste">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{<script type="text/javascript">
    var DeleteFunctionUrl = '/Users/Delete';
    FuncSearchBtn();
    function FuncSearchBtn() {
        $('#liste').html("");
        PartialView('/Users/List', 'liste', "");
    }
</script>
}