@model IEnumerable<GetUserPermsFor_Result>
@{
	int i = 0;
}<div class="modal-content">
	<div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="modal-body">
					<h4>Yetkiler</h4>
					<div class="row">
						<div class="col-md-6 col-md-offset-2 bold">Yetki Adı</div><div class="col-md-1 text-center bold">Okuma</div><div class="col-md-1 text-center bold">Yazma</div><div class="col-md-1 text-center bold">Silme</div>
					</div>
					<div class="row m-t-10">
						<div class="col-md-1 col-md-offset-8 text-center">
							<label style="font-size: 1.5em">
								<button id="Reading" type="button" onclick="checkboxChanger('Reading');"><i class="cr-icon fa fa-check"></i></button>
							</label>
						</div>
						<div class="col-md-1 text-center">
							<label style="font-size: 1.5em">
								<button id="Writing" type="button" onclick="checkboxChanger('Writing');"><i class="cr-icon fa fa-check"></i></button>
							</label>
						</div>
						<div class="col-md-1 text-center">
							<label style="font-size: 1.5em">
								<button id="Deleting" type="button" onclick="checkboxChanger('Deleting');"><i class="cr-icon fa fa-check"></i></button>
							</label>
						</div>
					</div>
					<div class="row m-t-10">
						@foreach (var item in Model)
						{
							using (Ajax.BeginForm("SavePerm", "Users", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "finished();", OnFailure = "finished();" }, new { @class = "form-horizontal", id = "frm" + i }))
							{
								@Html.AntiForgeryToken()
								<input name="UserName" type="hidden" value="@ViewBag.UserName" />
								<input name="Updating" type="hidden" />
								<div class="col-md-6 col-md-offset-2"><input class="form-control" name="PermName" type="text" readonly value="@item.PermName.Humanize()" required></div>
								<div class="checkbox col-md-1 text-center">
									<label style="font-size: 1.5em">
										<input class="Reading" name="Reading" type="checkbox" @{if (item.Reading == true) { <text> checked="checked" </text>  }} />
										<span class="cr"><i class="cr-icon fa fa-check"></i></span>
									</label>
								</div>
								<div class="checkbox col-md-1 text-center">
									<label style="font-size: 1.5em">
										<input class="Writing" name="Writing" type="checkbox" @{if (item.Writing == true) { <text> checked="checked" </text>  }} />
										<span class="cr"><i class="cr-icon fa fa-check"></i></span>
									</label>
								</div>
								<div class="checkbox col-md-1 text-center">
									<label style="font-size: 1.5em">
										<input class="Deleting" name="Deleting" type="checkbox" @{if (item.Deleting == true) { <text> checked="checked" </text>  }} />
										<span class="cr"><i class="cr-icon fa fa-check"></i></span>
									</label>
								</div>
							}
							i++;
						}
					</div>
					<div class="row m-t-30">
						<div class="col-md-offset-7 col-md-4">
							<button class="btn btn-primary btn-block" onclick="submit()">Kaydet</button>
						</div>
					</div>
			   </div>
			</div>
		</div>
	</div>
</div>
<script>
	var biten = 0; var r = false, w = false, d = false;
	function submit()
	{
		@for (int j = 0; j < i; j++)
		{
			<text>$("#frm@{@j}").submit();</text>
		}
		$("#div_loading").show();
	}
	function finished()
	{
		biten++;
		if (biten == @i)
		{
			$("#div_loading").hide();
			Modaldialog('Kaydedildi', 'Başarı', 'Tamam', 'btn-success');
			biten = 0;
		}
	}
	function checkboxChanger(k) {
		var tmp = false;
		if (k == "Reading") { tmp = r == true ? false : true; r = tmp; }
		if (k == "Writing") { tmp = w == true ? false : true; w = tmp; }
		if (k == "Deleting") { tmp = d == true ? false : true; d = tmp; }
		$("." + k).prop("checked", tmp);
	}
</script>