@model SipOnayYetkiler
<div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
    <div class="container">
        <div class="row m-b-10 p-l-15"><span style="text-align:left;font-weight:bold;color: #5bc8d2;font-size:18px;">Kullanıcı :</span><span class="baslik" style="margin-left:20px;text-align:left;font-weight:bold;color: #af9e9e;font-size:14px;"></span></div>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sipariş Onay Yetkileri Düzenle
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3 m-l-10" style="line-height:36px;color: #5bc8d2;font-weight:bold;">Hesap Kodu Aralığı</div>
                        <div class="col-md-4 m-l-20 p-r-10 bas-chk"></div>
                        <div class="col-md-4 p-l-10 bit-chk"></div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-3 m-l-10" style="line-height:36px;color: #5bc8d2;font-weight:bold;">Risk Bakiyesi Aralığı</div>
                        <div class="col-md-4 m-l-20 p-r-20 bas-kod3"></div>
                        <div class="col-md-4 p-l-10 bit-kod3"></div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-3 m-l-10" style="line-height:36px;color: #5bc8d2;font-weight:bold;">Risk% Aralığı</div>
                        <div class="col-md-4 m-l-20 p-r-10 bas-risk"></div>
                        <div class="col-md-4 p-l-10 bit-risk"></div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-3 m-l-10" style="line-height:36px;color: #5bc8d2;font-weight:bold;">Tip Kodları</div>
                        <div class="col-md-8 m-l-20 p-r-10 bas-tipkod"></div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-3 m-l-10" style="line-height:36px;color: #5bc8d2;font-weight:bold;">Şirketler</div>
                        <div class="col-md-4 m-l-20 bas-sirket"></div>
                        <div class="col-md-4 butondiv yetki-btn m-t-5 p-0"><button class="btn btn-primary pull-right input-circle save-buton"> Kaydet <i class="fa fa-pencil-square-o" style="margin-left:5px;"></i></button></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model));
    var ID = "@ViewBag.ID";
    $(".baslik").text(model.AdSoyad);
    $(".yetki-btn").css("display", "none");
    var sirketlist = model.GosterilecekSirket.split(";");
    sirketlist.pop();
    var tiplist = model.GostSTKDeger.split(";");
    tiplist.pop();
    var chklist, kod3list, risklist,secilitipkod,secilisirket,secilichk="",secilikod3="",secilirisk="";
    if (model.GostCHKKodAlani == null || model.GostCHKKodAlani == "") {chklist = ["", ""];}
    else { chklist = model.GostCHKKodAlani.split(";"); }
    if (model.GostKod3OrtBakiye == null || model.GostKod3OrtBakiye == "") {kod3list = [0, 0];}
    else {
        kod3list = model.GostKod3OrtBakiye.split(";");
        console.log(kod3list[1]);

        if (kod3list[0] == "") kod3list[0] = 0;
        if (kod3list[1] == "") kod3list[1] = 0;
    }
    if (model.GostRiskDeger == null || model.GostRiskDeger == "") {risklist = [0, 0,];}
    else {
        risklist = model.GostRiskDeger.split(";");
        if (risklist[0] == "") risklist[0] = 0;
        if (risklist[1] == "") risklist[1] = 0;
    }
    secilitipkod = model.GostSTKDeger;
    secilisirket = model.GosterilecekSirket;
    secilichk = model.GostCHKKodAlani;
    secilikod3 = model.GostKod3OrtBakiye;
    secilirisk = model.GostRiskDeger;
    DevExpress.ui.dxOverlay.baseZIndex(20000);
    $(".bas-chk").dxTextBox({
        value: chklist[0],
        onValueChanged: function (e) {
            secilichk = "";
            if (e.value == 0 || "") {
                secilichk += "" + ";"
            }
            else {
                secilichk += e.value + ";"
            }

            if ($(".bit-chk").dxTextBox("instance").option("value") != 0 && $(".bit-chk").dxTextBox("instance").option("value") != "") {
                secilichk += $(".bit-chk").dxTextBox("instance").option("value");
            }
        }
    });
    $(".bit-chk").dxTextBox({
        value: chklist[1],
        onValueChanged: function (e) {
            secilichk = "";
            if ($(".bas-chk").dxTextBox("instance").option("value") == 0 && $(".bas-chk").dxTextBox("instance").option("value") == "") {
                secilichk += "" + ";"
            }
            else {
                secilichk += $(".bas-chk").dxTextBox("instance").option("value") + ";"
            }

            if (e.value != 0 && e.value != "") {
                secilichk += e.value;
            }
        }
    });
    tipKod = new Array();
    var sirkets = [{ state: "Tüm" }, { state: "Tümpa" }];
    $(".bas-sirket").dxTagBox({
        dataSource: sirkets,
        placeholder: 'Seçiniz...',
        displayExpr: 'state',
        valueExpr: 'state',
        value: sirketlist,
        onValueChanged: function (e) {
            secilisirket = "";
            for (var i = 0; i < e.value.length; i++) {
                secilisirket += e.value[i] + ";";
            }
        }
    });
    $(".bas-kod3").dxNumberBox({
        value: kod3list[0],
        min: 0,
        onValueChanged: function (e) {
            secilikod3 = "";
            if (e.value == 0 || e.value == null) {
                secilikod3+="" +";"
            }
            else {
                secilikod3 += e.value + ";"
            }

            if ($(".bit-kod3").dxNumberBox("instance").option("value") != 0 && $(".bit-kod3").dxNumberBox("instance").option("value") != null)
            {
                secilikod3 += $(".bit-kod3").dxNumberBox("instance").option("value");
            }
        }

    });
    $(".bit-kod3").dxNumberBox({
        value: kod3list[1],
        min: 0,
        onValueChanged: function (e) {
            secilikod3 = "";
            if ($(".bas-kod3").dxNumberBox("instance").option("value") == 0 && $(".bas-kod3").dxNumberBox("instance").option("value") == null) {
                secilikod3 += "" + ";"
            }
            else {
                secilikod3 += $(".bas-kod3").dxNumberBox("instance").option("value") + ";"
            }

            if (e.value != 0 && e.value != null) {
                secilikod3 += e.value;
            }
        }
    });
    $(".bas-risk").dxNumberBox({
        value: risklist[0],
        min: 0,
        max: 100,
        onValueChanged: function (e) {
            secilirisk = "";
            if (e.value == 0 || e.value ==null) {
                secilirisk += "" + ";"
            }
            else {
                secilirisk += e.value + ";"
            }

            if ($(".bit-risk").dxNumberBox("instance").option("value") != 0 && $(".bit-risk").dxNumberBox("instance").option("value") != null) {
                secilirisk += $(".bit-risk").dxNumberBox("instance").option("value");
            }
        }
    });
    $(".bit-risk").dxNumberBox({
        value: risklist[1],
        min: 0,
        max: 100,
        onValueChanged: function (e) {
            secilirisk = "";
            if ($(".bas-risk").dxNumberBox("instance").option("value") == 0 && $(".bas-risk").dxNumberBox("instance").option("value") == null) {
                secilirisk += "" + ";"
            }
            else {
                secilirisk += $(".bas-risk").dxNumberBox("instance").option("value") + ";"
            }

            if (e.value != 0 && e.value != null) {
                secilirisk += e.value;
            }
        }
    });

    $.ajax({
        url: window.location.origin + "/Users/TipKodSelect",
                data: {},
                type: "post",
                success: function (data)
                {
                    var result = JSON.parse(data);

                    jQuery.each(result, function (i, val) {
                        if (val.Tip == 2) {
                            var inputAttr = {};
                            inputAttr["Kod"] = val.Kod;
                            tipKod.push(inputAttr);
                        }
                    });

                    $(".bas-tipkod").dxTagBox({
                        dataSource: tipKod,
                        placeholder: 'Seçiniz...',
                        displayExpr: 'Kod',
                        valueExpr: 'Kod',
                        value: tiplist,
                        onValueChanged: function (e) {
                            console.log(e.value);
                            secilitipkod = "";
                            for (var i = 0; i < e.value.length; i++) {
                                secilitipkod += e.value[i] + ";";
                            }
                        }
                    });
                    $(".yetki-btn").css("display", "block");
                }
    });


    $('.save-buton').click(function () {
        console.log(ID);
      $.ajax({
         url: window.location.origin + "/Users/ParametreUpdate",
         data: { CHKAraligi: secilichk, Sirketler: secilisirket, Tipler: secilitipkod, Kod3: secilikod3, Risk: secilirisk, ID :ID},
         type: "post",
         success: function (data) {
         if (data.Status == true) {
             Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Güncelleme");
             setTimeout(function () { window.location.reload(); }, 500);
         }
         else {
             Modaldialog(data.Message, "Kayıt İşlemi", "Tamam", "Uyarı");
         }

         }
     });
    });

</script>


