USE [master]
GO
/****** Object:  Database [BIRIKIM_CACHE]    Script Date: 05.01.2018 12:46:54 ******/
CREATE DATABASE [BIRIKIM_CACHE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIRIKIM_CACHE', FILENAME = N'E:\MsSqlServerData\BIRIKIM_CACHE.mdf' , SIZE = 15360KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BIRIKIM_CACHE_log', FILENAME = N'E:\MsSqlServerData\BIRIKIM_CACHE_log.ldf' , SIZE = 6272KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIRIKIM_CACHE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIRIKIM_CACHE]
GO
USE [BIRIKIM_CACHE]
GO
/****** Object:  Table [dbo].[DB_Aylik_SatisAnalizi]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_Aylik_SatisAnalizi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[Ay] [varchar](50) NOT NULL,
	[Yil2015] [decimal](25, 6) NOT NULL,
	[Yil2016] [decimal](25, 6) NOT NULL,
	[Yil2017] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_Aylik_SatisAnalizi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_Aylik_SatisAnalizi_Tip_Kod_Doviz]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_Aylik_SatisAnalizi_Tip_Kod_Doviz](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[Grup] [varchar](50) NOT NULL,
	[Kriter] [varchar](50) NOT NULL,
	[IslemTip] [int] NOT NULL,
	[Ay] [varchar](50) NOT NULL,
	[Yil2015] [decimal](25, 6) NOT NULL,
	[Yil2016] [decimal](25, 6) NOT NULL,
	[Yil2017] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_Aylik_SatisAnalizi_Tip_Kod_Doviz] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_BakiyeRiskAnalizi]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_BakiyeRiskAnalizi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[HesapKodu] [varchar](50) NOT NULL,
	[Unvan] [nvarchar](250) NOT NULL,
	[Borc] [decimal](25, 6) NOT NULL,
	[Alacak] [decimal](25, 6) NOT NULL,
	[Bakiye] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_BakiyeRiskAnalizi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_BekleyenSiparis_UrunGrubu_Fiyat]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_BekleyenSiparis_UrunGrubu_Fiyat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[GrupKod] [varchar](150) NOT NULL,
	[KalanMiktar] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_BekleyenSiparis_UrunGrubu_Fiyat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_BekleyenSiparis_UrunGrubu_Miktar]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_BekleyenSiparis_UrunGrubu_Miktar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[GrupKod] [varchar](150) NOT NULL,
	[KalanMiktar] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_BekleyenSiparis_UrunGrubu_Miktar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_GunlukSatisAnaliziYearToDay]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_GunlukSatisAnaliziYearToDay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[CHK] [varchar](50) NOT NULL,
	[Unvan] [nvarchar](250) NOT NULL,
	[GenelTutar] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_GunlukSatisAnaliziYearToDay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_LokasyonBazli_SatisAnalizi]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_LokasyonBazli_SatisAnalizi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[Ay] [int] NOT NULL,
	[GrupKod] [nvarchar](250) NOT NULL,
	[Yil2016] [decimal](25, 6) NOT NULL,
	[Yil2017] [decimal](25, 6) NOT NULL,
	[Toplam] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_LokasyonBazli_SatisAnalizi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_LokasyonBazli_SatisAnalizi_Kriter]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_LokasyonBazli_SatisAnalizi_Kriter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[Ay] [int] NOT NULL,
	[Kriter] [varchar](50) NOT NULL,
	[GrupKod] [nvarchar](250) NOT NULL,
	[Yil2016] [decimal](25, 6) NOT NULL,
	[Yil2017] [decimal](25, 6) NOT NULL,
	[Toplam] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_LokasyonBazli_SatisAnalizi_Kriter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_SatisBaglanti_UrunGrubu]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_SatisBaglanti_UrunGrubu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[MalKod] [varchar](50) NOT NULL,
	[KalanTutar] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_SatisBaglanti_UrunGrubu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_UrunGrubu_SatisAnalizi]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_UrunGrubu_SatisAnalizi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[Ay] [int] NOT NULL,
	[GrupKod] [nvarchar](250) NOT NULL,
	[Yil2016] [decimal](25, 6) NOT NULL,
	[Yil2017] [decimal](25, 6) NOT NULL,
	[Toplam] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_UrunGrubu_SatisAnalizi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_UrunGrubu_SatisAnalizi_Kriter]    Script Date: 05.01.2018 12:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_UrunGrubu_SatisAnalizi_Kriter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DB] [varchar](5) NOT NULL,
	[Ay] [int] NOT NULL,
	[Kriter] [varchar](50) NOT NULL,
	[GrupKod] [nvarchar](250) NOT NULL,
	[Yil2016] [decimal](25, 6) NOT NULL,
	[Yil2017] [decimal](25, 6) NOT NULL,
	[Toplam] [decimal](25, 6) NOT NULL,
 CONSTRAINT [PK_DB_UrunGrubu_SatisAnalizi_Kriter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_Aylik_SatisAnalizi]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_Aylik_SatisAnalizi] ON [dbo].[DB_Aylik_SatisAnalizi]
(
	[DB] ASC,
	[Ay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_Aylik_SatisAnalizi_Tip_Kod_Doviz]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_Aylik_SatisAnalizi_Tip_Kod_Doviz] ON [dbo].[DB_Aylik_SatisAnalizi_Tip_Kod_Doviz]
(
	[DB] ASC,
	[Ay] ASC,
	[Grup] ASC,
	[IslemTip] ASC,
	[Kriter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_BakiyeRiskAnalizi]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_BakiyeRiskAnalizi] ON [dbo].[DB_BakiyeRiskAnalizi]
(
	[DB] ASC,
	[HesapKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_BekleyenSiparis_UrunGrubu_Fiyat]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_BekleyenSiparis_UrunGrubu_Fiyat] ON [dbo].[DB_BekleyenSiparis_UrunGrubu_Fiyat]
(
	[DB] ASC,
	[GrupKod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_BekleyenSiparis_UrunGrubu_Miktar]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_BekleyenSiparis_UrunGrubu_Miktar] ON [dbo].[DB_BekleyenSiparis_UrunGrubu_Miktar]
(
	[DB] ASC,
	[GrupKod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_GunlukSatisAnaliziYearToDay]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_GunlukSatisAnaliziYearToDay] ON [dbo].[DB_GunlukSatisAnaliziYearToDay]
(
	[DB] ASC,
	[CHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_LokasyonBazli_SatisAnalizi]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_LokasyonBazli_SatisAnalizi] ON [dbo].[DB_LokasyonBazli_SatisAnalizi]
(
	[DB] ASC,
	[Ay] ASC,
	[GrupKod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_LokasyonBazli_SatisAnalizi_Kriter]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_LokasyonBazli_SatisAnalizi_Kriter] ON [dbo].[DB_LokasyonBazli_SatisAnalizi_Kriter]
(
	[DB] ASC,
	[Ay] ASC,
	[Kriter] ASC,
	[GrupKod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_SatisBaglanti_UrunGrubu]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_SatisBaglanti_UrunGrubu] ON [dbo].[DB_SatisBaglanti_UrunGrubu]
(
	[DB] ASC,
	[MalKod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_UrunGrubu_SatisAnalizi]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_UrunGrubu_SatisAnalizi] ON [dbo].[DB_UrunGrubu_SatisAnalizi]
(
	[DB] ASC,
	[Ay] ASC,
	[GrupKod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DB_UrunGrubu_SatisAnalizi_Kriter]    Script Date: 05.01.2018 12:46:55 ******/
CREATE NONCLUSTERED INDEX [IX_DB_UrunGrubu_SatisAnalizi_Kriter] ON [dbo].[DB_UrunGrubu_SatisAnalizi_Kriter]
(
	[DB] ASC,
	[Ay] ASC,
	[Kriter] ASC,
	[GrupKod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
