<div class="col-md-12" style="width:100%;">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">

                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered" id="sample_1">
        <thead>
            <tr>
                <th></th>
                <th>Hesap Kodu</th>
                <th>Ünvan</th>
                <th>Tip Kodu</th>
                <th>Kredi Limiti</th>
                <th>Bakiye</th>
                <th>PRT Bakiyesi</th>
                <th>Risk%</th>
                <th>Risk Bakiyesi</th>
                <th>Ş.Çek</th>
                <th>T.Çek</th>
                <th>Kod2</th>
                <th>Ortalama Gun</th>
                <th>Kod3 Ort. Gun</th>
                <th>Kod3 Ort. Bakiye</th>
                <th>Sipariş Türü</th>
                <th>Sıcak Sipariş</th>
                <th>Soğuk Sipariş</th>
                <th>Gün İçindeki Sipariş</th>
                <th>Evrak No</th>
                <th>Onay Durumu</th>
                <th>Tarih</th>
                <th>Firma</th>
                <th>Onaylayan</th>
             
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    var secili_satir = new Array();
    var secili_table = new Array();
    var silinecek = new Array();
    var tip1 = "@ViewBag.Tip";
    var bastarih = "@ViewBag.bastarih";
    var bittarih ="@ViewBag.bittarih";

    if (tip1 == "Onaylandı") {
        $(".onay").css("display","none");
    }
    else {
        $(".onay").css("display", "block");
    }

    if (tip1 == "Reddedildi") {
        $(".reddet").css("display", "none");
    }
    else {
        $(".reddet").css("display", "block");
    }
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/TumOrder/TumOrderListData',
            "data": { tip: tip1, bastarih: bastarih, bittarih: bittarih},
            "dataSrc": function (json) {
                return json;
            },
        },
        "pagingType": "full_numbers",
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right" }],
        "columns": [
            {"data": null,"defaultContent": '',"className": 'select-checkbox',"orderable": false},
            { "data": "HesapKodu" },
            { "data": "Unvan" },
            { "data": "TipKodu" },
            { "data": "KrediLimiti", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Bakiye", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "PRTBakiye", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Risk", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "RiskBakiyesi", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SCek", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "TCek", "render": $.fn.dataTable.render.number('.', ',', 2, '')},
            { "data": "Kod2" },
            { "data": "OrtGun", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Kod3OrtGun", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Kod3OrtBakiye", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SiparisTuru" },
            { "data": "SicakSiparis", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SogukSiparis", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "GunIciSiparis", "render": $.fn.dataTable.render.number('.', ',', 2, '') },

            { "data": "EvrakNo"},
            { "data": "OnayDurumu" },
            { "data": "Tarih", "render": function (data) { return data.replace(/\./g, '-')} },
            { "data": "Firma" },
            { "data": "Onaylayan" },
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });
       $('#sample_1 tbody').on('click', 'tr', function () {
           $(this).toggleClass('selected');
       });
    $("#buttons").html("");
    var buttons = new $.fn.dataTable.Buttons(table, {
        buttons: [
            { "extend": 'pdf', "exportOptions": { columns: ':visible' }, "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
            { "extend": 'excel', "exportOptions": { columns: ':visible' }, "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
        ]
    }).container().appendTo($('#buttons'));

    function SiparisOnayla() {
        var x = table.rows('.selected').data();
        secili_table = [];
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/TumOrder/Onayla",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",

            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                    setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    if (data.Message == "") data.Message = "Hata oluştu";
                    Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                    setTimeout(function () { window.location.reload(); }, 500);
                }

            }
        });

        return _dfd.promise();
    }

    function SiparisReddet() {
        var x = table.rows('.selected').data();
        secili_table = [];
        for (var i = 0; i < x.length; i++) {
            secili_table.push(x[i]);
        }
        var _dfd = $.Deferred();
        $.ajax({
            url: window.location.origin + "/Approvals/TumOrder/Reddet",
            data: { Data: JSON.stringify(secili_table) },
            type: "post",

            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                    setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    if (data.Message == "") data.Message = "Hata oluştu";
                    Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                    setTimeout(function () { window.location.reload(); }, 500);
                }

            }
        });

        return _dfd.promise();
    }
</script>
