<div class="col-md-12" style="width:100%;">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">

                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered" id="sample_1">
        <thead>
            <tr>
                <th></th>
                <th>Seçim</th>
                <th>Hesap Kodu</th>
                <th>Ünvan</th>
                <th>Tip Kodu</th>
                <th>Kredi Limiti</th>
                <th>Bakiye</th>
                <th>PRT Bakiye</th>
                <th>Risk%</th>
                <th>Ş.Çek</th>
                <th>T.Çek</th>
                <th>Kod2</th>
                <th>Ortalama Gun</th>
                <th>Kod3 Ort. Gun</th>
                <th>Kod3 Ort. Bakiye</th>
                <th>Sipariş Türü</th>
                <th>Sıcak Sipariş</th>
                <th>Soğuk Sipariş</th>
                <th>Evrak No</th>
                <th>Onay Durumu</th>
                <th>Tarih</th>
                <th>Firma</th>
                <th>Onaylayan</th>
                <th>Gün İçindeki Sipariş</th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="x-modal-ucretred" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#3434cb">Techno Ucret Red</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="redNeden">
                    <div style="width:100%;">
                        <h5 style="color:#de3838;">
                            Red Nedeni
                        </h5>
                    </div>
                    <div class="txtUcretRedNeden">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="mdlSilKapat">Kapat</button>
                <button type="button" class="btn btn-primary" id="mdlSilKayit" data-dismiss="modal">Kaydet</button>
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var secili_satir = new Array();
    var secili_table = new Array();
    var silinecek = new Array();
    var tip1 = "@ViewBag.Tip";
    var table = $('#sample_1').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/TumOrder/TumOrderListData?tip=' + tip1,
            "dataSrc": function (json) {
                return json;
            },
        },
        "columnDefs": [{ "type": "num-fmt", "className": "dt-right" }],
        "columns": [
            { "data": null, "defaultContent": '', "className": 'details-control', "orderable": false },
            { "data": "Secim" },
            { "data": "HesapKodu" },
            { "data": "Unvan" },
            { "data": "TipKodu" },
            { "data": "KrediLimiti" },
            { "data": "Bakiye" },
            { "data": "PRTBakiye" },
            { "data": "Risk" },
            { "data": "SCek" },
            { "data": "TCek", "render": function (data) { if (data != null) return formatDateFromJson(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } },
            { "data": "Kod2" },
            { "data": "OrtGun" },
            { "data": "Kod3OrtGun", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "Kod3OrtBakiye", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
            { "data": "SicakSiparis" },
            { "data": "SogukSiparis" },
            { "data": "GunIciSiparis" },
            { "data": "SiparisTuru" },
            { "data": "EvrakNo", "render": function (data) { if (data != null) return formatDateFromJson(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } },
            { "data": "OnayDurumu" },
            { "data": "Tarih", "render": function (data) { if (data != null) return formatDateFromJson(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; } },
            { "data": "Firma" },
            { "data": "Onaylayan" },
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        }
    });
       $('#sample_1 tbody').on('click', 'tr', function () {
           $(this).toggleClass('selected');
           if ($(this).hasClass("selected")) {
               silinecek.push($("tr").index(this) - 1)
           } else {
               var ind = $("tr").index(this) - 1;
               silinecek = jQuery.grep(silinecek, function (value) {
                   return value != ind;
               });
           }
       });
    $("#buttons").html("");
    var buttons = new $.fn.dataTable.Buttons(table, {
        buttons: [
            { "extend": 'pdf', "exportOptions": { columns: ':visible' }, "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn-xs;' },
            { "extend": 'excel', "exportOptions": { columns: ':visible' }, "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn-xs;' }
        ]
    }).container().appendTo($('#buttons'));
</script>
