@{
    ViewBag.Title = "Çek Onay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <style>
        td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/Content/assets/global/plugins/datatables/images/details_close.png') no-repeat center center;
        }
        .dx-datagrid-headers .dx-row {
            color: white;
            border-bottom: 1px solid #D2D2D2;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
            background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
        }

        .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter:after, .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter:before {
            color: white;
        }
    </style>
}
<div class="form-horizontal">
    <div class="form-body">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cek Onay MIGMY
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons"></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-default pull-right input-circle yenile-buton glyphicon glyphicon-refresh"> Yenile </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-success pull-right input-circle onay-buton glyphicon glyphicon-ok"> Onayla </button></div>
                <div class="col-md-2 pull-right m-t-5"><button class="btn btn-danger pull-right input-circle reddet-buton glyphicon glyphicon-remove"> Reddet </button></div>
            </div>
            <div class="portlet-body">
                <div id="buttons"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-md-12" style="width:100%;">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
 
                                    </div>
                                    <table class="table table-striped table-bordered" id="sample_1">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                        <span></span>
                                                    </label>
                                                </th>
                                                <th> Evrak No </th>
                                                <th> Veren </th>
                                                <th> Ünvan </th>
                                                <th> Borçlu </th>
                                                <th> Borçlu Ünvan </th>
                                                <th> Vade Tarihi</th>
                                                <th> Tutar</th>
                                                <th> Bağlantı Tutar</th>
                                                <th> Bağlantının Ortalama Vadesi</th>
                                                <th nowrap>
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                        <span></span>
                                                    </label>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<div class="modal fade" id="x-modal-migmy-cek-detay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#12ccee">MIGMY ÇEK DETAY</h4>
            </div>
            <div class="modal-body x-padding-inside" id="x-t-s-pe1">
                <div class="grid_migmy-cek-detay">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal" id="mdlCekKapat">Kapat</button>
                @*<button type="button" class="btn red" id="mdlSilKayit" data-dismiss="modal">Kaydet</button>*@
                <div class="label"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var secili_satir = new Array();
        var secili_table = new Array();
        var table = $('#sample_1').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
            "ajax": {
                "url": '/Approvals/Check/MIGMY_List',
                "dataSrc": function (json) {
                    model = json;
                    return json;
                },
            },
            "fixedHeader": true,
            "columnDefs": [{ "visible": false, "targets": 0 }, { "type": "num-fmt", "className": "dt-right", "targets": [7, 8] }],
            "columns": [
                { "data": "ID" },
                { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
                { "data": "EvrakNo"},
                { "data": "Veren"},
                { "data": "Unvan"},
                { "data": "Borclu"},
                { "data": "BorcluUnvan"},
                { "data": "VadeTarihi"},
                { "data": "Tutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "BaglantiTutar", "render": $.fn.dataTable.render.number('.', ',', 2, '') },
                { "data": "BaglantininOrtalamaVadesi", "render": function (data) { if (data != null) return formatDateFromJson(data); else return "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;"; }, "sClass": "nowrap" },
                { "data": null, "defaultContent": '', "className": 'details-control', "orderable": false },
            ],
            "ordering": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $('td', nRow).attr('nowrap', 'nowrap');
                return nRow;
            }
        });

        $('#sample_1 tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });
        $('#sample_1 tbody').on('click', '.details-control', function () {
            var tr = $(this).closest('tr');
            var unvan = "";
            table
                .rows('.aa')
                .nodes()
                .to$()      // Convert to a jQuery object
                .removeClass('aa');
            tr.addClass("aa");
            var x = table.rows('.aa').data();
            jQuery.each(model, function (i, val) {
                if (model[i]["BorcluUnvan"].toString().trim() == x[0].BorcluUnvan.toString().trim()) {
                    unvan = model[i]["BorcluUnvan"].toString().trim();
                }
            });
            $.ajax({
                type: 'POST',
                url: '/Approvals/Check/Onay_Details',
                data: { "Unvan": unvan },
                dataType: "html",
                success: function (data) {
                    $('#x-modal-migmy-cek-detay').modal("show");
                    var result = JSON.parse(data);
                    var columns = [

                        { caption: 'Evrak No', dataField: 'EvrakNo' },
                        {
                            caption: 'Tarih', dataField: 'Tarih',
                            customizeText: function (cellInfo) {
                                if (cellInfo.value != null) return formatDateFromJson(cellInfo.value); else return "";
                            }
                        },
                        { caption: 'Veren', dataField: 'Veren' },
                        { caption: 'Veren Ünvan', dataField: 'VerenUnvan' },
                        { caption: 'Borclu', dataField: 'Borclu' },
                        { caption: 'Borclu Ünvan', dataField: 'BorcluUnvan' },
                        { caption: 'Tutar', dataField: 'Tutar', format: 'fixedPoint', precision: 2 },
                        {
                            caption: 'Bağlantının Ortalama Vadesi', dataField: 'OrtalamaVade',
                            customizeText: function (cellInfo) {
                                if (cellInfo.value != null) return formatDateFromJson(cellInfo.value); else return "";
                            }
                        },
                        { caption: 'Bağlantı Tutarı', dataField: 'BaglantiTutari', format: 'fixedPoint', precision: 2 },
                        {
                            caption: 'Vade Tarih', dataField: 'VadeTarih',
                            customizeText: function (cellInfo) {
                                if (cellInfo.value != null) return formatDateFromJson(cellInfo.value); else return "";
                            }
                        },
                        { caption: 'Son Pozisyon', dataField: 'SonPozisyon' },

                    ];
                    _grid_quotations_detail = $('.grid_migmy-cek-detay').dxDataGrid({
                        dataSource: result,
                        height: 400,
                        paging: { pageSize: 5000 },
                        columns: columns,
                        headerFilter: {
                            visible: true
                        },
                        popupDetailedWindow: true,
                        columnAutoWidth: true,
                        pagingCounter: true,
                        filterRow: {
                            visible: true,
                            applyFilter: 'auto',
                            applyFilterText: 'Apply filter',
                            resetOperationText: 'Reset'
                        },
                        scrolling: {
                            scrollByContent: true,
                            scrollByThumb: true
                        },
                        allowColumnReordering: true,
                        allowColumnResizing: true,
                        remoteOperations: true,
                        showRowLines: true,
                        hoverStateEnabled: true,
                        rowAlternationEnabled: false,
                        sorting: {
                            mode: "multiple",
                        },
                        //onRowPrepared: function (info) {
                        //    if (info.rowType == 'data') {

                        //        if (info.rowType != 'header' && info.data.Durum == "Yeni Kayıt")
                        //            info.rowElement.css({ "background-color":"#77e27f", "color":"white"});
                        //        else if (info.rowType != 'header' && info.data.Durum == "Silinecek Kayıt")
                        //            info.rowElement.css({ "background-color": "green", "color": "white" });
                        //        else if (info.rowType != 'header' && info.data.Durum == "Güncellenecek Kayıt")
                        //            info.rowElement.css({ "background-color": "#a4a4d8", "color": "white" });
                        //    }

                        //},
                        onRowClick: function (opt) {
                            if (opt.rowType == "data") {
                                var component = opt.component;
                                var prevClickTime = component.lastClickTime;//take last clicked time
                                component.lastClickTime = new Date();
                                if (prevClickTime && (component.lastClickTime - prevClickTime < 300)) {//check their difference, if less than 300  it is a double click
                                    //PartialView("/Approval/PartialTeminatTanim", 'teminat_tanim_data', JSON.stringify({ chk: opt.data.HesapKodu }));
                                }
                            }
                        },
                        //onCellPrepared: function (info) {
                        //    if (info.rowType == "data") {
                        //        if (info.column.dataField == "Tarih" && info.value == "VadeTarih") {
                        //            info.cellElement.css({ "background-color": "#ea3d75", "color": "white" });
                        //        }
                        //    }
                        //}
                    }).dxDataGrid("instance");
                }
            });
        });
        $('.onay-buton').click(function () {

            var x = table.rows('.selected').data();
            for (var i = 0; i < x.length; i++) {
                secili_table.push(x[i]);
            }
            var _dfd = $.Deferred();
            $.ajax({
                url: window.location.origin + "/Approvals/Check/Onay_MIGMY",
                data: { Data: JSON.stringify(secili_table) },
                type: "post",

                success: function (data) {
                    if (data.Status == true) {
                        Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                    else {
                        if (data.Message == "") data.Message = "Hata oluştu";
                        Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                }
            });

            return _dfd.promise();
        });

        $('.reddet-buton').click(function () {

            var x = table.rows('.selected').data();
            for (var i = 0; i < x.length; i++) {
                secili_table.push(x[i]);
            }
            var _dfd = $.Deferred();
            $.ajax({
                url: window.location.origin + "/Approvals/Check/Red_MIGMY",
                data: { Data: JSON.stringify(secili_table) },
                type: "post",
                success: function (data) {
                    if (data.Status == true) {
                        Modaldialog(data.Message, "Güncelleme İşlemi", "Tamam", "Guncel");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                    else {
                        if (data.Message == "") data.Message = "Hata oluştu";
                        Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                        setTimeout(function () { window.location.reload(); }, 500);
                    }
                }
            });
            return _dfd.promise();

        });

        $('.yenile-buton').click(function () {
            setTimeout(function () { window.location.reload(); }, 500);
        });

        var table12 = $('#sample_1').DataTable();
        var buttons = new $.fn.dataTable.Buttons(table12, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
            ]
        }).container().appendTo($('#buttons'));
</script>
}