@model List<SatTalep>
@{
    ViewBag.Title = "Sözleşme Tanım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section Styles{<link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<style>
    .input_content {margin-bottom: 3px;height: 40px;line-height: 20px;}
    .input_label {float: left;width: 35%;font-weight: bold;color: #5bc8d2;font-size: 9px;padding-top: 4px;}
    .input {float: left;width: 60%;font-size: 10px;height: 30px;}
    .input_style {background-color: rgba(245, 239, 239, 0.85);padding: 10px;margin: 0;}
    .dx-header-row {background-color: #86d8ea;color: window;}
    .dx-overlay-content.dx-popup-normal.dx-resizable{width:400px;}
    table{margin:0 !important;}
</style>
}
<div class="page-bar"><ul class="page-breadcrumb"><li><a href="/">Anasayfa</a><i class="fa fa-circle"></i></li><li><span>Onaylama</span><i class="fa fa-circle"></i></li><li><span>Satın Alma</span></li></ul></div>
<h1 class="page-title">Satın Alma</h1>
<div class="row">
    <div>
        <div class="col-xs-6 col-sm-6" style="padding:0 2px 0 5px">
            <div class="col-xs-12 col-sm-4" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg blue yenile-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Yenile<i class="fa fa-eraser" style="margin-left:5px;"></i></button></div>
            <div class="col-xs-12 col-sm-4" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg purple onayla-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Onayla<i class="fa fa-binoculars" style="margin-left:5px;"></i></button></div>
            <div class="col-xs-12 col-sm-4" style="padding:0 1px 0 1px"><button type="button" class="btn btn-lg yellow reddet-buton" style="width:99%;font-size:9px; margin-bottom:10px;">Reddet<i class="fa fa-save" style="margin-left:5px;"></i></button></div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div style="position:relative;margin-top:10px;width:100%;height:40px;">
        <div style="float:left;width:20%;margin-left:10px;color:#12ccee;line-height:35px;"><span>Onayda Bekleyen Sipariş Talepleri</span></div>
        <div class="select_onay" style="float:left;width:20%;margin-left:10px;"></div>
        <div style="float:left;width:40%;margin-left:10px;color:#12ccee;line-height:35px;"><span class="musteri_unvan"></span></div>
    </div>
    <div style="position:relative;margin-top:10px;width:100%;height:40px;">
        <div style="float:left;width:20%;margin-left:10px;color:#12ccee;line-height:35px;"><span>Geri Çevirme Açıklaması</span></div>
        <div class="txt_geri_cevirme_aciklamasi" style="float:left;width:60%;margin-left:10px;"></div>
    </div>
</div>
<hr />
<div class="row">
    <div id="satinalma_gm_onay_data">
    </div>
</div>
<div class="row">
    <div id="satinalma_gm_onay_ftd_data">
    </div>
</div>


@section Scripts{<script src="~/Content/assets/global/plugins/moment/moment.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var CHK = "", TLP = "";
    $(document).ready(function () {
        var model = @Html.Raw(Json.Encode(Model));
      
        $(".musteri_unvan").hide();
        $(".txt_geri_cevirme_aciklamasi").dxTextBox({
            maxLength: 250
        });

        $(".select_onay").dxLookup({
            dataSource: model,
            searchEnabled: true,
            pageLoadMode: "nextButton",
            searchExpr: ["HesapKodu", "Unvan","SipTalepNo"],
            //valueExpr: 'Kod',
            displayExpr: 'SipTalepNo',
            onValueChanged: function (e) {
                if (e.value == null) {
                    return;
                }
                CHK = e.value.HesapKodu;
                TLP = e.value.SipTalepNo;
                $(".musteri_unvan").text(e.value.Unvan);
                $(".musteri_unvan").show();
                PartialView("/Approvals/Purchase/SipGMOnayList", 'satinalma_gm_onay_data', JSON.stringify({ HesapKodu: e.value.HesapKodu, SipTalepNo: e.value.SipTalepNo }));
                PartialView("/Approvals/Purchase/SipGMOnayListFTD", 'satinalma_gm_onay_ftd_data', JSON.stringify({ HesapKodu: e.value.HesapKodu, SipTalepNo: e.value.SipTalepNo }));
                setTimeout(function () {
                     $.ajax({
                    url: window.location.origin + "/Approvals/Purchase/BirimDegisimKontrol",
                    data: { hesapKodu: e.value.HesapKodu, talepNo: e.value.SipTalepNo },
                    type: "post",
                    success: function (data) {
                        if (data == 0) {
                            Modaldialog("Stok kartında birim güncellemesi bulunmaktadır. Mevcut talebin reddedilip yeniden oluşturulması gerekmektedir.", "Onay İşlemi", "Tamam", "Onay");
                        }
                        //else {
                        //    $(".musteri_unvan").text(e.value.Unvan);
                        //    $(".musteri_unvan").show();
                        //    PartialView("/Approvals/Purchase/SipGMOnayList", 'satinalma_gm_onay_data', JSON.stringify({ HesapKodu: e.value.HesapKodu, SipTalepNo: e.value.SipTalepNo }));
                        //    PartialView("/Approvals/Purchase/SipGMOnayListFTD", 'satinalma_gm_onay_ftd_data', JSON.stringify({ HesapKodu: e.value.HesapKodu, SipTalepNo: e.value.SipTalepNo }));
                        //}
                    }
                });
                }, 1000);
               
               
            },
            itemTemplate: function (itemData, itemIndex, itemElement) {
                itemElement.css({ "text-align": "left", "border-bottom": "1px solid #2fc1d8" });
                if (itemIndex > 0) {
                    itemElement.css({ "margin-top": "-40px" });
                }
                var rightBlock = $("<div style=' margin: 2px; width:100%;'>");
                rightBlock.append("<div><p style='font-size:11px; font-weight:bold; line-height: 0%;'><b>" + itemData.SipTalepNo + "</b></p>");
                rightBlock.append("<p style='line-height: 0%;font-size:11px;'><span style='font-weight:bold'>HesapKodu: </span><i>" + itemData.HesapKodu + "</i></p><p style='line-height: 0%;font-size:11px;'><span style='font-weight:bold'>Unvan: </span><i>" + itemData.Unvan + "</i></p></div>");
                itemElement.append(rightBlock);
            }
        });

    });

    $('.onayla-buton').click(function () {
        var secimKontrol = $(".select_onay").dxLookup("instance").option("value");
        if (secimKontrol == null) {
            Modaldialog("Sipariş Seçiniz!!", "Hata", "Tamam", "btn-danger");
            return;
        }
        $.ajax({
            url: window.location.origin + "/Approvals/Purchase/BirimDegisimKontrol",
            data: { hesapKodu: CHK, talepNo: TLP },
            type: "post",
            success: function (data) {
                if (data == 0) {
                    Modaldialog("Stok kartında birim güncellemesi bulunmaktadır. Mevcut talebin reddedilip yeniden oluşturulması gerekmektedir.", "Onay İşlemi", "Tamam", "Onay");
                    setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    $.ajax({
                        url: window.location.origin + "/Approvals/Purchase/SipGMOnayla",
                        data: {},
                        type: "post",
                        success: function (data) {
                            if (data.Status == true) {
                                Modaldialog(data.Message, "Onay İşlemi", "Tamam", "Onay");
                                setTimeout(function () { window.location.reload(); }, 500);
                            }
                            else {
                                if (data.Message == "") data.Message = "Hata oluştu";
                                Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                                setTimeout(function () { window.location.reload(); }, 500);
                            }
                        }
                    });
                }
            }
        });
        
    });

    $('.reddet-buton').click(function () {
        var aciklama = $(".txt_geri_cevirme_aciklamasi").dxTextBox("instance").option("value");
        if (aciklama == "") {
            Modaldialog("Geri Çevirme açıklamasını girmek zorundasınız!!", "Hata", "Tamam", "btn-danger");
            return;
        }
      
        $.ajax({
            url: window.location.origin + "/Approvals/Purchase/SipGMReddet?redAciklama=" + aciklama,
            data: {},
            type: "post",
            success: function (data) {
                if (data.Status == true) {
                    Modaldialog(data.Message, "Red İşlemi", "Tamam", "Red");
                    setTimeout(function () { window.location.reload(); }, 500);
                }
                else {
                    if (data.Message == "") data.Message = "Hata oluştu";
                    Modaldialog(data.Message, "Hata", "Tamam", "btn-danger");
                    setTimeout(function () { window.location.reload(); }, 500);
                }
            }
        });
    });

    $('.yenile-buton').click(function () {
        window.location.reload(); 
    });



</script>
}