@using Newtonsoft.Json;
<div class="satinalma_gm_onay_ftd_data" style="width: 100%; box-shadow: 2px 4px 2px #5d5959;">
    <div class="col-md-12" style="width:100%;">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Fatura Detayı
                </div>
                <div class="col-md-1 pull-right m-t-5 p-0" id="buttons2"></div>
            </div>

            <div class="portlet-body">
               
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered table-condensed" id="sample_2">
                            <thead class="aaaaa">
                                <tr>
                                    <th></th>
                                    <th>Aciklama</th>
                                    <th>Oran</th>
                                    <th>Tutar</th>
                                    <th>Doviz Tutar</th>
                                    <th>Doviz Cinsi</th>
                                    <th>Doviz Kuru</th>
                                  
                                    <th>Sira No</th>
                                    <th>SatirTip</th>
                                    <th>DvzTL</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var secili_satir = new Array();
    var secili_table = new Array();
    var silinecek = new Array();
    var table2 = $('#sample_2').DataTable({
        "language": { "url": "http://cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json" },
        "ajax": {
            "url": '/Approvals/Purchase/SipGMOnayListFTDData?HesapKodu=' + '@ViewBag.HesapKodu'+ '&SipTalepNo=' + '@ViewBag.SipTalepNo',
            "dataSrc": function (json) {
                return json;
            },
        },
        "fixedHeader": true,
        "scrollX": true,
        "columnDefs": [{ "visible": false, "width": "10%", "targets": [7, 8, 9] }, { "width": "18%", "targets": [1, 2, 3, 4, 5, 6] }],
        "columns": [
            { "data": null, "defaultContent": '', "className": 'select-checkbox', "orderable": false },
            { "data": "Aciklama" },
            { "data": "IskontoOran" },
            { "data": "Iskonto" },
            { "data": "DovizTutar" },
            { "data": "DovizCinsi" },
            { "data": "DovizKuru" },
           
            { "data": "SiraNo" },
            { "data": "SatirTip" },
            { "data": "DvzTL" }
        ],
        "ordering": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $('td', nRow).attr('nowrap', 'nowrap');
            return nRow;
        },

     });

    $('#sample_2 tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        if($( this ).hasClass( "selected" )){
        silinecek.push($( "tr" ).index( this )-1)
        }else{
            silinecek.splice($( "tr" ).index( this )-1, 1);
        }
    });
    $(document).ready(function () {
        var buttons2 = new $.fn.dataTable.Buttons(table2, {
            buttons: [
                { "extend": 'pdf', "text": '<span class="fa fa-file-pdf-o f-s-15 red"></span>', "className": 'btn btn-default btn-xs;' },
                { "extend": 'excel', "text": '<span class="fa fa-file-excel-o f-s-15 green"></span>', "className": 'btn btn-default btn-xs;' }
            ]
        }).container().appendTo($('#buttons2'));

    });
</script>





