@{
    ViewBag.Title = "GMOnayHTML";
    Layout = "~/Views/Shared/_Layout.Null.cshtml";
}
<style>
    .a {
        border: 1px solid black;
    }

    th {
        border: 2px dotted black;
        text-align: center;
    }

    td {
        border: 2px dotted black;
        text-align: center;
    }
    p{
        line-height:1px;
        font-weight:bold;
        font-size:12px;
    }
</style>
<div class="m-10" style="height: 29.7cm;width: 21cm;">
    <div class="header-logo" style="width:100%;">
        <img src="/Content/images/GMOnayHeader.png" alt="Mountain View" style="width:100%;height:100%;">
    </div>
    <div style="width:100%;height:20px;text-align:center;margin-top:10px;">
        <span style="font-weight:bold;">SATINALMA SİPARİŞ FORMU</span>
    </div>
    <div class="row col-md-12" style="font-size:12px;">
        <div class="col-md-9">
            <div class="row bold m-l-5">Tedarikçi Bilgileri</div>
            <div class="row">
                <div class="a col-md-3">Ünvanı</div>
                <div class="a col-md-9">{3}</div>
            </div>
            <div class="row">
                <div class="a col-md-3">Adresi</div>
                <div class="a col-md-9">{4}</div>
            </div>
            <div class="row">
                <div class="a col-md-3">Tel</div>
                <div class="a col-md-9">{5}</div>
            </div>
            <div class="row">
                <div class="a col-md-3">Fax</div>
                <div class="a col-md-9">{6}</div>
            </div>
            <div class="row">
                <div class="a col-md-3">Email</div>
                <div class="a col-md-9">{7}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <div style="width:50%;float:left;height:20px;"><span style="font-weight:bold;width:120px;">Tarih</span></div>
                <div style="width:50%;float:left;height:20px;text-align:right;"><span style="width:120px;margin-left:8px;">{0}</span></div>
            </div>
            <div>
                <div style="width:50%;float:left;height:20px;"><span style="font-weight:bold;width:120px;">Sipariş No</span></div>
                <div style="width:50%;float:left;height:20px;text-align:right;"><span style="width:120px;margin-left:8px;">{1}</span></div>
            </div>
            <div>
                <div style="width:50%;float:left;height:20px;"><span style="font-weight:bold;width:120px;">Sipariş Tarihi</span></div>
                <div style="width:50%;float:left;height:20px;text-align:right;"><span style="width:120px;margin-left:8px;">{2}</span></div>
            </div>
        </div>
    </div>
    <div class="row col-md-12 m-t-10" >
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Mal Kodu</th>
                    <th>Nal Adı</th>
                    <th>Açıklamalar</th>
                    <th>İstenen Tarih</th>
                    <th>Onaylanan Tarih</th>
                    <th>Miktar</th>
                    <th>Birim</th>
                    <th>Fiyat</th>
                    <th>Tutar</th>
                    <th>Döviz Cinsi</th>
                    <th>Vade</th>
                    <th>Teslim Yeri</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{8}</td>
                    <td>{9}</td>
                    <td>{10}</td>
                    <td>{11}</td>
                    <td>{12}</td>
                    <td>{13}</td>
                    <td>{14}</td>
                    <td>{15}</td>
                    <td>{16}</td>
                    <td>{17}</td>
                    <td>{18}</td>
                    <td>{19}</td>
                    <td>{20}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-md-12 m-t-10">
        <div class="col-md-4" style="float:right;">
            <div class="row">
                <div class="a col-md-6" style="border:none;">Ara Toplam</div>
                <div class="a col-md-4" style="border:none;">{21}</div>
                <div class="a col-md-2" style="border:none;">{22}</div>
            </div>
            <div class="row">
                <div class="a col-md-6" style="border:none;">KDV</div>
                <div class="a col-md-4" style="border:none;">{23}</div>
                <div class="a col-md-2" style="border:none;">{24}</div>
            </div>
            <div class="row">
                <div class="a col-md-6" style="border:none;">Toplam Tutar</div>
                <div class="a col-md-4" style="border:none;">{25}</div>
                <div class="a col-md-2" style="border:none;">{26}</div>
            </div>
        </div>
    </div>

    <div class="row col-md-12 m-t-10">
        <p>LÜTFEN SİPARİŞLERİMİZİ KESİN TESLİM TARİHİ İLE BİRLİKTE TEYİT EDİNİZ.</p>
        <p>İRSALİYE VE FATURA ÜZERİNE SİPARİŞ NUMARASININ MUTLAKA YAZILMASINI RİCA EDERİZ.</p>
        <p>FATURANIZDA BANKA BİLGİLERİNİZİN IBAN NO KULLANILARAK BELİRTİLMESİ HUSUSUNU RİCA EDERİZ.</p>
        <p>İRSALİYESİZ MAL KABULÜ KESİNLİKLE YAPILMAYACAKTIR.</p>
        <p>FİRMAMIZ ADINA KESİLEN FATURALARIN İVEDİLİKLE TARAFIMIZA ULAŞTIRILMASI HUSUSUNU RİCA EDERİZ.</p>
        <p>ÜCRET ALICI GÖNDERİLERİNİZİN AKSİ BELİRTİLMEDİĞİ SÜRECE ARAS KARGO İLE GÖNDERİLMESİNİ RİCA EDERİZ.</p>
    </div>

    <div class="row col-md-12 m-t-10">
        <div class="row">
            <div class="a col-md-4" style="text-align:center;border:none;font-weight:bold;">Satınalma Uzmanı</div>
            <div class="a col-md-4" style="text-align:center;border:none;font-weight:bold;">Genel Müdür Yardımcısı</div>
            <div class="a col-md-4" style="text-align:center;border:none;font-weight:bold;">Genel Müdür</div>
        </div>
        <div class="row">
            <div class="a col-md-4" style="text-align:center;border:none;font-weight:bold;">Çetin Ün</div>
            <div class="a col-md-4" style="text-align:center;border:none;"></div>
            <div class="a col-md-4" style="text-align:center;border:none;"></div>
        </div>

    </div>
</div>


<script>
 

</script>

